[2020-09-15 13:28] bdunne commented on #489
For Backup and restore using Velero:
- [X] https://github.com/ManageIQ/manageiq-pods/pull/626 Annotate volumes that should be backed up
- [ ] https://github.com/ManageIQ/manageiq-pods/pull/619 Allow using a selector to backup a smaller set of only essential resources.

[2020-09-16 20:57] bhadrim commented on #625
@simaishi I am not sure if yum update would work on appliance. I believe the Appstream repo from which the internal postgresql is installed do not have postgresql rpm > 10.6

[root@localhost ~]# yum list postgresql
Last metadata expiration check: 1:16:44 ago on Wed 16 Sep 2020 03:28:35 PM EDT.
Installed Packages
postgresql.x86_64          10.6-1.module_el8.0.0+15+f57f353b          @AppStream

I ch

[2020-09-16 21:12] simaishi commented on #625
I see Red Hat has released 10.14 on Sep 8 (that's 10.6 -> 10.14 update), but that hasn't been released in CentOS yet. So we have to wait for the release on CentOS side... We have never taken postgresql rpm from postgresql.org and I don't really know the difference between what's released there vs what's released in RHEL/CentOS. Unless someone familiar with postgresql can check and make sure everyt

[2020-09-16 21:18] simaishi commented on #625
As for updating rpms, package owning the services should start/stop affected services on update.

[2020-09-16 21:30] bhadrim commented on #625
@simaishi Do you think the AppStream is being updated? I do not see anything after 10.6 on AppStream for 10.x The other repos like postgresql.org and SCL (http://mirror.centos.org/centos/7/sclo/x86_64/rh/Packages/r/) have later builds.

[2020-09-16 21:32] simaishi commented on #625
RHEL is the upstream for CentOS, so CentOS AppStream will be updated. I'm just not sure how soon after RHEL releases a new version...

[2020-09-17 12:53] simaishi commented on #622
@dpkulkarni You can find .src.rpm for ovirt related packages here: https://resources.ovirt.org/pub/ovirt-4.4/rpm/el8/SRPMS. You might be able to build s390x using those rpms.

[2020-09-22 12:43] simaishi commented on #625
@bhadrim FYI, 10.14 is available in CentOS AppStream repo: http://mirror.centos.org/centos/8/AppStream/x86_64/os/Packages/

[2020-09-22 13:54] p-v-a commented on #601
it's not an issue of the manageiq-pods. These secrets (postgresql-secrets, app-secrets, kafka-secret) are hardcoded in
MIQ itself (ManageIQ/manageiq project):
 - lib/container_orchestrator_spec.rb
 - lib/container_orchestrator/object_definition.rb

[2020-09-22 14:30] bhadrim commented on #625
@simaishi Thank you. I will try a yum update on appliance.

[2020-09-23 16:26] Fryguy commented on #598
I've remove the documentation effort, because that has nothing to do with the operator.  Instead I've made https://github.com/ManageIQ/manageiq-documentation/issues/1449 its own card on the roadmap.

[2020-09-23 22:03] jvlcek opened #630 "Need a mechanism to set the OIDC LogLevel"
Currently bumping the log level for ManageIQ container deployments requires touching the source code.
https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/pkg/helpers/miq-components/httpd_conf.go#L235

Changing
LogLevel warn

To:
LogLevel   debug

There should be a mechanism to enable the user to set the OIDC LogLevel without having to modify our source code.

@miq-bot add-label

[2020-09-23 23:02] abellotti commented on #630
I'd think updating the configmap and rebooting the httpd pod should do the trick.

[2020-09-25 08:56] dpkulkarni commented on #622
@simaishi I am trying to build the podified version for ManageIQ on Z.
Now since I have the required images I wanted to build a docker image listed at https://hub.docker.com/r/manageiq/manageiq/dockerfile.
But the base image is being used is `FROM manageiq/manageiq-pods:frontend-${IMAGE_REF}` which is not built as part of the manageiq-pods/bin/build script. What am I missing here?

[2020-09-25 12:07] simaishi commented on #622
The Dockerfifle tab in docker hub is showing the Dockerfile used in the last build trigged through docker hub. We've been pushing images to docker hub rather than building there, and Dockerilfe shown there is outdated.

I've kicked off a new build through docker hub, to get the Dockerfile updated, but it's always safe to go take a look at the actual Docker file in the repo (https://github.com/Mana

[2020-09-28 14:05] vsarana opened #633 "How does one deploy CloudForms distributed deployment with podified CF?"
We have deployed the new podified version of Cloudforms as part of CP4MCM 2.x ,  but we don't see the way to change the cloudforms deployment topology to master-region architecture with podified version being the master and appliance versions are the regions,

For Reference, we are trying to deploy the architecture as described in the deployment planning guide.

https://www.ibm.com/support/knowled

[2020-09-29 13:29] bdunne commented on #633
To set the region, specify the `databaseRegion` in the CR during deployment.  If not specified, it defaults to 0. https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml#L45

[2020-09-29 13:39] bdunne commented on #633
If a remote region were in a podified environment, it would require that the database service be exposed on a node port.  The global region shouldn't require anything extra.

[2020-09-29 13:45] bdunne commented on #633
If you want to use an external database rather than deploying it in the application namespace, create a database secret containing the connection information and that will be used instead. https://github.com/ManageIQ/manageiq-pods/tree/master/manageiq-operator#configuring-external-postgres

[2020-10-01 11:30] dpkulkarni commented on #622
I have build the `python3-ovirt-engine-sdk4` rpm for s390x but how to make it available  in ` https://resources.ovirt.org/pub/ovirt-4.4/rpm/el8` to include this while building docker image.
python3-ovirt-engine-sdk4-4.4.4-1.el8.s390x.rpm

[2020-10-01 12:10] simaishi commented on #622
You can't put the RPMs to ovirt repo, as that's not owned by us. But RPMs can be placed to any repo, including your local repo along with manageiq-* rpms. So that will be the way to test.

Once confirmed working, we can probably add to manageiq yum repo. cc @bdunne

[2020-10-01 12:14] chessbyte commented on #622
@dpkulkarni ovirt is an open-source project, so you can make PRs there to see if they will accept your contributions

[2020-10-01 21:48] Fryguy opened #635 "Create an image build Dockerfile that includes the VDDK"
While we can't actually build with the VDDK, we _can_ create a Dockerfile given someone has the VDDK and we can fetch it.  Not sure if an ARG with a URL is the best way or a COPY command, but having a Dockerfile would make the steps to rebuild the image including the VDDK much simpler.

@miq-bot add-label enhancement

[2020-10-05 21:55] bdunne commented on #489
Closing for now since #619 enables backup and restore using Velero

[2020-10-05 21:55] #489 closed

[2020-10-06 11:19] dpkulkarni commented on #622
I built the RPMs as below and able to get ManageIQ running.
[code]
These can be put in some local repo or if you could add it to manageiq yum, pls suggest
![image](https://user-images.githubusercontent.com/64318450/95195209-dcee8a80-07f3-11eb-87e7-448aaae9c4e0.png)

[2020-10-08 17:44] gtanzillo commented on #633
Closing since the original question was answered

[2020-10-08 17:44] #633 closed

[2020-10-12 08:53] dpkulkarni commented on #622
@simaishi
How to go on the `ovirt-ansible*` RPMs for s390x. Will you be able to add to manageiq yum repo?
The above RPMs are no-arch can work for s390x.

[2020-10-12 13:29] simaishi commented on #622
Just to confirm... so s390x build doesn't find ovirt-ansible-* rpms during build? I thought the build had a problem with `python3-ovirt-engine-sdk4` only.

[2020-10-13 09:16] dpkulkarni commented on #622
@simaishi

I checked with Ovirt community on adding s390x RPMs, please check their response (https://github.com/oVirt/ovirt-ansible-collection/issues/137)

[2020-10-13 09:18] dpkulkarni commented on #622
No they do not have s390x rpms

[2020-10-13 11:58] simaishi commented on #622
ovirt-ansible-* RPMs are `noarch` meaning we don't need to have RPM per architecture and we can all use the exact same RPM. That's why I mentioned you should only need to build python3-ovirt-engine-sdk4, which is not noarch.

Please share the build log. I'm not really sure why it's not finding the those ovirt-ansible RPMs. I assume you're running the build with `-l` or `-b` option?  When you run t

[2020-10-19 09:45] dpkulkarni commented on #622
@simaishi please find the build logs
I have **not** commented out `ovirt-ansible-roles and v2v-conversion-host-ansible` in rpm_spec/subpackages/manageiq-gemset in manageiq-rpm_build

[build_log_manageiq-base.txt](https://github.com/ManageIQ/manageiq-pods/files/5400804/build_log_manageiq-base.txt)

[2020-10-19 12:32] simaishi commented on #622
@dpkulkarni Your Dockerfile has `https://resources.ovirt.org/pub/yum-repo/ovirt-release44.rpm` inside `if [ ${ARCH} != "s390x" ]`, so you won't get ovirt-ansible-* rpms. Please move that outside of the if statement (just like epel one).

[2020-10-19 14:02] dpkulkarni commented on #622
@simaishi
I have built the images with just `python3-ovirt-engine-sdk4-4.4.4-1.el8.s390x.rpm` keeping in my local env.
What would be the best way to make this RPM available for s390x build ?

Also I wanted to check with you whether I need to build "manageiq-operator:latest" as this is currently failing for s390x. (operator-sdk  not available)
[code]

[2020-10-19 14:09] simaishi commented on #622
I think we can add to our yum repo since it's not available anywhere else. @bdunne are you ok with that?

You have to install `operator-sdk` on the build machine. I'm not sure exactly which version is supported and not, but our build machine has v0.15.2 installed.

[2020-10-19 19:08] bdunne commented on #622
If ovirt won't host it, I guess we have to in order to support s390x architecture.
Do you know how often we will have to build this?

[2020-10-19 19:35] gtanzillo opened #638 "ManageIQ Operator P1 Issues for Lasker"
The following issues are designated as priority 1 for Lasker

- [x] [Use NetworkPolicy to restrict traffic between pods](https://github.com/ManageIQ/manageiq-pods/issues/590) (Brandon)
- [x] [Handle upgrades](https://github.com/ManageIQ/manageiq-pods/issues/565) (Brandon)

[2020-10-19 21:08] simaishi commented on #622
I see it's been built 3 times this year (patch version update, 4.4.2 -> 4.4.3 -> 4.4.4). It's not that newer version is required for our build. But if we want to make sure all architectures always have the exact same version, we need some mechanism to monitor the new releases...

[2020-10-20 18:26] simaishi commented on #522
@Fryguy Since we added support for productization yum repo for appliances in https://github.com/ManageIQ/manageiq-appliance-build/pull/446, I assume we want to add to pods build too?

[2020-10-20 19:09] simaishi commented on #625
@bhadrim Is there anything still outstanding for this issue?

[2020-10-20 23:59] bhadrim commented on #625
No, Thank you.

[2020-10-20 23:59] #625 closed

[2020-10-21 14:43] #598 closed

[2020-10-21 17:14] dpkulkarni commented on #622
@simaishi @bdunne
What would be my next steps? I need to modify the Dockerfile according to where the `python3-ovirt-engine` would be placed and then raise PR for manageiq-base image

[2020-10-23 21:09] Fryguy opened #640 "[Podified] Create autoscalers for all workers"
In podified we should add the ability to autoscale workers based on CPU/Memory and arbitrary metrics (like queue depth).  When we can autoscale we should prefer that over our settings based worker counts.

- Horizontal Pod Autoscalers - https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/
- Autoscaling on custom metrics - https://kubernetes.io/docs/tasks/run-application/horiz

[2020-11-05 22:50] gtanzillo opened #650 "Orchestrator should migrate the database"
When upgrading podified ManageIQ to a version that includes database migrations, the orchestrator should run them
@miq-bot add-label enhancement

[2020-11-06 16:57] #650 closed

[2020-11-09 13:36] dpkulkarni commented on #622
@simaishi any inputs to place the RPM ?

[2020-11-09 18:24] bdunne commented on #622
Hi @dpkulkarni we're going to try to get Travis set up to build the RPMs so that we can easily rebuild as needed.

[2020-11-11 16:34] Fryguy opened #652 "postgresql secret needs to support SSL certs"
If connecting to an external Postgres, there seems to be no way to specify SSL certs for the connection.  If possible, can we extend the secret to include certs, or perhaps another secret that holds the certs?

For example, if I want to point to an IBM Cloud database, then the parameters that you need for connecting and using IBM Databases for PostgreSQL

- Hostname/address
- Port
- Maintenance da

[2020-11-12 15:32] dpkulkarni commented on #622
@bdunne
Do you have the s390x env for the Travis setup to build the RPMs?

[2020-11-12 15:51] bdunne commented on #622
It looks like it should be available.  https://docs.travis-ci.com/user/multi-cpu-architectures/#multi-cpu-availaibility

[2020-11-18 11:29] p-v-a commented on #583
The way memcached works is that it doesn't need load balancer in front. LB is part of the protocol, so to make it works memcached should be deployed using headless service.

This however spells troubles for ManageIQ, because it relies on environment variable MEMCACHED_SERVICE_HOST and MEMCACHED_SERVICE_PORT to discover memcached. The catch is that when service is headless, kubernetes doesn't defin

[2020-11-19 06:02] dpkulkarni commented on #622
@bdunne When are you planning to build the RPMs on Travis so that I can raise PR?

[2020-11-25 15:12] dpkulkarni commented on #622
@simaishi @bdunne Do you have any plans on this request?

[2020-11-30 15:31] #590 closed

[2020-12-02 16:22] simaishi commented on #622
Changing the assignee to @bdunne as he'll be working on building RPMs in Travis.

[2020-12-04 17:21] Fryguy opened #659 "Cycle the httpd pod when the ext auth conf is changed"
If the ext auth configmap/secret is changed, there is no mechanism to automatically cycle the httpd pod.  If there is a way to do that with kubernetes objects directly, we should wire that up, otherwise the operator should do that by watching the secret.

@miq-bot add-label enhancement

[2020-12-08 16:05] #638 closed

[2020-12-18 08:29] dpkulkarni opened #665 "RPMs/Packages not available on s390x UBI8"
As discussed with @simaishi there are some RPMs not available on s390x UBI8 due to which the build cannot be generated on s390x and using RHEL repos is not recommended.

Opening this thread to come up a way with rpms not available by default as they need to be publicly available on s390x.

Some of the packages not available on UBI8 are
[code]

[2020-12-18 08:30] dpkulkarni commented on #665
Please refer to some discussions here https://github.com/ManageIQ/manageiq-rpm_build/pull/123

[2020-12-23 14:32] bdunne commented on #584
Fixed by: https://github.com/ManageIQ/manageiq-pods/pull/656

[2020-12-23 14:32] #584 closed

[2020-12-24 00:18] bdunne commented on #635
Closing as duplicate of https://github.com/ManageIQ/manageiq-pods/issues/538

[2020-12-24 00:18] #635 closed

[2021-01-05 15:46] dpkulkarni commented on #665
Closing this as this issue had to be opened in another repo

[2021-01-05 15:46] #665 closed

[2021-01-06 15:14] #538 closed

[2021-01-07 22:05] NickLaMuro commented on #652
So I did a little research into adding SSL cert support in our pods, and here is what I found:

For connecting to the database, we override the `config/database.yml` using the `DATABASE_URL` environment variable, configured here:

https://github.com/ManageIQ/manageiq-pods/blob/b856d2d3/images/manageiq-base/container-assets/container_env#L12

So any change necessary to support this will most likely

[2021-01-11 22:16] gtanzillo opened #668 "Generate metrics for autoscaling"
Placeholder issue, will update upon further discussion

[2021-01-11 22:21] gtanzillo commented on #599
Closing this epic issue as we are tracking the individual issues separately on the roadmap.

[2021-01-11 22:21] #599 closed

[2021-01-29 09:07] click2cloud-vivekg opened #672 "Azure Provider Last Refresh Error"
Hi, we are getting an error in the container it failed to encode ASCII-8BIT to UTF-8. These issues occur only in Azure Provider

Failed to encode

"\xEF" from ASCII-8BIT to UTF-8

[----] E, [2021-01-29T08:56:34.850698 #12923:10525fc] ERROR -- : [Encoding::UndefinedConversionError]: "\xEF" from ASCII-8BIT to UTF-8  Method:[block (2 levels) in <class:LogProxy>]
[----] E, [2021-01-29T08:56:34.989466

[2021-01-29 14:30] chessbyte commented on #672
@agrare @djberg can you investigate?

[2021-01-29 14:33] agrare commented on #672
At first glance this doesn't appear to be a pods issue, more likely an azure refresh failure.

@click2cloud-vivekg could you post the full log from the start of the refresh through the error please?  If it does turn out to be just a refresh error I'll transfer this issue over to https://github.com/ManageIQ/manageiq-providers-azure

[2021-01-29 15:07] evertmulder opened #673 "Perform a rolling upgrade when updating the CONTAINER_IMAGE_TAG to another version"
Currently we update our production environment quite often. When using the orchestrator and updating the CONTAINER_IMAGE_TAG to a newer version every pod is removed first and recreated, leading to at least 2-3 min of downtime of the API and UI. It would be nice up the existing deployment would be updated triggering an rolling update.
This would be especially useful for the UI and Webservice worker

[2021-02-01 04:43] click2cloud-vivekg commented on #672
Here are logs

[----] I, [2021-02-01T04:00:57.819974 #162:ddc5fc]  INFO -- : MIQ(MiqEvent#process_evm_event) target = [#<ManageIQ::Providers::Azure::CloudManager id: 59, name: "miq-dev-azure", created_on: "2021-01-29 09:40:2
6", updated_on: "2021-02-01 03:10:04", guid: "19cb927e-14c2-451e-9958-16e4ce3452d7", zone_id: 2, type: "ManageIQ::Providers::Azure::CloudManager", api_version: nil, uid_ems: "

[2021-02-01 14:25] agrare commented on #672
Hm we still need more than that, looks like that just included two events that were raised.

You should see `Refreshing all targets...` as the start of the refresh, you can also filter by just the refresh worker by grep'ing for the worker PID e.g. `grep #30214 log/evm.log`

[2021-02-02 14:38] bdunne commented on #673
@jrafanie Would it make sense to tie these worker deployments to something like the CR rather than the orchestrator deployment? Would a new orchestrator be able to pickup and update the existing worker deployments?

[2021-02-02 18:31] Fryguy commented on #673
I like the idea of being able to bounce the orchestrator independently from the workers.  I think tying the workers to the CR would work.

[2021-02-03 14:37] jrafanie opened #676 "[Podified] Upgrades: handle updates to CRs with new CRD settings"
Problem:  If we adopt new default values for the cpu or memory limit/request or nearly any value we have defined the [CRD](https://github.com/ManageIQ/manageiq-pods/blob/89efdbe14731a17b4eb33777725d9562aa5fac44/manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml#L31-L276) for a pod, an upgrade will not update these values in an existing CR.

@bdunne has brainstormed something like databa

[2021-02-03 15:06] Fryguy commented on #676
:+1: for migrations.  @bdunne Do you have a design?  If not, let's build one here.

[2021-02-04 03:55] vbudi000 commented on #430
Hi - My customer deploying CloudForms into their production node and encounter this problem. Can it be fixed without re-deploying this whole component? Should I create a separate git issue?

Thank you

[2021-02-04 21:00] bdunne opened #678 "[RFE] Egress Network policies"
We currently have Ingress network policies, we should probably add Egress network policies for completeness.
- default deny?
- allow all outbound traffic for workers

[2021-02-04 23:47] bdunne commented on #430
This is usually caused by either:
- The database being initialized and possibly migrated, but not seeded.  This can happen in slow environments if the orchestrator gets killed before the initial setup is finished.
- The GUID env var does not match the MiqServer record in the database.  This should be resolved in kasparov now that we store the GUID in the CR.

What version are you running?

[2021-02-08 15:48] Fryguy commented on #652
Closed via https://github.com/ManageIQ/manageiq-pods/pull/674 and https://github.com/ManageIQ/manageiq/pull/21005

[2021-02-08 15:48] #652 closed

[2021-02-08 17:04] bdunne commented on #676
My thought was to copy Rails database migrations.  We would use timestamped migrations and we would have to store the list of "migrations ran" on the CR.  Then at operator startup, the first thing it would do is upgrade the CR using any migrations that have not yet been run.  Timestamped migrations would allow for downstream code injection.  Also, migrations would have to know any previous default

[2021-02-09 19:02] Fryguy commented on #676
I'm assuming we would store the migrations_ran in the CR's status as opposed to spec?

[2021-03-10 14:08] Fryguy commented on #624
We were intentionally using 0.something because of downstream limitations.  I don't know if that's still an issue.  @bdunne might know.

[2021-03-10 14:17] bdunne commented on #624
Downstream we are using 0.17 because it added support for a feature we needed.  I think we stuck with 0.15 upstream because of an OpenShift version requirement.

[2021-03-10 22:02] jrafanie opened #695 "container_env is relatively slow"
Using the following script to profile bash, we can see 3 commands make container_env slow:

[code]
https://gist.github.com/jrafanie/56273d25ac84fefa54f8c2299c79ac7e

EDIT: this brilliant hack came from this: https://stackoverflow.com/a/5015179

1) gem env path 0.32888 from the gemset enable
2) 2 calls to CGI escape the DB user and password, roughly 0.14 seconds each

![Screen Shot 2021-03-10 at 4

[2021-03-11 14:54] Fryguy commented on #695
The `gem env path` comes from here: https://github.com/ManageIQ/manageiq-rpm_build/blob/8f66a73a18dffbc73af613e4ce5dd611e7d75c1e/rpm_spec/manageiq.spec.in#L54 .  The purpose of this enable script is when the gemset rpm is enabled, we need to prepend our gemset gem path to the existing gem path.  However, at this point, GEM_PATH is not yet defined, so we need to figure out what the current one is.

[2021-03-11 14:56] Fryguy commented on #695
For the CGI.escape, https://github.com/ManageIQ/manageiq-pods/pull/694 will cut the time a bit.  If we really care to make it faster we can also just smash the 2 separate calls into a single call which should give us another 2x (since the expensive part is starting ruby itself).  Alternatively, there might be a shell function we can grab to avoid ruby altogether.

[2021-03-11 15:02] Fryguy commented on #695
@jrafanie For the gem env path, I'm seeing roughly 50% improvement locally if I do this:

[code]

cc @NickLaMuro

[2021-03-16 13:35] Fryguy opened #697 "[RFE] Aggregated Logging"
We should add aggregated logging if one isn't configured on the cluster.  I'm not sure if we can do this without having privileged, but perhaps we can ship the logs elsewhere if configured (manageiq-loggers has CloudWatch support, but we can probably support shipping to just about any target).

This would help us with diagnostics, and also might fix some bugs, such as the automate logs not being a

[2021-03-18 14:52] Fryguy commented on #697
Added to #595 as well

[2021-03-19 15:12] Fryguy opened #699 "Dependent containers should store a manifest of the git SHA and date"
In order to ensure that a particular build has the changes expected, we store a manifest of the git SHAs and dates.  However, the dependent containers below do not have this, so we should add it.

- [x] https://github.com/ManageIQ/container-httpd/issues/55
- [x] https://github.com/ManageIQ/container-httpd-init/issues/10
- [x] https://github.com/ManageIQ/container-postgresql/issues/24
- [x] https:/

[2021-03-26 18:44] Fryguy commented on #699
All done!

[2021-03-26 18:44] #699 closed

[2021-04-06 15:46] Fryguy opened #707 "Add manifest of operator build"
It would be helpful from an audit perspective to have which packages are present in the actual operator build.  Speaking with @bdunne we can get this list from `go build -v`, but that would somehow have to come through the operator-sdk build.

This list is useful to start, but ideally, if we can cross reference with the go.sum file, then we can get the versions as well.  From there, if we can find

[2021-04-06 18:34] Fryguy commented on #695
cc @kbrock - This is what I was talking about with respect to gem env... hardcoding the paths will eliminate the minor performance blip here.

[2021-04-06 22:57] kbrock commented on #695
yea. I was concerned about this at first but it makes a lot of sense for locking things down and happens to have a performance boost also.

[2021-04-06 23:13] kbrock commented on #695
yea - I changed that one line and it makes a big difference.
Since I would like our path to be more locked down, this works for me.

The change I was proposing is: https://github.com/ManageIQ/manageiq-appliance/pull/309/files

[code]

[2021-04-12 14:07] jrafanie commented on #695
I'm good with implementing improvements.  It looks like there are logical non-performance reasons to do that PR.  Maybe we'll watch that PR and close this if those logical changes have the side effect of improving the performance as described above.

[2021-05-05 16:29] Fryguy opened #715 "httpd pod should be restarted if the associated secret/configmap is modified"
If it's possible, we should restart the httpd pod when the dependent configuration (oidc secret, httpd-configs configmap, etc) is changed.

@miq-bot add-label enhancement

[2021-06-04 14:30] kbrock commented on #531
this redirect from one server to another behavior is handled by cockpit-bridge. But running a cockpit webservice (which was designed to run from systemd not from the command line as a worker) handles administration of the local process, as well. This doesn't seem like the intent I understood from what little I've read.

[2021-06-04 17:16] kbrock commented on #695
Is there a way to find out if this has been resolved?

[2021-06-04 21:20] bdunne opened #724 "[RFE] Allow SSL/TLS communication between pods"
- [x] Route -> HTTPD https://github.com/ManageIQ/manageiq-pods/pull/745
- [x] HTTPD -> UI
  - [x] httpd Container https://github.com/ManageIQ/container-httpd/pull/61
  - [x] UI Container https://github.com/ManageIQ/manageiq-pods/pull/723
  - [x] Operator / orchestrator UI pod httpd config
    - [x] Orchestrator: https://github.com/ManageIQ/manageiq/pull/21527
    - [x] Operator: https://github.com

[2021-06-07 18:44] jrafanie commented on #695
yeah, I provided the script in the description... run it in a new pod and see if any step is > 0.1 second... set+x shows it in seconds, so look for gaps of > 0.1 second.

[2021-06-09 16:10] Fryguy commented on #695
This might be down to nothing now - @kbrock Can you verify with @jrafanie's script and if so, we can close this one as completed.

[2021-07-26 18:46] bdunne commented on #622
It doesn't look like we're going to have any reliable build infrastructure for ManageIQ on s390x.

[2021-08-09 22:32] bdunne opened #734 "Allow vddk to be dynamically added without rebuilding container images"
The current VDDK installation in pods involves rebuilding the container images, but that is not convenient for users.  As discussed, we need an easier solution.

ConfigMap
- Limited to 1MiB, file is ~20MiB

Single PersistentVolume mounted to all pods
 - limits the backing storage types that we can run on
 - More things to worry about for backup and restore
 - Convenient that we only need to upload

[2021-08-10 14:14] Fryguy commented on #734
I'd also like @jrafanie and @chessbyte to add their thoughts here.

---

ConfigMap is right out, because of the size limitations, so I crossed it out in the OP.

I'd prefer whatever solution we use to be consistent across both appliances and podified, so that we can reduce any speciality.  That's another upside to BinaryBlobs, because we can document it as the preferred way for both appliances and

[2021-08-10 14:15] Fryguy commented on #734
In the private discussion, @agrare mentioned that we really only need the VDDK on the operation worker, which, I think, there can only be one replica of, however there is one _per VMware EMS instance_.

[2021-08-10 14:35] bdunne commented on #734
Another advantage for BinaryBlobs option is that the admin doesn't have to install the package on every appliance that could run a Vmware operations worker, single upload and they're done.  This could also simplify updates to the package.

Yeah, I was thinking a simple HTTP PUT to the API, but UI would be nice too.
I agree, it should be super-admin only

[2021-08-10 14:37] Fryguy commented on #734
If we do BinaryBlobs, we have to make sure that the blob record is attached to something or it will get purged...the docs would have to tell the user to attach it to the enterprise or something.

[2021-08-10 14:39] Fryguy commented on #734
HTTP PUT is a cool idea.  I'm concerned they may try to upload multiple and we'd have to either disallow that or figure out the "right" one.  Perhaps, instead of directly on a /binary_blobs endpoint, we could have an API on the EMS or perhaps the Enterprise?  That API could do the right thing under the hood.

We'll probably need an API for the UI anyway, so that's a good start.

[2021-08-10 14:42] chessbyte commented on #734
Why not attach it to the VMware Provider EMS?

[2021-08-10 14:43] Fryguy commented on #734
The user would be required to upload it multiple times per VMware EMS instance, if they have multiple VMwares.

[2021-08-10 14:43] agrare commented on #734
Because we only need one instance of it

[2021-08-10 14:46] Fryguy commented on #734
Just thought of another option, which I believe is along the lines of what the v2v team did.

Allow the user to specify a location to download the VDDK, like an FTP server or something.  This could be set up as an extra tab in the vmware DDF form adding an endpoint/authentication for the vddk location.  Then, when the operations work starts, if there's a vddk defined, it can download and install i

[2021-08-10 14:49] agrare commented on #734
If we have the tgz file in BinaryBlobs then we will have to pull it down and extract it to the target dir.  On an appliance this will only have to be done once but on podified it will have to be done everytime the pod starts up.  Not a dealbreaker but not ideal

[2021-08-10 14:50] Fryguy commented on #734
@agrare Same would be true for the "download the VDDK" option.

[2021-08-10 14:51] agrare commented on #734
Yes I was comparing to the "mount a volume' option

[2021-08-10 14:51] Fryguy commented on #734
On an appliance this will only have to be done once... per server

[2021-08-10 14:52] Fryguy commented on #734
No, we haven't NAK'd yet - still trying to capture all the pros/cons and also new ideas.

[2021-08-10 14:55] Fryguy commented on #734
Also we should technically add https://code.vmware.com/docs/6635/virtual-disk-development-kit-programming-guide/doc/GUID-282C600E-D986-4592-9206-70BF60DBF684.html to the OP to show we've considered it 😆

[2021-08-10 15:02] Fryguy commented on #734
Added the download on demand and the redistribute options to the OP and also added @agrare's concern about the "on every pod startup"

[2021-08-10 15:03] jrafanie commented on #734
What's required to tell the underlying code where the vddk is installed if we're not rebuilding images?  I understand that uploading the files to the right location is important but I'd imagine most of our usages will be people having pods run with the installed vddk wherever it's located so runtime steps we need to take is pretty important too.

[2021-08-10 15:05] chessbyte commented on #734
@jrafanie @agrare how challenging is the install on first use of the Operations Worker?

@Fryguy with that approach, are we going to have security issues of what files are writable and where?

[2021-08-10 15:05] agrare commented on #734
We can set LD_LIBRARY_PATH to the target directory even if the it doesn't exist.  That way when we extract the files there the env should already be set up.

I should note that I haven't gotten this working on an appliance yet, LD_LIBRARY_PATH doesn't seem to be honored or something.

[2021-08-10 15:11] Fryguy commented on #734
I recall there being hacks that might be override that LD_LIBRARY_PATH that Jerry worked on - let me see if I can find it.

[2021-08-10 15:16] agrare commented on #734
That looks like it just tacks on a specific directory to LD_LIBRARY_PATH, in my case I already have the proper directory in LD_LIBRARY_PATH

[2021-08-10 15:18] bdunne commented on #734
I think this could be an advantage.  Yes, it will slow down boot time slightly, but it's super easy to update the package in the future.  Just replace the BinaryBlob with the newer version and the next time a pod starts it gets the latest.  I was thinking that appliances could do the same at appliance boot.

[2021-08-10 15:20] bdunne commented on #734
I agree, and we're trying to drop similar things (like backup and restore to/from all of these locations)

[2021-08-10 16:50] bdunne commented on #734
We could also design it generically enough with BinaryBlobs to allow us to upload code patches as well (solving another podified problem).

[2021-08-10 16:52] bdunne commented on #734
I was thinking we would overwrite it on every appliance boot too.

[2021-08-12 09:39] marcel-kondermann opened #735 "Automation.log not populated by running MIQ Instance"
Dear all,

I'm running the K8s Operator for MIQ (Kasparov, image manageiq/manageiq-orchestrator with the build-date": "2021-05-26T08:09:39.854558.)

For any reason MIQ doesn't populate the automation.log. I could not find any hint in the doc, nor do I find according error-messages in other logs. Automation.log itself was created when MIQ was created (in June) it has a single line of content:

# Lo

[2021-08-12 15:19] Fryguy commented on #735
This part is a duplicate of https://github.com/ManageIQ/manageiq/issues/21109, which is not directly fixable.  So, for this case, we recommend using a log aggregator such as an EFK stack.  Most recently, https://github.com/ManageIQ/manageiq/pull/21285 was merged which allows better filtering in a log aggregator by exposing the log name via the `service` key (e.g. search `service: automation` to se

[2021-08-12 15:20] Fryguy commented on #735
@marcel-kondermann Which pod are you looking in for the automation.log?  Note that automation work can jump around between the multiple generic workers, so you have to look at all of them.

[2021-08-12 15:30] chessbyte commented on #735
This is one of the reasons why we strongly suggest the use of a log aggregator.

[2021-08-13 21:53] Fryguy opened #736 "Smaller images investigation"
Ran the following on one of our podified images and I see the below for package sizes (trimmed):

[code]

@bdunne I'm wondering if there are things in this list maybe we can drop or shrink?

- openscap is an interesting one - I'm not sure if we need that - @agrare
- ansible is also massive - wonder if there's something in that installation we can trim down?
- Do we know what geolite2-city is?
- no

[2021-08-13 22:14] Fryguy commented on #736
Also ran the following on our specific RPMs:

[code]

- The multiple nokogori .so files are really interesting
- autoprefixer is huge, but the file in question is in the vendor dir - do we need that?
- Small 422K win with gems/ruport-1.7.0.3/examples/data/tattle.dump - I think we could probably drop the entire examples dir.

[2021-08-13 22:15] Fryguy commented on #736
[code]

[2021-08-13 22:18] Fryguy commented on #736
[code]

- There are multiple forms of the same fonts that we can probably drop - @kbrock has mentioned this before.

[2021-08-16 16:30] kbrock commented on #736
![rpm_contents](https://user-images.githubusercontent.com/1930/129591335-f4c973d3-f355-47bb-b6f5-b51a91efe7f8.png)

lets go clockwise starting with 12:00

|time|color|size|dir|contents|
|---:|---|----|---|---|
|12:00|purple|61mb|bundle/gems| classic-ui: 29MB w/ app/javascript/locale: 12MB|
|1:00|pink|64mb|vmdb../packs|vendor.js.map: 31mb, vendor.js: 22mb, vendor.js.gz: 4mb|
|2:00|pink|26mb|ui/serv

[2021-08-16 16:39] Fryguy commented on #736
azure is such a nasty gem - I wonder if we can find a way to affect upstream to avoid so much on-disk space wasting.

[2021-08-16 16:41] kbrock commented on #736
## proposal

- change azure provider to use recent gem. 180mb
- Does google have an alternate gem? They have the same model as azure and will probably grow. 145mb (they are oci?)
- someone clean up styles and assets with service-ui. 42mb total
- deleting content gem from the appliance (though may be useful for automate?). 7mb
- can we delete vendor-js, vendoro-js.map and keep the gz file? (ui team

[2021-08-16 16:45] agrare commented on #736
`azure_mgmt_*` are used by the azure_stack provider, and has been discontinued by microsoft unfortunately https://github.com/Azure/azure-sdk-for-ruby#important-announcement so I doubt we'll be able to effect any major changes there.

[2021-08-16 16:48] kbrock commented on #736
It is no longer supported and they have an alternate interface. Moving to the new one should be a win. no?

Alternatively, if we can determine which azure api we are using and delete the ones that we are not would reduce the gem down from 146mb to 8mb

[2021-08-16 16:56] agrare commented on #736
Are you talking about `MsRestAzure`?  This is not much more than a thin wrapper around the Rest APIs (see https://github.com/Azure/azure-sdk-for-ruby/blob/master/docs/create_a_virtual_machine.md)

Should we move to this? Yes, eventually
Is it going to take a lot of refactoring and a lot of time/effort? Yes

So not a trivial drop-in replacement by any means

[2021-08-16 20:46] kbrock opened #737 "Reduce azure gem"
Spin off from https://github.com/ManageIQ/manageiq-pods/issues/736

![](https://user-images.githubusercontent.com/1930/129594925-5df430a7-a6de-43ac-90f8-3b49e8fc210d.png)

### Reducing the size of the Azure API gem

Azure is a big gem (145mb for `azure_mgmt_network`)  and our single biggest asset on the appliance/pod. So we natural want to find a want to reduce our largest asset.

In 2018 an [issu

[2021-08-16 20:54] kbrock commented on #736
Our ruby calls Sass, coffee script https://github.com/ManageIQ/manageiq-ui-classic/pull/7834 and uglify
Wonder what part of our app still uses the asset pipeline vs webpacker. If we just used webpacker, we would be able to remove a lot of processing and files from ruby.

[2021-08-16 21:26] bdunne commented on #737
I think I prefer releasing our own forked gem over modifying it in `manageiq-rpm_build` to keep development environments similar to production.

[2021-08-17 16:53] marcel-kondermann commented on #735
Thanks a lot ... and: Yes, seems to make very much sense. I think we'll go that direction shorttermed. Best regards, Marcel.

[2021-08-17 16:59] marcel-kondermann commented on #735
I was looking into the pod of the orchestrator (orchestrator-7969cc7766-m6gdg in my case). There I just found the empty automation.log under /var/www/miq/vmdb/log. I also digged into some logging in other worker-pods (kubectl logs <podname>) . But without being able to find the activities of a specifig service-request.

Which of ther workers would carry this kind of information? The generic ones?

[2021-08-17 18:33] Fryguy commented on #734
@jrafanie This is where we are discussing VDDK, but it overlaps a little with the ability to provide hotfixes.  That is, whatever we come up with here we might be able to piggy back on for hotfixes and other diagnostics.

[2021-08-17 18:38] Fryguy commented on #734
Either that or maybe we should split off a separate discussion for hotfixes / patches, but I was hoping what we come up with for the VDDK was generic enough for both

[2021-08-17 18:45] jrafanie commented on #734
Are you thinking of hooking into the entrypoint like we [generate the key pre-run single worker](https://github.com/ManageIQ/manageiq-pods/blob/master/images/manageiq-base-worker/container-assets/entrypoint#L5-L10)?  I don't know if we could make changes to run_single_worker pre-rails to get and extract the binary blob.  We'd have to do similar work on the appliance side pre-run single worker to h

[2021-08-17 18:50] jrafanie commented on #734
Note, we don't call run_single_worker in orchestrator or the other non-orchestrator managed pods so if we wanted to deliver a hotfix for the orchestrator, it can't be done through that mechanism.  We'd need something called from the entrypoint for each pod and once at boot for appliances.

[2021-08-17 19:17] Fryguy commented on #734
@jrafanie Good point. I was actually questioning that part myself.  While this might all work for VDDK (because the vmware worker could do this work), if we generalized for any file, we'd need a way to query the database, but doing so _before_ starting the run_single_worker, and thus before we have the Rails environment.  I was thinking a stub executable / Ruby method who's only job is to query th

[2021-08-17 19:38] jrafanie commented on #734
Right, so we'd have to weigh the cost of loading a bloated rails process to rebuild the blob from parts to dump to a file or make it pure ruby or shell or etc.  It's likely the most useful places we'd want to hotfix will be pods where we have rails available to us (normal workers, orchestrator) vs. others such as httpd/memcached/postgresql which can't load rails.

Or we can get it from some other

[2021-08-17 21:00] bdunne commented on #734
Yes, my thought was do do it in the entrypoint before we launch the rails worker.

[2021-08-18 09:24] btmd opened #738 "Problem with pulling certain images from docker hub with crictl"
### 1. Describe the issue you are having and what you expected to happen
We are seeing issues with pulling some images from docker hub using crictl. Not all images are affected.
When pulling an image with certain tags via `crictl pull`, it fails and cannot download the image but it works fine with `docker pull`.
Some images work fine with both, `crictl pull` and `docker pull`

Working example with

[2021-08-18 12:06] Paultommy1 commented on #738
Additional Kubernetes cluster with the same problem.

- Kubernetes version: (use kubectl version):
[code]
- Containerd version:
[code]
- crictl version:
[code]
- OS (e.g. from /etc/os-release):
[code]

[2021-08-19 15:21] Fryguy opened #740 "Boot-time logging and diagnostics"
As a follow-on to https://github.com/ManageIQ/manageiq/pull/20730, we need more information about what is happening during the boot of a worker.  For example, if memcache connections are blocked, we end up "stuck" not know what is happening.  Based on our discussion, here are some recommendations

- [ ] Log external connections before first access
  - [ ] memcached
  - [x] postgresql (piggyback on

[2021-08-19 21:08] kbrock commented on #737
threw together a script: https://github.com/kbrock/azure-sdk-for-ruby/blob/smaller/prune-versions.rb

[code]

If we limit it down to only supporting our supported profiles, that will reduce it down by 2mb. which seems a little suspect. I can look into it more later, but supporting all seems good enough.

This is a naive and we keep every api binding for the versions, not just the api binding that

[2021-08-20 22:08] kbrock commented on #736
@Fryguy  mentioned there are duplicate so files in both `extensions/` and `/gems/*/{lib,ext}`
I thought `ext` was where native gems were compiles. But many of these seem to have other plans.
Nokogiri looks like it has a number of entries for a number of different versions of something.

Total savings on the table is: 13mb
I think I remember that ruby code used different mechanisms to load a `.so`

[2021-08-22 17:58] kbrock commented on #736
looking at js filies, I noticed a bunch of seemingly duplicate js files

[code]

If you wanted to list the disk space at the beginning, then you out probably use something like `\1\3 \2`

## findings

`noVNC` is listed 2 times (ui classic and ui self service), and each of the installs has a `vendor`,`core`, are duplicated in the `lib` directory. So there are potentially 4 copies of each file.

So

[2021-08-30 21:48] bdunne commented on #695
I think we're done here.  Total time `0.540126774` on `docker.io/manageiq/manageiq-base-worker:latest` SHA `4b412d4fa2b6b6a32b8028890a1bacecbb45a62ecfc0f7d1ff41bb3cbf6b7f01`
[code]

`update-ca-trust` takes the longest at `0.29801629s`, but I don't think there's much we are going to do about that.

[2021-09-01 18:06] Fryguy commented on #695
@bdunne We only need to update-ca-trust if there's a cert in place right?  Can we check before calling it?

[2021-09-03 06:15] btmd commented on #738
We confirm that the issue is fixed. Thanks for your help and the swift response!

[2021-09-03 06:15] #738 closed

[2021-09-07 15:38] jrafanie commented on #695
It's worth pointing out that the `gem env path` was hardcoded in https://github.com/ManageIQ/manageiq-rpm_build/pull/145 to make it faster thanks to @kbrock and @Fryguy's comment here:  https://github.com/ManageIQ/manageiq-pods/issues/695#issuecomment-796795082

[2021-09-08 21:11] kbrock commented on #695
In an appliance, `update-ca-trust` is at least 20x slower than `evm` (loading the properties files)
Also, there are all these `if` checks. I assumed that these values are pretty constant.

Can we use [[bash]](https://gist.github.com/cdown/1163649) to decode these cgi instead of using ruby?
I am testing an alternative to `/etc/default/evm` that doesn't shell out so it takes closer to 0.002s real. I

[2021-09-14 14:18] bdunne commented on #695
Yeah, this can check for the presence of certificate files and subdirectories of `/etc/pki/ca-trust/source/` as a conditional.

[2021-09-15 19:10] #676 closed

[2021-09-27 14:18] evertmulder opened #755 "Unable connect using "VM Console" function using WebMKS to take over console"
I am running ManageIQ Kasparov and try to get the remote console (HTML5) working.
First I have added the VMWare WebMKS files to the UI pods so I can use the WebMKS option.

When opening the console the console window opens but is unable to open the web socket connection for the console:

![image](https://user-images.githubusercontent.com/61044/134924332-fde8dde5-d2cc-4333-b26e-6640c0338c73.png)

S

[2021-09-27 14:39] evertmulder commented on #755
I upped the logging of mod_rewrite to see if I can pinpoint the issue:

[code]

[2021-09-27 15:07] evertmulder commented on #755
When also adding the missing keypair things start working:
![image](https://user-images.githubusercontent.com/61044/134935110-f8ed35b9-aeb9-45b3-871f-70a74d59b769.png)

I will create a PR for this issue.
1. for the operator generates and invalid httpd config
2. for the mounting of the keypair in the remote console worker pods

[2021-10-01 14:20] Fryguy commented on #755
@bdunne Please review.

[2021-10-01 15:40] jrafanie commented on #695
Note, I'm not seeing [the removal of gem env path](https://github.com/ManageIQ/manageiq-rpm_build/pull/145/commits/242e1d423966c1ccf8f06a37b269f8d8b2a2da80) in any released manageiq-base-worker podified image, which is expected since it wasn't backported but even latest doesn't have it:

[code]

I can see that even morphy branch has [gem env path](https://github.com/ManageIQ/manageiq-rpm_build/blo

[2021-10-01 16:27] jrafanie commented on #695
![image](https://user-images.githubusercontent.com/19339/135655231-2f201fdc-8ba5-4510-9397-0467d351d6a4.png)

From latest...
[container_env_timings_latest.csv](https://github.com/ManageIQ/manageiq-pods/files/7268719/container_env_timings_latest.csv)

[2021-10-01 18:24] Fryguy commented on #695
@jrafanie Did something not get backported? If so, please mark is as `morphy/yes?`

[2021-10-01 18:26] Fryguy commented on #695
Looks like we need https://github.com/ManageIQ/manageiq-rpm_build/pull/145 and maybe some of the followup PRs.  @kbrock - you good with these coming back?

[2021-10-01 18:27] jrafanie commented on #695
I don't know, I accidentally added morphy.  I was talking about master.  It looks like we're not using master branch of rpm_build repo for `latest` container images.

Re: morphy.  Do we want it on morphy?  It was an enhancement and I'm not really pushing for it on morphy, just surprised it's not on master.  I don't know how rpm_build gets pulled into latest images.

[2021-10-01 18:29] Fryguy commented on #695
I'm +1 for it on morphy because it was also a part of the slow liveness probes.

@bdunne can you comment on this?

[2021-10-01 18:29] jrafanie commented on #695
https://github.com/ManageIQ/manageiq-rpm_build/blob/master/rpm_spec/manageiq.spec.in#L54 is master and doesn't contain the `gem env path`

[2021-10-01 18:59] jrafanie opened #759 "container_env on latest is still running with the slow gem env path"
Note, I'm not seeing [the removal of gem env path](https://github.com/ManageIQ/manageiq-rpm_build/pull/145/commits/242e1d423966c1ccf8f06a37b269f8d8b2a2da80) in any released manageiq-base-worker podified image, which is expected since it wasn't backported but even latest doesn't have it:

[code]

I can see that even morphy branch has [gem env path](https://github.com/ManageIQ/manageiq-rpm_build/blo

[2021-10-01 19:00] jrafanie commented on #759
from https://github.com/ManageIQ/manageiq-pods/issues/695

[2021-10-01 19:03] jrafanie commented on #759
We found that the yum repo file was incorrect for master/latest builds:

[code]

[code]

[2021-10-01 19:03] jrafanie commented on #759
Fixed by https://github.com/ManageIQ/manageiq-pods/pull/758

[2021-10-01 19:04] #759 closed

[2021-10-01 19:05] jrafanie commented on #759
@bdunne will #758 fix the `baseurl` for the `manageiq-14-najdorf-nightly-noarch` and `manageiq-14-najdorf-nightly-source` in addition to `manageiq-14-najdorf-nightly`?

[2021-10-01 19:05] Fryguy commented on #695
master showing the wrong thing should be fixed by https://github.com/ManageIQ/manageiq-pods/pull/758

[2021-10-01 19:06] jrafanie commented on #695
I created https://github.com/ManageIQ/manageiq-pods/issues/759 for the master/latest issue which is resolved by #758

[2021-10-01 19:09] jrafanie commented on #695
@kbrock What do you think of a manual backport of just the `gem env path` hardcode commit to morphy?  https://github.com/ManageIQ/manageiq-rpm_build/pull/145/commits/242e1d423966c1ccf8f06a37b269f8d8b2a2da80

I don't know that we want all of the properties and dependent changes backported but `gem env path` seems like a harmless change to speed up `container_env`.  cc @bdunne @Fryguy

[2021-10-01 20:10] Fryguy commented on #759
yes, the fixes that went into 14.0-2 were these: ManageIQ/manageiq-rpm_build#189

[2021-10-02 14:30] thevibhu commented on #351
I would like to take up this issue

[2021-10-04 13:14] Fryguy commented on #351
Feel free @thevibhu !

[2021-10-05 18:57] kbrock commented on #695
That whole commit can go across and would be compatible with any version of our app.

the other change will not make any difference and I'd prefer if we can keep a whole commit together:
This change just hardcodes the full path into 2 places instead of using a var to set one from the other

[code]

[2021-10-05 19:02] kbrock commented on #695
I do not think we want to port the environment changes. That has deep ties into our systemd fixes. it involves moving the systemd.service files from one repo to another and other work that is probably far too invasive.

Just porting the hardcoded path was by far our biggest improvement there.

[2021-10-06 14:53] jrafanie commented on #695
@kbrock can you open a direct PR to morphy for just that fix?  We can discuss if we want to merge it there.  Personally, I feel it's so little risk, I'd be fine with it.

[2021-10-11 21:45] bdunne commented on #565
Closing as this is on the Kasparov milestone and we have some logic in place to handle upgrades.  We can open more specific issues if we need something else done.

[2021-10-11 21:45] #565 closed

[2021-10-12 16:08] kbrock commented on #695
Sounds like a plan: https://github.com/ManageIQ/manageiq-rpm_build/pull/210

[2021-11-04 12:34] rabah-beldi opened #771 "[Podified on EKS] Rake command does not work with external DB"
I have installed manageiq pod on eks (database on a pod) and I encounter a problem with the import/export of objects via the rake command does not work.

[code]

- ManageIQ version: Kasparov-1
- Minikube/KIND/OCP/CRC version:
- Kubernetes version: (use `kubectl version`): k version
[code]
- OS (e.g. from `/etc/os-release`):

@miq-bot add-label bug

[2021-11-04 17:18] Fryguy commented on #771
@rabah-beldi I assume you are getting a remote shell into an existing pod?  If so, then you need to first do:

[code]

This sets up certain environment variables that are needed in order to run commands

[2021-11-05 08:26] rabah-beldi commented on #771
Hello @Fryguy ,
thank you for your quick response. it works well :)

thanks gain for your help.

[2021-11-05 09:06] #771 closed

[2021-11-18 22:55] bsogithub opened #775 "Network policies not updated after migrating from appliance"
I follow these steps (https://www.manageiq.org/docs/reference/latest/installing_on_kubernetes/index.html#migrating-from-appliances) to migrate from appliance to OpenShift. After the migration, all pods has crashLoopBackOff. This is a sample error on one of the pod:

[code]

The workaround is to regenerate the network policies.

[2021-11-30 22:22] chessbyte commented on #531
@kbrock @Fryguy I am assuming this can be closed with the recent removal of cockpit from ManageIQ?

[2021-12-02 05:37] kbrock commented on #531
yes, we no longer have cockpit in our product

[2021-12-02 05:37] #531 closed

[2021-12-07 11:15] evertmulder opened #777 "Update CRDs from apiextensions.k8s.io/v1beta to apiextensions.k8s.io/v1to support Kubernetes 1.22+"
`apiextensions.k8s.io/v1beta1` CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+;
For 1.22+ `apiextensions.k8s.io/v1` CustomResourceDefinition should be used

See also https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122

https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.ya

[2021-12-07 15:47] Fryguy commented on #777
Good timing!  We happened to be working on that anyway. 😊

[2021-12-14 16:28] evertmulder opened #781 "Authentications settings are inserted at every pod start causing multiple configuration values for the same key and resource"
1. Describe the issue
Every restart of the orchestrator pod adds a new set of authentication settings. I expect it to add if the setting does not exist, update if the setting exists for the resource (resource_type & resource_id combination)

2. Describe steps to reproduce
restart the orchestration pod.

3.
- ManageIQ version: Kasparov, issue still present in main branch

The line https://github.co

[2021-12-14 23:08] Fryguy commented on #781
Thanks for the report @evertmulder ! cc @bdunne .

[2022-01-10 13:40] rabah-beldi opened #782 "SAML authentication with Azure AD does not work"
I am trying to configure SAML authentication with Azure AD but it does not work.
Has anyone been successful in setting up SAML authentication with Azure AD?

FYI: I have followed the procedure: https://www.manageiq.org/docs/reference/latest/auth/saml.html

-  group created in the appliance
-  remote user parameters created on Azure AD

I got the following error when a change "MellonUser

[2022-01-10 14:21] Fryguy commented on #782
I'm not familiar with Azure AD, but by the name it sounds more like an Active Directory interface than SAML.  Have you tried following https://www.manageiq.org/docs/reference/latest/auth/active_directory.html ?

[2022-01-10 14:22] Fryguy commented on #782
Also if it helps there are a number of blog posts here regarding troubling shooting auth issues (in general): https://www.manageiq.org/blog/tags/tutorials/

[2022-01-10 14:46] rabah-beldi commented on #782
Hello Fryguy ,

thank you for your quick feedback. I manage to configure AD  authentication https://www.manageiq.org/docs/reference/latest/auth/active_directory.html  on a VM. However, I can't get it to work on the podified  platform. I have already consulted the  troubling shooting page without success. Hence my issue :).

Is SSSD compatible with containers?

[2022-01-10 18:11] Fryguy commented on #782
Not exactly, no, as it requires privileged containers.  To handle that, we've created 2 different httpd containers (The httpd container is where most of the auth magic happens, and sits between the external route and the UI/API containers).

- [httpd-init](https://github.com/ManageIQ/container-httpd-init) container is basically the same thing that is in appliances.  It runs under systemd (thus nee

[2022-01-12 22:22] #777 closed

[2022-01-13 08:32] rabah-beldi commented on #782
Hello @Fryguy ,

thanks for the precisions. I will try to configure AD authentication with the httpd-init container .
@bdunne Do you have more information about the deployment ?

Thanks in advance.

Regards

[2022-01-18 14:55] Fryguy commented on #782
@rabah-beldi Glad to hear you are making some progress.  Are you able to share your build / changes with us, perhaps in a pull request to httpd-init, so we can learn from it?

[2022-01-19 21:13] bdunne commented on #782
You'll need to run https://github.com/ManageIQ/httpd_configmap_generator to use the stock httpd-init container.

[2022-01-26 20:27] bdunne opened #789 "[RFE] Allow SSL/TLS communication between optional pods"
Followup for optional services from: https://github.com/ManageIQ/manageiq-pods/issues/724

- [ ] Secure communication to kafka/zookeeper services

[2022-01-26 20:29] bdunne commented on #724
Closing, implemented for all default services.  Followup for kafka (optional) in https://github.com/ManageIQ/manageiq-pods/issues/789

[2022-01-26 20:29] #724 closed

[2022-01-28 15:36] whitesource-bolt-for-github[bot] opened #792 "CVE-2019-11250 (Medium) detected in github.com/kubernetes/kube-state-metrics-v1.7.2"
## CVE-2019-11250 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/kubernetes/kube-state-metrics-v1.7.2</b></p></summary>

<p>Add-on agent to generate and expose cluster-level metrics.</p>
<p>

Dependency Hierarchy:
  - github.com/operator-framework/ope

[2022-01-28 15:36] whitesource-bolt-for-github[bot] opened #793 "CVE-2020-28851 (High) detected in github.com/golang/text-v0.3.2 - autoclosed"
## CVE-2020-28851 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/text-v0.3.2</b></p></summary>

<p>[mirror] Go text processing support</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes/client-go-v0.18.2 (Root Library)
    - github.com/gola

[2022-01-28 15:36] mend-bolt-for-github[bot] opened #794 "CVE-2021-27918 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2021-27918 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-01-28 15:36] whitesource-bolt-for-github[bot] opened #795 "CVE-2020-28852 (High) detected in github.com/golang/text-v0.3.2 - autoclosed"
## CVE-2020-28852 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/text-v0.3.2</b></p></summary>

<p>[mirror] Go text processing support</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes/client-go-v0.18.2 (Root Library)
    - github.com/gola

[2022-01-28 15:36] mend-bolt-for-github[bot] opened #796 "CVE-2019-11253 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2019-11253 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-01-28 15:36] mend-bolt-for-github[bot] opened #797 "CVE-2021-38561 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2021-38561 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-01-28 15:36] whitesource-bolt-for-github[bot] opened #798 "CVE-2019-11254 (Medium) detected in github.com/kubernetes/kube-state-metrics-v1.7.2, github.com/openshift/api-001335d6cc34d29db8057ac414b3d874e6018818"
## CVE-2019-11254 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>github.com/kubernetes/kube-state-metrics-v1.7.2</b>, <b>github.com/openshift/api-001335d6cc34d29db8057ac414b3d874e6018818</b></p></summary>
<p>

<details><summary><b>github.com/kubernetes/kube-st

[2022-01-28 15:36] mend-bolt-for-github opened #799 "CVE-2021-31525 (Medium) detected in github.com/openshift/api-001335d6cc34d29db8057ac414b3d874e6018818, github.com/kubernetes/kube-state-metrics-v1.7.2 - autoclosed"
## CVE-2021-31525 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>github.com/openshift/api-001335d6cc34d29db8057ac414b3d874e6018818</b>, <b>github.com/kubernetes/kube-state-metrics-v1.7.2</b></p></summary>
<p>

<details><summary><b>github.com/openshift/api-0013

[2022-01-28 15:36] mend-bolt-for-github opened #800 "WS-2021-0200 (High) detected in github.com/kubernetes/kube-state-metrics-v1.7.2 - autoclosed"
## WS-2021-0200 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/kubernetes/kube-state-metrics-v1.7.2</b></p></summary>

<p>Add-on agent to generate and expose cluster-level metrics.</p>
<p>

Dependency Hierarchy:
  - github.com/operator-framework/operato

[2022-01-28 15:36] mend-bolt-for-github opened #801 "CVE-2020-26160 (High) detected in github.com/kubernetes/kube-state-metrics-v1.7.2, github.com/dgrijalva/jwt-go-v3.2.0 - autoclosed"
## CVE-2020-26160 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>github.com/kubernetes/kube-state-metrics-v1.7.2</b>, <b>github.com/dgrijalva/jwt-go-v3.2.0</b></p></summary>
<p>

<details><summary><b>github.com/kubernetes/kube-state-metrics-v1.7.2</b></p></summa

[2022-01-28 15:36] whitesource-bolt-for-github[bot] opened #802 "CVE-2020-29652 (High) detected in github.com/golang/crypto-06a226fb4e3765ef3f48aa2852b401bc7b98e981 - autoclosed"
## CVE-2020-29652 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/crypto-06a226fb4e3765ef3f48aa2852b401bc7b98e981</b></p></summary>

<p>[mirror] Go supplementary cryptography libraries</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes/clien

[2022-01-28 15:36] mend-bolt-for-github[bot] opened #803 "CVE-2021-3121 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2021-3121 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Library

[2022-01-28 15:36] mend-bolt-for-github opened #804 "CVE-2020-8559 (Medium) detected in github.com/kubernetes/kube-state-metrics-v1.7.2, github.com/kubernetes/apimachinery-v0.18.3 - autoclosed"
## CVE-2020-8559 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>github.com/kubernetes/kube-state-metrics-v1.7.2</b>, <b>github.com/kubernetes/apimachinery-v0.18.3</b></p></summary>
<p>

<details><summary><b>github.com/kubernetes/kube-state-metrics-v1.7.2</b></

[2022-01-28 15:37] mend-bolt-for-github[bot] opened #805 "CVE-2021-33194 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2021-33194 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-01-28 15:37] mend-bolt-for-github[bot] opened #806 "CVE-2021-44716 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2021-44716 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-01-28 15:37] whitesource-bolt-for-github[bot] opened #807 "CVE-2021-43565 (High) detected in github.com/golang/crypto-06a226fb4e3765ef3f48aa2852b401bc7b98e981 - autoclosed"
## CVE-2021-43565 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/crypto-06a226fb4e3765ef3f48aa2852b401bc7b98e981</b></p></summary>

<p>[mirror] Go supplementary cryptography libraries</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes/clien

[2022-01-28 15:37] whitesource-bolt-for-github[bot] opened #808 "CVE-2020-8565 (Medium) detected in github.com/kubernetes/client-go-v0.18.2, github.com/kubernetes/kube-state-metrics-v1.7.2"
## CVE-2020-8565 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>github.com/kubernetes/client-go-v0.18.2</b>, <b>github.com/kubernetes/kube-state-metrics-v1.7.2</b></p></summary>
<p>

<details><summary><b>github.com/kubernetes/client-go-v0.18.2</b></p></summary

[2022-01-28 15:37] whitesource-bolt-for-github[bot] opened #809 "CVE-2021-25741 (High) detected in github.com/kubernetes/utils-8eb98882d3d99638df80e21c77ad8635fe59282b"
## CVE-2021-25741 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/kubernetes/utils-8eb98882d3d99638df80e21c77ad8635fe59282b</b></p></summary>

<p>Non-Kubernetes-specific utility libraries which are consumed by multiple projects.</p>
<p>

Dependency Hiera

[2022-01-28 15:37] mend-bolt-for-github[bot] opened #810 "CVE-2020-14040 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2020-14040 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-02-04 05:01] kbrock commented on #695
have we found a better time to update our ca?
It seems like we may be able to conditionally call `update-ca-trust` or maybe call it when we update the cert rather than here?

[2022-02-04 22:58] bdunne commented on #695
🤷🏻‍♂️ We don't update the cert, it's provided through a secret mount when the pod is launched.  I don't know when else to do it.

[2022-02-08 23:38] kbrock commented on #695
Is there a hook in our boot process instead of each time we run a login shell?

[2022-02-09 15:51] Fryguy commented on #695
container_env is the hook at the moment, though, I like the idea of maybe splitting that?

[2022-02-09 15:55] Fryguy commented on #695
Actually, if we split it, it won't make a difference...when a user runs a container manually (for example to get a bash shell), they still need container_env, and will still need the certs if they want to do anything like connect to the database in a rails console.  I don't see any way around it.

The only thing I'm looking for is a simple

[code]

[2022-02-21 20:02] mend-bolt-for-github opened #817 "CVE-2022-21698 (High) detected in github.com/prometheus/client_golang-v1.5.1, github.com/kubernetes/kube-state-metrics-v1.7.2 - autoclosed"
## CVE-2022-21698 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>github.com/prometheus/client_golang-v1.5.1</b>, <b>github.com/kubernetes/kube-state-metrics-v1.7.2</b></p></summary>
<p>

<details><summary><b>github.com/prometheus/client_golang-v1.5.1</b></p></su

[2022-03-01 17:18] haloss1 opened #820 "mkdir: cannot create directory '/var/lib/pgsql/data/userdata': Permission denied"
Hi, i'm getting `mkdir: cannot create directory '/var/lib/pgsql/data/userdata': Permission denied` after install on the PostgreSQL pod

Follow the install instructions
Wait for pods to create
PostgreSQL pod status indicates `CrashLoopBackOff`
[code]

- ManageIQ version: `morphy-1`
- Minikube/KIND/OCP/CRC version: Kubespray
- Kubernetes version: (use `kubectl version`):
[code]
- OS (e.g. from `/etc

[2022-03-01 22:33] bdunne commented on #820
Usually this happens when the postgres user doesn't have permission to write to the mounted volume.  Check the permissions on the volume and `chmod 777` if necessary.

[2022-03-02 15:05] haloss1 commented on #820
Ty, i ended up using a external PostgreSQL database and now i can get all the pods to successfully deploy :)

[2022-03-02 15:05] #820 closed

[2022-03-11 22:05] #793 closed

[2022-03-11 22:05] #795 closed

[2022-03-11 22:05] #802 closed

[2022-03-11 22:05] #807 closed

[2022-03-16 19:33] bsogithub opened #829 "1-remote-console pod keeps restarting after installing IM on IA"
According to Brandon, the readiness and liveness probes are trying to hit /ping on port 4000, but nothing is listening there.

The issue may be introduced by https://github.com/ManageIQ/manageiq/pull/21766 and https://github.com/ManageIQ/manageiq-pods/pull/825

- ManageIQ version: 2.0.0.20220315141852_3fb1aa5
- Minikube/KIND/OCP/CRC version: OCP 4.8.27
- Kubernetes version: (use `kubectl version`)

[2022-03-16 19:40] Fryguy commented on #829
https://github.com/ManageIQ/manageiq/pull/21766 and https://github.com/ManageIQ/manageiq-pods/pull/825 haven't been brought back to najdorf, so this could only happen on master.  Are you seeing it on master?

[2022-03-16 19:51] bsogithub commented on #829
Yes. It is on master. Sorry forgot to mention it.

[2022-03-17 20:03] bdunne commented on #477
Fixed by: https://github.com/ManageIQ/manageiq-pods/pull/778

[2022-04-08 14:17] bdunne commented on #829
Fixed by:
- https://github.com/ManageIQ/manageiq/pull/21809
- https://github.com/ManageIQ/manageiq-pods/pull/832
- https://github.com/ManageIQ/manageiq-documentation/pull/1657

[2022-04-08 14:55] Fryguy commented on #829
@bdunne Can this be closed now?

[2022-04-11 19:08] bdunne commented on #829
Yes

[2022-04-11 19:08] #829 closed

[2022-05-02 09:21] mkumatag commented on #820
Even I'm hitting with this error, not sure how can I fix the volume permission for the operator based deployment! any idea how to fix this error?

[2022-05-27 19:13] Fryguy opened #838 "Improve error logging"
There are several situations where a user may create a secret or some other resource and tell us to use that (i.e. as an image pull secret).  However, if that secret was specified in the CR, but not actually created in the cluster, the operator will log an error when it tries to reconcile (adding controller reference and/or backup labels).  In that case the error will look something like this:

[c

[2022-05-30 02:23] mend-bolt-for-github[bot] opened #839 "CVE-2022-28948 (Medium) detected in github.com/go-yaml/yaml-v2.4.0 - autoclosed"
## CVE-2022-28948 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/go-yaml/yaml-v2.4.0</b></p></summary>

<p>YAML support for the Go language.</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes/apimachinery-v0.18.3 (Root Library)
    - k8s.io/kube

[2022-06-08 01:14] #839 closed

[2022-06-28 15:18] Fryguy opened #842 "initialAdminGroupName should honor being changed from nil to a value"
initialAdminGroupName isn't required on installation, so it can be created with an empty value.  However, we don't reconcile that field again.  It is understand to not reconcile when created with a value X and changing it to Y because we don't know what to do with X in that case.  However, in the case of it being initially empty, it seems reasonable to support someone adding it at later point in t

[2022-07-13 14:54] willryals-typefi commented on #782
AD isn't an option in some scenarios, for ours we use MFA through AAD SAML. So far, with the stock configuration and AAD IDP Metadata.xml, I get complaints from Lasso about it not being a valid XML document, and then when taking the relevant information and placing it into a more lasso friendly metadata xml, it results in a 500 server error after authenticating.

[2022-07-13 21:20] Fryguy opened #848 "Upgrade to UBI9"
- [x] podified
  - [x] operator https://github.com/ManageIQ/manageiq-pods/pull/1055/files ~~https://github.com/ManageIQ/manageiq-pods/pull/887~~
  - [x] manageiq-pods base image https://github.com/ManageIQ/manageiq-pods/pull/903
  - [x] container-httpd https://github.com/ManageIQ/container-httpd/pull/85 ~~https://github.com/ManageIQ/container-httpd/pull/77~~
  - [x] container-httpd-init https://gi

[2022-07-20 21:30] mend-bolt-for-github[bot] opened #849 "CVE-2018-17142 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2018-17142 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-07-20 21:30] mend-bolt-for-github[bot] opened #850 "CVE-2018-17143 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2018-17143 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-07-20 21:31] mend-bolt-for-github[bot] opened #851 "CVE-2022-1996 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2022-1996 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Library

[2022-07-20 21:31] mend-bolt-for-github[bot] opened #852 "CVE-2018-17847 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2018-17847 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-07-20 21:31] mend-bolt-for-github[bot] opened #853 "CVE-2022-30633 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2022-30633 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-07-20 21:31] mend-bolt-for-github[bot] opened #854 "CVE-2018-17848 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2018-17848 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-07-20 21:31] mend-bolt-for-github[bot] opened #855 "CVE-2022-27191 (High) detected in github.com/golang/crypto-86341886e2925764dc890ad96c141a1bc76043af - autoclosed"
## CVE-2022-27191 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/crypto-86341886e2925764dc890ad96c141a1bc76043af</b></p></summary>

<p>[mirror] Go supplementary cryptography libraries</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes/clien

[2022-07-20 21:31] mend-bolt-for-github[bot] opened #856 "CVE-2018-17846 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2018-17846 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-07-20 21:31] mend-bolt-for-github[bot] opened #857 "CVE-2022-28131 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2022-28131 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Librar

[2022-07-20 21:31] mend-bolt-for-github[bot] opened #858 "CVE-2018-1002105 (High) detected in github.com/openshift/api-v3.9.0 - autoclosed"
## CVE-2018-1002105 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/openshift/api-v3.9.0</b></p></summary>

<p>Canonical location of the OpenShift API definition.</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/openshift/api-v3.9.0** (Vulnerable Libr

[2022-07-20 21:31] #817 closed, assigned to nobody

[2022-07-20 21:31] #800 closed, assigned to nobody

[2022-07-20 21:31] #799 closed, assigned to nobody

[2022-07-20 21:31] #801 closed, assigned to nobody

[2022-07-20 21:31] #804 closed, assigned to nobody

[2022-07-20 22:44] chessbyte commented on #624
Happy that this made it over the finish line!

[2022-07-21 18:10] Fryguy commented on #736
nodejs (https://github.com/ManageIQ/manageiq-ui-classic/issues/8300)  is gone now as is python 2 (https://github.com/ManageIQ/manageiq-rpm_build/pull/287)

[2022-07-21 18:16] Fryguy commented on #736
Updated numbers from the najdorf-1 build:

<details>
<summary>largest rpms</summary>

[code]

</details>

<details>
<summary>manageiq-gemset</summary>

[code]

</details>

<details>
<summary>manageiq-core</summary>

[code]

</details>

[2022-07-21 18:22] Fryguy commented on #736
Seems intersight_client is a huge gem cc @agrare

[code]

7 MB of that is a quick win - I'll send an update to their repo

[2022-07-21 18:35] Fryguy commented on #736
changing intersight client to drop docs and spec would save 76MB disk space - opened an issue on upstream to discuss: https://github.com/xlab-si/intersight-sdk-ruby/issues/17

[2022-08-03 17:35] srujan07 opened #864 "Unable to login to Manageiq instance"
Hi Team,

We have deployed "**manageiq-operator**" in a GKE cluster and facing issues login to the instance with the default credentials(admim/smartvm). There were no errors in any of the pod logs. Can anyone please help.

Followed instructions provided here https://github.com/ManageIQ/manageiq-pods/tree/master/manageiq-operator

- ManageIQ version: **latest-najdorf**
- Kubernetes version: (use `k

[2022-08-03 17:43] srujan07 commented on #864
Also, the UI doesn't seem to be loading the images while accessing ingress URL, however it works fine when I access the https service ip directly. Not sure what's missing in our config.

<img width="251" alt="Screenshot 2022-08-03 at 11 06 56 PM" src="https://user-images.githubusercontent.com/25569589/182673190-0d0ee8fe-52cb-4e77-8fe8-bbd818a78a56.png">
CR used for our deplpyment:

[code]

[2022-08-03 17:45] Fryguy commented on #864
@bdunne Can you take a look at this one?

[2022-08-04 17:00] srujan07 commented on #864
@bdunne Can you please help me on this?

[2022-08-05 22:05] bdunne commented on #864
I see that the ingress hostname is `miqproject.apps-crc.testing`, but you mentioned that you're running in a GKE cluster.  I think you need to set the `applicationDomain` in the ManageIQ CR to a hostname that points to your cluster ingress.

[2022-08-08 08:11] srujan07 commented on #864
@bdunne Thanks for your response. I tried using the default domain and the operator has created an ingress for that domain in our GKE cluster.

[code]

We have also tried using our own domain with the custom certs but still we see the same behaviour.  However, I suspect the issue could be with the configuration in httpd.conf. Can you please verify if the below config looks good.

https://paste.ope

[2022-08-08 13:26] bdunne commented on #864
The host on the ingress is incorrect, you can change it by setting the `applicationDomain` on the ManageIQ CR.

[2022-08-08 14:42] srujan07 commented on #864
Please find the updated ingress config here after setting our own applicationDomain in the CR.
https://paste.opendev.org/show/b0nLBb4fGC3yM9gaJvlv/

[2022-08-08 14:49] bdunne commented on #864
When you changed it to use your domain:
- Did the ingress reflect that?
- Was the httpd config updated?
- Did the httpd pod get redeployed?

[2022-08-08 16:24] srujan07 commented on #864
Sorry, I should have made it clear. I did a fresh installation with our domain and certs in a different namespace in the same cluster. There is no difference in the httpd config file.

[2022-08-11 18:09] mend-bolt-for-github[bot] opened #869 "CVE-2022-29526 (Medium) detected in github.com/nxadm/tail-v1.4.8 - autoclosed"
## CVE-2022-29526 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/nxadm/tail-v1.4.8</b></p></summary>

<p>[Revamped] Go package for reading from continuously updated files (tail -f)</p>
<p>

Dependency Hierarchy:
  - github.com/onsi/ginkgo-v1.16.5 (Roo

[2022-08-12 13:52] bdunne commented on #755
I think this is resolved by https://github.com/ManageIQ/manageiq-pods/issues/829

[2022-08-12 19:34] #855 closed

[2022-08-15 19:37] #695 closed

[2022-08-17 16:55] srujan07 commented on #864
@bdunne Any update on this please?

[2022-08-29 16:29] srujan07 commented on #864
@Fryguy @bdunne We are blocked on this. Appreciate if you can provide some help. :)

[2022-08-29 19:17] bdunne commented on #864
I don't have a GKE cluster to test with at the moment, but are you able to get it working without the custom certificates?

[2022-08-29 21:26] #869 closed

[2022-09-02 11:19] srujan07 commented on #864
@bdunne No, it wasn't working with default certs which is why we had to try with custom certs to see if that helps, but no luck. Do you have any reference links to deploy this operator in minikube so that I can give it a try?

[2022-09-02 17:22] bdunne commented on #864
I'm in the process of moving the documentation from the READMEs to our official documentation, but you can take a look at it [here](https://github.com/ManageIQ/manageiq-documentation/pull/1656).  I typically test with OpenShift, but I've also used K3S. You may need to bring your own cluster ingress, I've used https://docs.nginx.com/nginx-ingress-controller/ in the past

[2022-09-12 21:06] #849 closed

[2022-09-12 21:06] #850 closed

[2022-09-12 21:06] #797 closed

[2022-09-12 21:06] #796 closed

[2022-09-12 21:07] #803 closed

[2022-09-12 21:07] #805 closed

[2022-09-12 21:07] #806 closed

[2022-09-12 21:07] #857 closed

[2022-09-12 21:07] #858 closed

[2022-09-12 21:07] #810 closed

[2022-09-12 21:07] #794 closed

[2022-09-12 21:07] #851 closed

[2022-09-12 21:07] #853 closed

[2022-09-12 21:07] #852 closed

[2022-09-12 21:07] #854 closed

[2022-09-12 21:07] #856 closed