[2016-09-20 12:28] pweil- opened #33 "Readiness probe configured to fire before liveness"
cc @mfojtik

[In the template the readiness probe is configured with an initial delay of 180 seconds and the liveness probe is configured with an initial delay of 300 seconds](https://github.com/fbladilo/miq-on-openshift/blob/master/templates/miq-template.yaml#L92-L103).  This looks backwards to me.  Liveness indicates that the container is running, readiness means the container is ready to serve

[2016-09-20 13:13] fbladilo commented on #33
@pweil- Initially they were both set at 300 seconds but the service (httpd) was ready much earlier than the 300 seconds so I lowered readiness to 180 seconds. What we really need I believe is a different method of liveness probe instead of http get on 80, maybe checking a local file would be enough with a shorter initialdelayseconds. Is a file existance check standard practice for liveness probes?

[2016-09-20 13:58] pweil- commented on #33
If the container is ready it should also be live.  Failure of the liveness probe would indicate that Kube needs to restart the container...it is dead.  So maybe you don't need the liveness probe at all or, as you say, maybe a different liveness probe would be better.

I'm not sure about checking the existence of the file unless that file indicates that the container is running but not ready to rec

[2016-09-20 14:14] fbladilo commented on #33
@pweil- @bazulay I think I can have a basic file/dir existance check on vmdb (application root) for liveness, that at least tells me there is a container there and seems alive, then just let the readiness probe be the real test as you mentioned.

[2016-09-20 14:21] pweil- commented on #33
I did a little more looking and noticed some of our db templates actually include timing like this where the liveness probe has a delay longer than the readiness probe.  In those cases, liveness checks an open port and readiness is checking that a query can be performed so it is ready to receive traffic.  So I think what you're doing is consistent with that.

Since liveness is considered SUCCESS b

[2016-09-20 14:21] #33 closed

[2016-12-13 15:34] fbladilo opened #78 "Check memcached pod status before we begin initialization"
@bazulay @simaishi @carbonin We need to check the status of the memcached POD before we begin initialization, similar to what we do with postgresql [here](https://github.com/ManageIQ/manageiq-pods/blob/master/images/miq-app/docker-assets/container-scripts/container-deploy-common.sh#L75).

In current deployments, the memcached POD comes online first, mainly because is a light-weight image/POD and w

[2016-12-19 11:30] bazulay commented on #78
@fbladilo  @simaishi  @carbonin  we could install the memcached rpm in the manageiq image , or we could check if the port is open using bash only (see http://stackoverflow.com/questions/4922943/test-from-shell-script-if-remote-tcp-port-is-open).

BTW what is the size of the rpm ?

[2016-12-28 16:29] bazulay opened #79 "miq-app image is missing an rpm"
Per commit https://github.com/ManageIQ/manageiq-appliance-build/pull/116/files
openscap-scanner package is required to run openscap on a container image.
when it is not present the SSA for containers will fail.
This is relevant only for upstream.

same issue was opened on the monolithic container (https://github.com/ManageIQ/manageiq/issues/13322)

[2017-01-04 22:23] vnugent opened #81 "[feature request] PV-less pods"
Persistent storage requires additional set up tasks (more work) for developers who stand up their own Kubernetes/OpenShift clusters.  I'm proposing a PersistentVolume-less pod.

[2017-01-12 14:59] fbladilo commented on #79
Resolved by #80

[2017-01-12 14:59] #79 closed

[2017-01-12 15:51] bazulay commented on #81
@vnugent  than you can simply change the template  and if you want to share with all than submit the new template here (it should be simple), we have currently a much higher priorities.
keep in mind that such a setup will not survive reschedule of any of the pods

[2017-01-18 13:29] urban-it-solutions opened #82 "bug in miq-template.yaml"
line 91

 - image: manageiq/manageiq-pods:{APPLICATION_IMG_TAG}

missing a $
-> - image: manageiq/manageiq-pods:${APPLICATION_IMG_TAG}

[2017-01-18 14:15] fbladilo commented on #82
@urban-it-solutions Good catch thanks.

@simaishi It looks like we introduce it in [https://github.com/ManageIQ/manageiq-pods/commit/81774f6feb560a9f0637d7f0a15ab8ab03e6712d](here)

[2017-01-18 14:24] simaishi commented on #82
Oops, sorry...  That value gets overwritten, which is why the template still works (and we never noticed!)

[2017-01-18 14:36] #82 closed

[2017-01-25 16:58] fbladilo opened #86 "Update documentation to reflect maxImagesBulkImportedPerRepository changes"
@bazulay @simaishi We need make a note on the pre-requisites of installation doc to bump this parameter on Origin/OCP clusters, all of our repos exceed the default limits of 5 images.

Symptoms of issue are inability to see all images on the IS.

[2017-01-30 15:12] fbladilo opened #87 "Initial MIQ deployments will not start on OCP 3.4 or Origin 1.4"
@bazulay @simaishi As of OCP 3.4 and origin 1.4 , the default behavior of the imageChange trigger has changed. Images are NOT automatically resolved as they did in (3.3 and 1.3) when set to automatic=false. This causes the initial deployments to stay idle and not start.

We need to revert the templates to use automatic=true on imageChangeParams for all PODs and instruct users to disable it after a

[2017-01-30 22:08] bazulay commented on #87
And we need to update the documentation as well

[2017-01-31 13:53] fbladilo commented on #87
@bazulay Yes, will put a warning on documentation to disable the triggers after a successful deployment.

[2017-02-01 14:27] #87 closed

[2017-02-01 21:22] #86 closed

[2017-02-13 17:34] simon3z opened #92 "Setting the ManageIQ hostname as CN in the SSL Certificate"
Currently the SSL certificate used by the ManageIQ app doesn't contain a valid hostname as CN and there is no way to properly configure it during deployment.

E.g.:
[code]

Since the route is automatically generated I suppose the same host used there should be configured by default (with an option to override or add other hostnames).

Technically this could be implemented in two ways:

* During de

[2017-02-14 14:37] fbladilo commented on #92
@simon3z Sounds good, let me discuss with @bazulay, I'm inclined over the reencrypt route choice which we could potentially provide a route template to use and change.
BTW , we offer control over the hostname exposed in the route via APPLICATION_DOMAIN (by default empty).
[code]

[2017-02-14 14:45] fbladilo commented on #92
@simon3z @bazulay BTW, I'm not sure how that cert is actually getting created (certainly not baked in the image), I believe during EVM startup when it brings up httpd, it happens.
@carbonin probably knows more about this..

[2017-02-14 14:53] bazulay commented on #92
@fbladilo @simon3z @carbonin
Doing the reencrypt is definitly easier,
I would also check what other applications are doing.
@fbladilo  I would say that the reencrypt part should get in ASAPto master, otherwise access to the AP entry pont  of manageiq is problematic,
And after that investigate the other option.

@simon3z  Is this approach o.k. with you ?

[2017-02-14 14:55] simon3z commented on #92
@bazulay yes, although IIRC for the reencrypt you still need to provide the expected CA for the internal endpoint (not sure how tricky is that or if it can be disabled).

[2017-02-14 15:06] carbonin commented on #92
@fbladilo I believe you're talking about [this](https://github.com/ManageIQ/manageiq/blob/master/certs/server.cer) right? In which case, yeah it's just in the source tree.

I believe the appliance_console has some options around managing certificates, but I'm not very familiar with them.

[2017-02-15 12:42] bazulay opened #93 "images built from manageiq master should not trigger upgrade seaquence every reschedule"
While this behavior is the right behavior for development env, this is not necessarily the right way to behave on a real live system.
On one live system  based on manageiq master, the system got into a reschedule storm , and as a result it run out of space on the PV since it is backing up the data every time it thinks it is in upgrade seaquence, and on master we have always assumed a reschedule =

[2017-02-15 14:13] fbladilo commented on #93
@bazulay Yes, master has been always an exception since it is considered to be for development purposes. Treating master as a regular release might induce more work from the developer side but I guess is doable.

[2017-02-16 12:08] bazulay opened #97 "Make sure cockpit-ws is built into the PODified manageiq image"
Per https://github.com/ManageIQ/manageiq/pull/12506
and https://github.com/ManageIQ/manageiq-appliance/pull/107

We need to make sure cockpit-ws if fully functional on the podified version.

[2017-02-16 12:58] simaishi commented on #97
Also need a new package: https://github.com/ManageIQ/manageiq-appliance-build/pull/192

[2017-02-16 13:15] bazulay commented on #97
@simaishi @fbladilo

It is a bit more than just installing the rpm .... we need to make sure it actually works on the PODified deployment.

[2017-02-16 21:02] bazulay opened #98 "Log rotation does not work in both PODified and Monolithic ManageIQ"

[2017-02-16 22:08] bazulay opened #99 "Backup of the PV data (performed each upgrade) should not include the logs"

[2017-02-20 18:23] fbladilo commented on #97
@simaishi @bazulay A couple of things on this one :

* We need at least the cockpit RPM included in monolithic and openshift images
* We actually git-clone appliance-build so once  https://github.com/ManageIQ/manageiq-appliance/pull/107 is merged , we should be good.

[2017-02-21 15:35] fbladilo commented on #97
@bazulay We wait on this one until cockpit related PRs are actually merged upstream in manageiq/manageiq-appliance repos.

[2017-02-22 16:23] fbladilo commented on #98
@bazulay What is the official appliance procedure for log rotation? Is there one? We should not go for a one-off only on podified MIQ.

[2017-02-23 16:08] fbladilo commented on #99
@bazulay Agreed, currently we process all data on PV without exceptions. I can set a rsync exclude for 'logs'. I can't think a good case to hold several copies of log backups on the PVs.

[2017-02-28 13:58] bazulay commented on #98
added @jvlcek who worked on the log rotation,
As far as I understand there is only a mechanism for that upstream.

[2017-02-28 14:36] simaishi commented on #98
Ah, sorry, I missed the mention...  The log rotate config file is there (/etc/logratote.d/miq_logs.conf), but I don't see `logrotate` package being installed in container images. Would this be just a matter of installing the package?

@jvlcek On my vSphere appliance, I have `logrotate` installed, but as a dependency of some other package. If our feature depends on this package, it should probably

[2017-03-01 15:36] bazulay commented on #98
@simaishi @fbladilo  I think this work was only merged upstream ...
this is why I added @jvlcek

[2017-03-01 17:45] fbladilo commented on #93
Resolved by #101

[2017-03-01 17:45] #93 closed

[2017-03-02 14:56] fbladilo commented on #98
@simaishi @bazulay Logrotate configs are already being pushed by the appliance repo :

[code]
The config looks reasonable, it has "missingok" which we need since our PG logs are not local, also an httpd reload will not incurr issues with the probes, a restart would have been harder to digest.
We just need to install the package for upstream which I'm ok with.

[2017-03-03 09:13] simon3z opened #105 "PostgreSQL Password should be Autogenerated"
Current ability of configuring a password for PostgreSQL (`DATABASE_PASSWORD`) is handy but in case it's not defined it shouldn't be a known default password `smarvm` but rather a random generated one (and stored as a secret).
IIRC password generation is well supported and easy to use in Kubernetes/OpenShift (for inspiration you can look at Heapster/Hawkular).

cc @fbladilo @bazulay

[2017-03-03 09:18] simon3z opened #106 "Application and Database Volume Capacity"
Given the recent tests I had, I think the default values should be something like:

- `APPLICATION_VOLUME_CAPACITY=5Gi`
- `DATABASE_VOLUME_CAPACITY=15Gi`

Also remember that currently the backups at each restart could easily fill the application volume.

cc @fbladilo @bazulay
(Let me know if I should be sending a PR)

[2017-03-03 13:13] simon3z opened #107 "Support External PostgreSQL Instances"
It should be possible to deploy ManageIQ podified also with an external PostgreSQL instance.

I suppose in this case you wouldn't deploy the regular posgres dc but just configure an endpoint (not even sure you need a service in this case, an endpoint would be enough IIRC) to point to the external PostgreSQL instance (configuration given by the user).

Maybe it should be a different template?

cc @

[2017-03-03 14:50] fbladilo commented on #106
@simon3z agreed our default values are definitely low and not realistic at all, please keep in mind we are working on #103 which should reduce the size of backups considerably.

[2017-03-03 15:08] fbladilo commented on #105
@simon3z This is the way we had the database password set originally, auto-generated. I can't recall if manually setting the password via template param (-p DATABASE_PASSWORD) overrides the auto-gen call on template, need to verify. I will look at the examples as well. @bazulay thoughts?

[2017-03-03 15:13] fbladilo commented on #107
@simon3z Likely to be a separate template as we will not need all of the PG REST objects at all in this case, also necessary logic needs to be implemented to detect/handle the external PG setup, this data will be required by user, along with proper PG role setup on the remote PG in order to create/migrate DB.

[2017-03-04 16:45] fbladilo commented on #98
@simaishi Do we logrotate on downstream builds?

[2017-03-05 02:19] #99 closed

[2017-03-06 13:35] #106 closed

[2017-03-06 13:53] bazulay commented on #98
@fbladilo @simaishi @carbonin @loicavenel

Trying to answer some of your questions:
1 - need to find out how are things working downstream
2 - we logrotate only to save space (and by that allow the appliance to have a longer ;life before running out of space)
3 - I am not sure how the combination of openshift scheduled jobs work with PetSets (soon to be statefulSets) ...does it work per appliance

[2017-03-06 15:56] jvlcek commented on #98
Just to clarify what log rotation functionality is where:

## For a long time:

- Log rotation has been in the product for a long time, both upstream and downstream, with
the following functionality:
-- The log rotation requires logfile_size+(logfile_size/5) disk space to rotate the log
-- A cron job is run daily to rotate and compress the logs. Lacking available disk space will prevent log rotati

[2017-03-06 16:47] fbladilo commented on #98
@jvlcek Thanks for clarification!

@bazulay I'm inclined to enable the default 14-day rotation via standard cron jobs as it is on the rest of builds, we already supply a PV for server data. I'm not sure about the support of Openshift cron jobs on petsets, also logrotate cron jobs actually perform more than just moving files on the PVs, they also interact with daemons (httpd) which might not be pos

[2017-03-06 17:11] bazulay commented on #98
@fbladilo
I agree this is the best approach we can work with now.

[2017-03-07 21:24] bazulay opened #110 "Postgres POD needs log rotation"

[2017-03-07 21:37] #98 closed

[2017-03-15 19:35] fbladilo commented on #78
@bazulay Size is minimal (84k), the advantage is that we will check status with the native tool :

memcached                                 x86_64                                 1.4.15-9.el7_2.1                                    production-rhel-x86_64-workstation-7.2                                  84 k

[2017-03-15 20:55] fbladilo commented on #78
@bazulay Yeah, I thought about this one, currently memcached is part of the base RHEL/Centos, that is actually how we build the image currently used on podified. We select the base images for the pods and must align to the desired base OS release for MIQ.

Currently our base all across is Centos7/RHEL7. I think the misalignment case for base images seems remote but possible, that is, we are forced

[2017-03-15 21:19] carbonin commented on #78
I have no preference.

I feel like `ncat -z <host> 11211` is definitely simpler, especially if we want to avoid installing more rpms on the pods.

[2017-03-15 21:26] fbladilo commented on #78
@carbonin Is nmap-ncat installed on MIQ VM appliances by default? On containers :

[root@manageiq-2-myr0t vmdb]# rpm -qa | grep nmap
[root@manageiq-2-myr0t vmdb]#

Hmm

[2017-03-15 21:37] carbonin commented on #78
Oh maybe not .. didn't think of that :sweat_smile:

[2017-03-15 22:15] fbladilo commented on #78
@carbonin I still like the idea :smiley: , since we can re-use it for other services, I'm not too fond of echoing to /dev/tcp on a container for service availability checks....

[2017-03-16 14:03] carbonin commented on #78
Okay, plus it seems to make more sense to have ncat on the non-memcached containers rather than having memcached on the non-memcached containers.

I'm not sure what solution this applies to ...

[2017-03-16 14:54] carbonin commented on #78
Ah also it looks like it is installed on the VM image https://github.com/ManageIQ/manageiq-appliance-build/pull/115

[2017-03-16 17:09] fbladilo commented on #78
@carbonin We use the miq POD (appliance) to perform all pre-initialization checks for service availability, bash built-in tcpchecks could be an option but I'm not too convinced on that option. Instead ncat seems like a better fit for the task and it is not too heavy in size. I wrote a function last night that uses ncat to perform validation, so far so good :
[code]

It should be re-usable for any

[2017-03-16 18:40] bazulay commented on #78
I am good installing ncat in the image and use it to check memcache pod.
I assume we'll be using it to validate more PODs down the road.

[2017-03-22 21:55] #78 closed

[2017-03-26 13:52] bazulay opened #115 "move to StatefulSet towards origin 1.5"

[2017-03-27 20:53] fbladilo commented on #115
@bazulay Thanks, will submit as soon as 1.5/3.5 go out.

[2017-03-30 17:05] #105 closed

[2017-03-30 17:56] bazulay commented on #110
opened this issue on the official sclorg postgresql-container repo,
https://github.com/sclorg/postgresql-container/issues/168

[2017-03-30 17:58] bazulay commented on #110
Leaving this issue still open for tracking

[2017-04-06 16:08] fbladilo commented on #110
@bazulay I just confirmed that PG log rotation is enabled daily on the images via postgresql.conf.

[2017-04-06 17:10] bazulay commented on #110
Per comment above closing the issue

[2017-04-06 17:10] #110 closed

[2017-04-13 17:59] fbladilo commented on #115
@bazulay OCP 3.5 is out, origin 1.5 probably will probably be out anytime now. I will schedule time to upgrade my clusters next week.

[2017-04-20 16:35] #115 closed

[2017-04-28 17:50] balpert89 opened #131 "manageiq-pod stays unhealthy"
Hi there,

i try to deploy manage-iq on OpenShift (https://github.com/ManageIQ/manageiq-pods) but it seems the application does not start up.

running OSE 3.4 (PetSet instead of StatefulSet)
the PVs are in place and bound to the right claims
memcached and postgres are running fine
But the manageiq-0 pod refuses connections:
[code]
Output from systemctl status:
[code]
The readiness probe fails and

[2017-04-28 18:00] simaishi commented on #131
@balpert89 Looks like you're hitting this issue: https://github.com/ManageIQ/manageiq/pull/14904. Are you running the latest image?

[2017-04-28 18:06] balpert89 commented on #131
image: docker.io/manageiq/manageiq-pods:app-latest

i suppose :)

[2017-04-28 18:49] simaishi commented on #131
`app-latest` always points to the latest image at the time of pull.  If you pulled the image today, the image has https://github.com/ManageIQ/manageiq/pull/14904 included as that was merged 2 days ago. And if you have that change, there is no line 100 in  `/var/www/miq/vmdb/lib/workers/evm_server.rb`. Can you double check what image you have?

[2017-04-28 19:10] balpert89 commented on #131
hi @simaishi, i pulled all the images today as i deployed the project on another cluster.

Here is the output of the file you mentioned:
https://gist.github.com/balpert89/077385496ce95492e9cba13a19ac385a

[2017-04-28 19:28] fbladilo commented on #131
@balpert89 Seems like the bug @simaishi noted, please ensure your evm_server.rb and miq_server.rb look patched as in :
https://github.com/ManageIQ/manageiq/pull/14904/files#diff-c6351ff454ebabe0a2a4a762d1edcfdeR246

If you want to force your petset to fetch latest image, please adjust imagePullPolicy :

1. oc edit petset manageiq
2. imagePullPolicy: Always
3. Scale down petset and scale back-up

[2017-04-29 12:25] balpert89 commented on #131
That was it :-)

Another quick question, does the PODified version of miq supports openid authentication? I found this guide for saml2 http://manageiq.org/docs/reference/latest/auth/saml but couldn't follow because there is no directory /var/www/miq/system/TEMPLATE in the manageiq-pod.

Should I create another issue?

Best regards

[2017-05-01 03:24] fbladilo commented on #131
@balpert89 Feel free to create a separate issue for the openid auth, I'm probably not the best to answer in that regard but we can try to find the correct contact. I will close this one as the original issue has been resolved. Thanks.

[2017-05-01 03:24] #131 closed

[2017-05-05 13:50] goern opened #132 "move container image build process to CentOS CI"
Manageiq container build process seems to be working around some Docker Hub auto build limitations. Using [CentOS CI](https://wiki.centos.org/QaWiki/CI/GettingStarted) could be a way to improve the structure of MIQ container images and to eliminate MIQ requirements like https://github.com/ManageIQ/manageiq-pods#increase-maximum-number-of-imported-images-on-imagestream

[2017-05-05 14:51] durandom opened #133 "create app with different db name fails"
I want to create an app with another db name than the default but this fails on the app image. Looks like `DATABASE_NAME` is not passed down to `appliance-initialize.sh` somewhere

[code]

[code]

[2017-05-07 13:24] bazulay commented on #133
@carbonin @fbladilo PTAL
This may also explain some failures I had with the external db template.

[2017-05-08 12:32] fbladilo commented on #133
@durandom @bazulay Let me have a look, certainly DATABASE_NAME gets passed to PG but possibly getting dropped on the MIQ pod.

[2017-05-09 02:41] fbladilo commented on #107
@bazulay Are we Ok to close this one?

[2017-05-09 11:28] bazulay commented on #107
Per the merge of #119
Closing this issue

[2017-05-09 11:28] #107 closed

[2017-05-09 12:45] fbladilo commented on #133
@durandom Let me know if this one is Ok to close, fix via #135

[2017-05-11 14:04] durandom commented on #133
works. thanks for fixing :)

[2017-05-11 14:04] #133 closed

[2017-05-23 09:27] simon3z opened #141 "Specifying clusterIP as None prevents Service functionality"
In the current template the `manageiq` service is specifying `clusterIP` as `None`. At least for me on OpenShift 3.5 this prevented the service from receiving a `clusterIP` remaining as `None`.

[code]

The relevant `Route` seemed not to work.

Deleting and redefining the service without the `clusterIP` fixed the situation (a `clusterIP` was automatically assigned and the `Route` started working).

[2017-05-23 11:33] bazulay commented on #141
@fbladilo @simon3z  this is weird,
I deployed it on origin 1.5 and it simply worked.
what are we missing ?

[2017-05-23 12:28] fbladilo commented on #141
@simon3z @bazulay The headless service is part of the design and requirements for statefulsets :
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

It is working on my testing environment OCP 3.5, how does your cluster env look like?

[2017-05-23 15:48] simon3z commented on #141
I deleted the service and recreated it with `clusterIP` as `None`:

[code]
And the route kept working.

So maybe the issue I encountered was that the service/route were not settled yet when I tested them (although the pod was up and ready).

@fbladilo I think that the headless service is a requirement only if you need network identity (I don't think it's needed here, but it's not hurting anyway).

[2017-05-23 15:48] #141 closed

[2017-05-26 18:36] tbielawa opened #146 "Please test out the openshift-ansible role we've prepared"
In https://github.com/openshift/openshift-ansible/pull/4041 I've prepared a basic working POC for a role that installs CFME as part of a new OCP installation.

The PR works on infra that meets the requirements outlined in this project's README. Installations on hardware below those requirements will fail. I did my tests in the OS1 OpenStack environment at work.

Please give it a test so we can get

[2017-05-26 19:11] carbonin commented on #146
This looks great and thanks for the heads up @tbielawa (I didn't know this type of work was going on), but fair warning this repo is likely to undergo quite a few significant changes in the near future.

For example we removed the need for privileged pods in #140, but may need to add it back in some capacity to support parts of our external authentication (sssd) - the current thought is to separat

[2017-05-28 11:24] bazulay commented on #146
@carbonin  @fbladilo  The work @tbielawa was doing is for  deployment of podified manageiq 5.8 on origin 1.6,
It will need to be adopted once the arch changes towards 5.9, but this needs to be verified as well.

[2017-06-02 13:38] fbladilo commented on #146
@tbielawa Thanks, this is cool stuff. What would be the quickest way to get testing this new ansible role? We currently work mainly on GA releases (1.5/3.5) in our clusters.

[2017-06-02 14:36] tbielawa commented on #146
@fbladilo you need a cluster with 1 master and 2 nodes that meet the requirements outlined in the [README.md](https://github.com/ManageIQ/manageiq-pods/blob/master/README.md#cluster-sizing). I used the Red Hat OS1 cluster because it's cheaper ($free) than AWS for the same (huge) sized instances.

You can get started [here](https://github.com/tbielawa/openshift-ansible/blob/1c054134a4e12c98c6a9c425

[2017-06-08 20:25] fbladilo commented on #146
@bazulay @carbonin Successfully tested the openshift-ansible MIQ role with @tbielawa help, works perfectly some minor commits pending to fix the tags to latest-fine (CFME 4.5) on template.
[code]
Testing was done on OCP 3.5 with a git clone of the new openshift-ansible miq role, the most significant paremeter on inventory file is :

[code]

[2017-06-09 19:49] stobias123 opened #158 "Embedded ansible install loops?"
Let me know if this is the wrong repo for this issue but I can't install the embedded ansible role...

When I switch the role on and save I get notifications nonstop that it's activating, but it never seems to complete. Still pretty new to ManageIQ - any pointers would help, even if it's just where to start digging in logs.

![image | 200px ](https://user-images.githubusercontent.com/590677/269920

[2017-06-09 19:54] carbonin commented on #158
This is a bit the wrong location, but the link you'll want to read up on is http://talk.manageiq.org/t/howto-setup-embedded-ansible/2291

[2017-06-09 19:54] #158 closed

[2017-06-09 19:56] stobias123 commented on #158
Hmm maybe I'll move to the MIQ repo... but per red hat I shouldn't need tower https://access.redhat.com/articles/3062211

[2017-06-09 20:00] carbonin commented on #158
You wont need tower if you're running CloudForms, but ManageIQ does need a separate license.

[2017-06-23 10:26] hahnn opened #166 "Schema not installed in external postgresql DB"
Hi,
Just tried to deploy ManageIQ using the external DB template.
I can see the external database is contacted but the pod ended in error and keep restarting because the database schema is never installed in the database:

== Checking memcached:11211 status ==
memcached:11211 - accepting connections
Error something seems wrong, we need at least two parameters to check service status
/opt/rubies/ru

[2017-06-23 13:01] carbonin commented on #166
Yeah, that should be fixed by https://github.com/ManageIQ/manageiq-pods/pull/164

Sorry about that

[2017-06-23 13:07] #166 closed

[2017-06-26 08:18] hahnn opened #167 "bug checkink database connection status"
Hello,

I discovered what I think is a potential new bug when deploying manageiq using an external database.
My PostgreSQL database is running on a different port than the standard one: it runs on port 6543 instead of 5432.

I think they are two issues:
- first issue is that I had to update the manageiq external DB template to modify by hand the port number, because otherwise services and endpoint

[2017-06-26 08:20] hahnn commented on #167
Please note I also use different values for database name, user and password, than the defaults provided in the template.

[2017-06-26 09:32] hahnn commented on #167
closing because fixed by commit #164

[2017-06-26 09:32] #167 closed

[2017-06-26 10:12] hahnn opened #168 "manageiq deployment using external DB not working"
Hi,

Continuing my tests after commit #164, the manageiq pod is not willing to start correctly:

== Checking memcached:11211 status ==
memcached:11211 - accepting connections
== Checking postgresql:5432 status ==
postgresql:5432 - accepting connections
== Writing encryption key ==
== Restoring PV data symlinks ==
/var/www/miq/vmdb/GUID does not exist on PV, skipping
/var/www/miq/vmdb/log does not

[2017-06-26 13:52] fbladilo commented on #168
@hahnn Can you post the entire output of "oc logs miq-pod-name", I would like to understand what case is your deployment is processing during the init scripts run. Is this a master build?

If yes, please make sure you are getting the latest possible master images for your deployment, "oc edit template <miq-template-ext-db>" and modify MIQ pod spec imagePullPolicy :

[code]

[2017-06-26 14:14] hahnn commented on #168
Here below are the results of the commands you've requested:

# oc get pod
NAME                READY     STATUS    RESTARTS   AGE
manageiq-0          0/1       Running   30         4h
memcached-1-dbn19   1/1       Running   0          4h

# oc logs manageiq-0
== Checking memcached:11211 status ==
memcached:11211 - accepting connections
== Checking postgresql:5432 status ==
postgresql:5432 - accept

[2017-06-26 14:24] fbladilo commented on #168
@hahnn Output seems incomplete, do me a favor, go ahead and change the imagePullPolicy for the MIQ pod spec as I noted in my previous comment, want to ensure you are deploying the latest possible images for miq pod.

I would actually update the external template with the updated imagePullPolicy, delete the existing deployment and start a new one for freshness.

For example, your entire oc logs out

[2017-06-26 14:26] hahnn commented on #168
Please note that in the template reproduced above, I've updated the persistent volume to suit my environment:
- added a subPath to the /persistent volume (volumeMounts definition)
- updated the volumeClaimTemplates bloc to include a specific volumeName, and also updated accessModes to ReadWriteMany because it's the only mode accepted for a glusterFS persistent storage

[2017-06-26 14:40] fbladilo commented on #168
@hahnn Seems ok, I'm a bit confused I don't the see the call in your oc log output to check_deployment_status :

https://github.com/ManageIQ/manageiq-pods/blob/master/images/miq-app/docker-assets/appliance-initialize.sh#L25

This function determines the path to follow for your deployment.

[2017-06-26 15:06] hahnn commented on #168
currently deleted my full manageiq project (as well as performed some 'docker rmi' commands to also delete the images) and recreated it from scratch.

Here are all the steps after deletion:

[code]

Then using the OpenShift Web Console, click 'Add to project' button in order to create the app.
In the web console, I changed some parameters mostly related to the DB as below:
- DB name: manageiq
- DB

[2017-06-26 17:07] fbladilo commented on #168
@hahnn Looks good, the external DB deployment expects your remote PG server to have the appropiate user, role and password created as you requested on the template. We have no control over that since it is a remote PG server, needs to be accomplished prior deployment.

Can you connect to the remote PG server with the manageiq user/password from the application pod?

Please keep in mind the SuperUs

[2017-06-26 17:14] hahnn commented on #168
I can confirm the connection is Ok on the remote postgresql server because the postgresql check launched when the pod starts confirm a success, and I can see the connection from the pod in the logs of my PostgreSQL server.

But what do you mean about super user role on PG server? The manageiq account for the database needs postgres super admin rights??? If this is the case, that's really something

[2017-06-26 17:19] fbladilo commented on #168
@hahnn No problem 👍 The PG check only does a generic TCP check if the database is available at the port, does not check credentials.

https://github.com/ManageIQ/manageiq-pods/blob/master/images/miq-app/docker-assets/container-scripts/container-deploy-common.sh#L33

The super user rights are a requirement by Manageiq perhaps @carbonin can help explain more on why 😃

[2017-06-26 17:23] hahnn commented on #168
mmhhhh.... are those super admin rights needed only the first time the pod starts in order to configure the DB or is it required permanently?
I would really suggest to avoid defining a DB account with super admin rights for an application, even if this application is ManageIQ... will not pass our security requirements.

[2017-06-26 18:00] carbonin commented on #168
I'm thinking the main reason for this is that rails apps typically drop and recreate the database (which is what we do during initialization). This will mean when we drop the database we need to connect to another one to recreate it and this is hardcoded (in rails, not in our app) to the `postgres` database.

I know we have users that don't use `SUPERUSER` so it can be done, but I'm not sure I can

[2017-06-26 18:17] hahnn commented on #168
i'll try tomorrow morning first hour :-)
And will write here if that will be enough to unblock things.

Anyway, I want to thank both of you for your pro-active answers and support ;-)

[2017-06-27 07:10] hahnn commented on #168
OK. I altered the attributes of the manageiq database user to have superuser rights.

But the issue is still there, there is nothing new in the pod logs:

[code]

[2017-06-28 07:44] hahnn commented on #168
This morning, I've seen a difference in the log output of the miq pod, certainly because of commit #162. certificates are generated, and after that the issue is still there:

[code]

[2017-06-28 13:03] carbonin commented on #168
@hahnn I'm working through a few issues on the master branch. We're in the process of implementing quite a few new features. If you're just interested in getting things up and running, I would suggest using a tagged release rather than master.

[2017-06-28 13:59] hahnn commented on #168
Yeah... I see httpd and ansible pods now. It seems you go more and more from monolithic to micro-services. Which is good :)

[2017-06-28 18:35] carbonin commented on #168
After https://github.com/ManageIQ/manageiq-pods/pull/172 was merged I was able to get master working with an external database. I didn't try anything with more restrictive database role permissions though.

It may be worth noting here that for the first setup the manageiq pod takes a few minutes to initialize the database. If there is significant latency between the pod and wherever the database i

[2017-06-28 21:48] hahnn commented on #168
OK, good to know. I'll give some tries tomorrow and let you know.

[2017-06-29 08:54] hahnn commented on #168
OK. I tried the miq-template.yaml, because had no results with external DB.
But I really have bad results:
Basically, the only pod that can start is the memcached.
httpd, manageiq-ansible and postgresql pods in particular stay light blue for a while and end with a deployment failed red error after 10 minutes.
manageiq pod stays light blue and try to restart permanently every 10 minutes.

here belo

[2017-06-29 09:57] hahnn commented on #168
Ah... lauching deployment of the postgresql pod once more time, it finally started and I can see the vmdb_production database.
If i understand there should be an ansible DB also that is not there at this time.
Continuing my effort on the ansible pod.

[2017-06-29 12:48] hahnn commented on #168
I don't see any ansible database created in the postgresql pod.
the manageiq-ansible logs are as below:

[code]

this pod seems to get stuck

[2017-06-29 13:07] carbonin commented on #168
No, that looks fine. That pod is not sending its output to STDOUT so that's all you would see.

[2017-06-29 13:22] hahnn commented on #168
ok. So it keeps its light blue color for 5 minutes, then orange color for 5 minutes, and restarting.
Same fot httpd pod.
There are a lot of more logs permanently appearing in the manageiq pod, clearly showing it does lot more things than before, but this one also keep restarting permanently after light blue/orange color cycle.

There is no other DB than the vmdb_production database in the postgres

[2017-06-30 08:02] hahnn commented on #168
In fact, I'm practically sure the pods are running fine, now. But my feeling is that, for a reason or another, the readiness probes of ansible and httpd pods beleive the expose ports are not working.
I've tested that by doing a simple curl --insecure https://POD_IP which confirm it's working, while the readiness probe doesn't see anything...

[2017-06-30 08:45] hahnn commented on #168
checking readiness probe in the yaml file for the embedded-ansible probe, i can clearly see the scheme is defined to HTTPS...
So I don't understand why the readiness probe is in a permanent failed state in my openshift lab...

[2017-06-30 08:55] hahnn commented on #168
Oh... in fact the readiness probe is not the issue, but the liveness probe is...

[2017-06-30 12:24] hahnn commented on #168
I finally put my finger on the problem. I explain what I found.

- In the manageiq pod, there is a /persistent mount point.
- In this path, a lot of directories are created when the pod initialize itself. I want to speak of those directories: server-data/var/www/miq/vmdb/log
- however, analyzing the logs of the pod, I've seen something that looked strange to me:

[Fri Jun 30 10:51:35.043956 2017]

[2017-06-30 16:09] carbonin commented on #168
On first boot of a new manageiq pod from master I see that directory in the `/persistent` volume:

[code]

Additionally after waiting a few minutes I see everything come up successfully on the manageiq pod

[code]

It seems like this was a combination of an issue with master that has since been resolved and some environmental issue. I'm going to go ahead and close this.

[2017-06-30 16:10] #168 closed

[2017-07-04 07:48] hahnn opened #177 "manageiq deployment using external DB not working"
Hello,

I open this issue again because previously, I ended testing of manageiq with its PostgreSQL pod.
Today, I'm retrying testing it with the external DB template, and the issue is still there meaning it doesn't work with my external DB.

To refresh memories, here below are conditions of my test lab:
- **my external DB is running on port 6543**
- database name is: manageiq
- database user is: m

[2017-07-14 18:33] joelddiaz opened #184 "ManageIQ template DATABASE_NAME variable doesn't make it to manageiq pod configuration"
When trying to use the mangeiq template to point to an external Postgres DB, the manageiq pod was set up in a way where it was attempting to connect to the external Postgres DB with the DB name 'vmdb_production'. The value of DATABASE_NAME passed to the template was not 'vmdb_production'.

After I manually created a DB with the name 'vmdb_production', the manageiq pod was able to come up successfu

[2017-07-14 18:43] carbonin commented on #184
Can you provide the steps you took to deploy the application? Especially any error messages in the manageiq logs (`/var/www/miq/vmdb/log/evm.log`) on the frontend pod or the standard out of that pod.

Additionally can you provide the value of the `DATABASE_URL` environment variable from the manageiq-frontend pod?

[2017-07-14 18:58] joelddiaz commented on #184
After importing the template, ran:

oc new-app --template=manageiq-ext-db -p DATABASE_IP=172.31.54.216 -p DATABASE_USER=pg_admin -p DATABASE_PASSWORD=$PG_PASSWORD -p DATABASE_NAME=cmops_pgtest -p MEMCACHED_IMG_TAG=memcached-latest-fine -p APPLICATION_IMG_TAG=app-latest-fine

You can see the DATABASE_NAME was set to 'cmops_pgtest'. I had to externally create the 'vmdb_production' DB for the managei

[2017-07-16 17:48] bazulay commented on #184
@carbonin @joelddiaz
Nick Joel is working on the fine branch , but I assume that master has the same issue.
When I tested external db , I encountered the same phenomena.

[2017-07-17 09:10] simon3z commented on #184
@joelddiaz @carbonin @bazulay please take a look at #183 which once merged (and images rebuilt) should handle this.

[2017-07-24 14:37] hahnn commented on #184
What port are you using? Because if you use a port different than 5432, which is the default postgreSQL port, it will not work.
That's what I've explained in the issue #177 opened 20 days ago. I'm convinced there's a bug here. Maybe that'll be confirmed (or not) when an answer will be provided, or maybe this issue is solved I've to check.

[2017-07-24 14:56] joelddiaz commented on #184
Using the standard PostgreSQL port (5432).

[2017-07-25 02:38] fbladilo commented on #177
@hahnn Nice write-up thanks, it is a bug on the external template, our connection URL references the wrong port on miq-secrets :

https://github.com/ManageIQ/manageiq-pods/blob/master/templates/miq-template-ext-db.yaml#L30

database-url is actually using DATABASE_PORT which the external endpoint PORT. If you actually remove that from your template it should work as expected. We should always use 5

[2017-07-25 02:58] fbladilo commented on #97
@carbonin @simaishi This one seems stale? Were the relevant cockpit PRs merged already? Any ideas how to validate this on podified?

[2017-07-25 09:09] hahnn commented on #177
I made the test, removing :${DATABASE_PORT} from the external template and that solved the issue.

[2017-07-25 10:54] bazulay commented on #97
@fbladilo  @gtanzillo  @carbonin @simaishi

The code was merged , but still not validated on the regular appliance,
When the feedback is provides we could validate it on the PODified.

[2017-07-25 12:53] fbladilo commented on #97
Thanks Barak, let us know so we can test and clean this one up.

[2017-07-25 12:54] fbladilo commented on #177
@hahnn Cool, I'll send a small PR addressing this shortly.

[2017-07-25 13:38] #177 closed

[2017-07-25 14:09] fbladilo commented on #184
@hahnn @joelddiaz Remote port issue addressed via #186 , other issues as @simon3z  pointed on #183 and related.

[2017-08-02 14:11] mberube9 opened #191 "Openshift master config changes"
The requirement to change the Openshift master config file to deploy MIQ is not best practice.

Any way we can avoid making this change:
**maxImagesBulkImportedPerRepository: 100**

This is an issue for automating the deployment of MIQ as it would require a cluster restart and approval for a cluster setting change.

[2017-08-02 15:45] fbladilo commented on #191
@mberube9 This one is difficult, I agree that in general restarting your master to have these settings applied is disruptive. The rationale behind the increase of maxImagesBulkImportedPerRepository is a two part :

* We use DockerHub to auto-build upstream images, by default we build multiple MIQ releases which are expressed as tags : "latest" , "euwe" , "euwe-2" from their corresponding branches.

[2017-08-07 20:44] Fryguy opened #192 "Postgres affinity to PV"
For the appliance model, it's likely we'll use HostPath for the PVs, however those will probably live on the master node.  In order to keep the file access local, we should create our PVs with labels (e.g. `volume=pv0001`), then ensure that Postgres is launched with that selector.

I'm not sure if this matters for the straight openshift deployment.  We may have to document that the selector needs

[2017-08-08 14:11] bazulay commented on #192
I assume this is about the new appliance model on atomic ?
So just to mentioning  that this problematic in production environment for 2 reasons
1 - master should never be scheduleable on production (not supported)
2 - the postgres POD will not be able to run on any other node (which may be very good for data protection but a single point of failure)

I would add that a single node deployment (sing

[2017-08-08 15:50] Fryguy commented on #192
Yes.  Opened this to keep track of the issues/potential issues we are running into

Interesting, but we enforce this, then manageiq has a required minimum of 2 appliances, which is difficult for demo and POC purposes.

That's a good point.

[2017-08-08 15:51] Fryguy opened #193 "Postgres pod "fails" on initial deployment"
It seems the postgres pod, on initial deployment goes all the way through the setup and a the very end fails with exit code 127.  Then, it goes down, is rescheduled, and when it comes back up, goes through the rescheduling code, which sees that the PV was created properly, and just starts.

In the end it "works", but it is disconcerting to see if fail before being successful.

[2017-08-08 19:56] fbladilo commented on #193
@Fryguy What does oc logs <pg-pod> show on the first failure? Usually PG is quick to come up once the image is pulled. (~1min).

[2017-08-08 20:42] fbladilo commented on #192
@Fryguy @bazulay We attempt to remain agnostic as to which PV would serve our claims (PVC), with the exception of the capacity requested. This plays well with the majority of users and cluster configurations. Users that need PV affinity for whatever the reason might be (SSD equipped nodes as example) typically modify the PVC and request a storage class provided by the admin to ensure this type of

[2017-08-08 21:57] Fryguy commented on #193
Can I still get the logs?  It dies and is respawn super-quick.  I only notice at all because the pod goes from light blue to orange, I see exit code 127 in the comment, and then quickly to light blue then dark blue

[2017-08-08 21:58] Fryguy commented on #192
This is going to be for the appliance deployment model where the VM would "own" the storage.  In the appliance deployment model there is no openshift UI...it's hidden under the covers.

[2017-08-09 18:43] fbladilo commented on #193
@Fryguy I would recommend using the CLI for debugging, one quick way to find out what is happening with the PG Pod is to disable the liveness probe on the template.

`oc edit template manageiq` , adjust, save and redeploy.

Alternatively you can achieve a similar behavior by increasing "initialDelaySeconds" on the PG DC to a large value in seconds. This will give you plenty of time to debug and in

[2017-08-09 21:39] joelddiaz commented on #92
@simon3z with the most recent versions of OpenShift (3.6), there is no need to define the destinationCACertificate field. See this example: https://github.com/zgalor/openshift-ansible/blob/prometheus-role/roles/openshift_prometheus/tasks/install_prometheus.yaml#L101-L111

FWIW, I tried this with OpenShift version oc v3.6.173.0.5 / kubernetes v1.6.1+5115d708d7

[2017-08-21 13:07] ilackarms opened #202 "httpd pod does not route traffic to manageiq"
I have everything deploying successfully:

[code]

all pods are healthy, and the httpd route is up:

[code]

however, the httpd pod isn't routing traffic to the manageiq pod:

![screenshot from 2017-08-21 16-04-00](https://user-images.githubusercontent.com/5974898/29520603-63d06026-868a-11e7-8e92-7e15e680a358.png)

is it possible I have configured something improperly in my setup? the template i

[2017-08-22 12:59] fbladilo commented on #202
@ilackarms Scott closing this one since it was a typo on template...

[2017-08-22 12:59] #202 closed

[2017-08-22 13:12] ilackarms commented on #202
@fbladilo yep! would have closed it myself but i figured I'd wait for the typo to be fixed

[2017-08-22 13:22] carbonin commented on #202
@fbladilo @ilackarms What was the issue here?

Is there something that needs to be fixed in the template? Could you guys give some more details here either way? Thanks.

[2017-08-22 13:25] fbladilo commented on #202
@carbonin I gave a workaround to @ilackarms on a gist template but it had a typo, double volumemount section was preventing the httpd cm to inject/apply. He rectified locally, the real fix for these issues on OCP is in : https://github.com/ManageIQ/container-httpd/pull/14

[2017-08-22 13:28] carbonin commented on #202
Ah, thanks @fbladilo,

Made it sound like there was a bug in the template on master.

[2017-08-22 13:34] ilackarms commented on #202
sorry, my mistake

[2017-08-23 13:34] LarsMilland opened #206 "manageiq:frontend-latest - Failed to get D-Bus connection: Operation not permitted"
Hi

I have been following the guides with templates here on getting ManageIQ running on OpenShift.

We are running OpenShift origin 1.5.1 on RHEL 7.3, and ManageIQ with its Ruby on Rails parts launches fine in the manageiq-pods:frontend-latest image as OpenShift pods. But the system is not coming all online, as the Apache httpd server that would run as a systemd controlled services is not starting

[2017-08-23 13:37] carbonin commented on #206
I think this likely has something to do with the issue here https://github.com/ManageIQ/container-httpd/pull/14

I would expect this would apply to the httpd container though, not the frontend one as the frontend container is not supposed to be using systemd.

[2017-08-23 13:52] LarsMilland commented on #206
Ok - I will take a look at how the httpd container runs then, and see if it is actually supposed to run with that. But I have difficulties to see how a httpd container in another pod can work as reverse proxy to the manageiq pod, where if else I understand things correct the ruby process only binds to localhost/127.0.0.1 ip and not the hostname ip. If that is the case I can't see how the httpd pod

[2017-08-23 14:04] carbonin commented on #206
The httpd pod is going to be used for external authentication which requires running with systemd (that work is in progress). We also run httpd on the front-end container to push requests to the ruby processes, but we don't use systemd to run httpd there.

[2017-08-23 14:07] LarsMilland commented on #206
Ok. Also undersgood. But the httpd server is not running on the manageiq pod either.

[2017-08-25 11:07] gordillo-ramon-redhat commented on #206
I am facing the same issue.

@carbonin , BTW, what is the reason for an httpd in front of  manageiq, and the ha-proxy router + service (as a lb) does not fulfil the requirements?

[2017-08-25 11:36] fbladilo commented on #206
This issue is addressed on https://github.com/ManageIQ/container-httpd/pull/14

[2017-08-25 14:56] simon3z commented on #191
@fbladilo IIUC this is "fixed" by https://github.com/ManageIQ/manageiq-pods/pull/205
Do you think we can close this or we can still do better than that?

[2017-08-25 15:10] carbonin commented on #191
I'm going to close this this as the requirement is no longer in place as of #205.

Additionally, I don't see a use for image streams moving forward. The re-architecture effort will more than likely move the image names into the manageiq configuration within the application or they will be defined some other way within the app, so there will be no need to identify them in the OpenShift interface. B

[2017-08-25 15:10] #191 closed

[2017-08-25 17:36] carbonin commented on #206
@gordillo-ramon-redhat I think I mentioned that in https://github.com/ManageIQ/manageiq-pods/issues/206#issuecomment-324343043; we're not using it for load-balancing, but rather for the external authentication modules.

I'm going to close this as the fix for the httpd pod has been merged.

[2017-08-25 17:36] #206 closed

[2017-08-25 17:37] carbonin commented on #184
Both of the PRs @fbladilo mentioned are merged. Has this issue been addressed?

[2017-09-04 14:36] ilackarms opened #211 "Random failures in manageiq-0 pod after some time (15-30 minutes)"
I am noticing that the `manageiq-0` pod readiness check goes from `1/1` to `0/1` in a seemingly unpredictable pattern. It usually stays alive for about 20-30 minutes after I bring it up on the first try, then the readiness check fails.

Upon `oc rsh` into the pod, i can tell that it is `httpd` that is failing, not `manageiq`. `curl localhost:3000` replies with the login page for manageiq. `curl lo

[2017-09-04 14:49] ilackarms commented on #211
i noticed that the manageiq internal httpd (and the pod readiness check) came back up after about 60 minutes of downtime (on its own).

[2017-09-05 15:34] carbonin commented on #211
I wonder if this is caused by us using an HTTP GET for our readiness, check. The most interesting line to me in that log is definitely `[Mon Sep 04 13:28:12.242785 2017] [mpm_prefork:error] [pid 210] AH00161: server reached MaxRequestWorkers setting, consider raising the MaxRequestWorkers setting`

Can you see if that line corresponds with when the readiness checks start failing and also can you s

[2017-09-05 15:35] carbonin commented on #211
Maybe we can consider using some other health checks if this is the case, maybe the TCP check can be the readiness check and we can check a pid file for liveness?

[2017-09-06 16:06] bdunne opened #212 "Things needing root..."
- [ ] ~~Fleecing RHEV~~ moved to https://github.com/ManageIQ/manageiq-pods/issues/596
- [x] Backup / Restore (Scheduled tasks)
- [x] PXE provisioning
- [x] External Authentication

[2017-09-07 19:00] carbonin opened #213 "Rename miq-sysadmin service account"
When running on a full OpenShift cluster the miq-sysadmin scc is not needed for the httpd auth container. This is because the oci-systemd hooks take care of the necessary capabilities needed for systemd to run in the container.

These hooks do not run on minishift.

I think it would be better for the service account to be called miq-httpd; then we can document what scc should be added to the servi

[2017-09-07 19:47] fbladilo commented on #213
@carbonin 👍 I agree, is only conditionally needed for minishift. BTW, looks like the minishift OCI systemd hooks issue that we opened is getting some traction :

https://github.com/minishift/minishift/issues/1299

[2017-09-10 12:54] ilackarms opened #215 "external httpd pod fails to start"
my httpd pod is failing (never starts). contents of `journalctl -xe` inside the httpd container

[code]

[2017-09-10 13:42] ilackarms commented on #215
note: this is a duplicate of https://github.com/ManageIQ/container-httpd/issues/18; however as I'm unsure whether the issue resides in the container itself or its configuration via the `miq-template`, I've put it in both places.

[2017-09-12 21:50] #213 closed

[2017-09-13 20:53] fbladilo commented on #212
@bdunne One note, we would not need Backup/Restore scheduled tasks on podified if we go with OpenShift scheduled jobs for these tasks in the future.

[2017-09-13 21:18] fbladilo commented on #184
@joelddiaz @hahnn Are we good to resolve this issue? Thanks.

[2017-09-13 21:24] fbladilo commented on #92
@simon3z @bazulay We moved all internal SSL to the route, see #197 #199 , updated README with instructions accordingly.

[2017-09-13 21:31] fbladilo commented on #211
@ilackarms See #218 , let me know if this helped your case.

[2017-09-14 13:16] bdunne commented on #212
@fbladilo I agree, we should leverage the work you did for backup / restore when in a container.  I created the issue mostly to point out places in the application that we need to hide or remove completely because they won't work if we run without root.

[2017-09-14 13:22] carbonin commented on #184
This has been waiting on feedback for multiple weeks, so I'm going to go ahead and close it.

[2017-09-14 13:22] #184 closed

[2017-09-14 14:45] bazulay commented on #212
@bdunne

- Fleecing RHEV - what part of Fleecing requires root ? I assume it is only the mount part ?

-  PXE provisioning - I was not aware manageiq also controls a tftp server ? or did I get it wrong ?

[2017-09-14 14:53] bdunne commented on #212
@bazulay Yes, both of those use mount.
- Fleecing RHEV will either mount the NFS share or activate the LVM VG and start reading from that.
- PXE provisioning mounts the NFS share to read and write PXE files.

[2017-09-19 18:53] tbielawa opened #222 "RFE/Question - Turn PV examples into templates"
In https://github.com/openshift/openshift-ansible/pull/5336 I converted the server and the postgres db PVs into templates with parameters to make it easier and more natural to use with the openshift-ansible oc_* tools (process, create, etc).

I create the PV templates in here:
* https://github.com/openshift/openshift-ansible/pull/5336/files#diff-408ea6dc0d53b2060afcab9004f3d1e7

And then later I c

[2017-09-19 19:41] carbonin commented on #222
I'm :+1: on this.

Our PV examples are, well, just examples right now. This would allow someone to create a pv directly using the `oc` tooling without editing the files (and dirtying their local git status).

The only question I would have is around how we do backup and restore. @fbladilo would this change that process at all? In particular I'm concerned about the hard-coded values for things like

[2017-09-19 19:42] carbonin commented on #222
Still would want @bdunne and @fbladilo to comment on this about the general direction. You guys have anything to add?

[2017-09-19 20:44] tbielawa commented on #222
Some more information

What I did with the example templates you provide was fairly limited:

* I changed it to the kube `template` form, which means the **FIRST** `kind` tag in the inventory is with value `template`, then some labels, annots, etc. Then there's a `objects` section. Basically cut the old PV definitions and indent them as a list. You know, like how the miq-template.yaml and miq-temp

[2017-09-21 12:42] tbielawa commented on #222
@bdunne @fbladilo @carbonin Any more thoughts on this?

[2017-09-21 12:53] carbonin commented on #222
I think @bdunne is traveling this week so I would give him some time to respond.

@fbladilo has no excuse :stuck_out_tongue_winking_eye:

[2017-09-21 13:20] tbielawa commented on #222
PR sent w/ questions for discussion.

[2017-09-21 13:20] #222 closed

[2017-09-21 14:06] fbladilo commented on #222
@tbielawa @carbonin 😄 Sorry been busy with some ansible training thingies... will check on PR.

[2017-09-22 19:49] tbielawa opened #226 "Please test openshift-ansible - openshift_cfme 4.6 role"
I couldn't add you as reviewers in the PR so I'm making an issue on your github project instead, sorry!

* @gtanzillo
* @fbladilo
* @carbonin
* @bdunne

Please take a look at https://github.com/openshift/openshift-ansible/pull/5336 and provide test/review feedback at the earliest.

Most appreciated!

:heart:

[2017-09-27 12:52] tbielawa opened #227 "What image names/tags to use for 4.6?"
Hey folks,

In the 4.5 release we added this conditional logic to the openshift-ansible CFME role. It selected the correct image and tag name for installation based on if the user was doing an OSE or an Origin install:

[code]

Essentially it says

* Use `registry.access.redhat.com/cloudforms45/cfme-openshift-<IMAGE_NAME>` if installing openshift enterprise with `latest` tag
* Use `docker.io/manag

[2017-09-27 13:23] carbonin commented on #227
@simaishi Maybe you can talk to what the redhat registries will look like?

Also I think there was some discussion around image names, or was that only in the template?

[2017-09-27 13:27] carbonin commented on #227
Also, I think this is also a good place to work out the concerns raised in https://github.com/openshift/openshift-ansible/pull/5336#issuecomment-332322493

Generally it would be unacceptable for a role called "cfme" to install ManageIQ. Is there a way to have the role be named after the application that it is actually installing? If not, maybe we can have separate roles that will indicate which im

[2017-09-27 13:27] fbladilo commented on #227
@carbonin I think we probably switch those upstream image tags to "latest-grelease" once the release is cut, @simaishi definitely the best source for the downstream image names, it would seem logical to be distributed via a new cloudforms46 repo.

[2017-09-27 13:27] simaishi commented on #227
@tbielawa You can find the names in the downstream templates I sent you. Things might change later, but that's current as of right now.

As for the registry, `cloudforms45` will change to `cloudforms46`.

[2017-09-27 13:28] tbielawa commented on #227
@simaishi thank's! That's exactly what I was looking for :-)

[2017-09-27 20:09] Fryguy commented on #227
we do cut different version tags on upstream when those tags are cut from release branches

`latest` is the tip of `master`
`latest-gaprindashvili` will be the tip of the `gaprindashvili` branch
`gaprindashvili-1` will be the `gapridashvili-1` release (tag)

[2017-10-05 23:00] tbielawa commented on #146
The role has been merged and it's been tested by your team members. Thanks for the help!

[2017-10-05 23:00] #146 closed

[2017-10-05 23:53] tbielawa opened #232 "ext-db uses wrong DATABASE_ connection param and creates unnecessary postgresql service"
# Description

1. The [miq-template-ext-db.yaml](https://github.com/ManageIQ/manageiq-pods/blob/650a4ec62542a957994c72617af56302c83360f5/templates/miq-template-ext-db.yaml) template installs an unnecessary `svc`: [`postgresql`](https://github.com/ManageIQ/manageiq-pods/blob/650a4ec62542a957994c72617af56302c83360f5/templates/miq-template-ext-db.yaml#L305-L316). This manifests as `manageiq-0` pod ne

[2017-10-06 12:38] carbonin commented on #232
I'll take a look at this today.

It seems to be related to https://github.com/ManageIQ/manageiq-pods/pull/223

Will update here when I have more info.

[2017-10-06 12:48] carbonin commented on #232
Also, the process for using an external service is documented [here](https://docs.openshift.org/latest/dev_guide/integrating_external_services.html#defining-a-service-for-an-external-database), this is the setup we were working from. Based on this documentation, I think we will stick with the service + endpoint solution (rather than using the IP directly).

[2017-10-06 12:55] tbielawa commented on #232
Ah ha! That PR explains a lot

[code]

That explains why we see the memcahed check followed by `Error something seems wrong, we need at least two parameters to check service status`.

[2017-10-06 12:55] tbielawa commented on #232
@carbonin  said

Sounds good to me :thumbsup:

[2017-10-06 13:35] fbladilo commented on #232
@tbielawa We follow the official external service docs as @carbonin noted, in which, an internal service actually connects external endpoints with an external DATABASE_IP.

[2017-10-06 13:42] carbonin commented on #232
I can't seem to reproduce this.... Following the README I was able to set everything up fine.

I created the project with the following command:
`oc new-app --template=manageiq-ext-db -p DATABASE_IP=192.168.211.156 -p DATABASE_USER=root -p DATABASE_PASSWORD=smartvm -p DATABASE_NAME=vmdb_production`

Then the logs from the manageiq-0 pod seem fine ...
[code]

Looks like the service (which points to

[2017-10-06 14:42] fbladilo commented on #232
@tbielawa Can you reach the external database from any node of the OpenShift cluster on port 5432 (default)?

[2017-10-06 14:43] tbielawa commented on #232
@carbonin I'll get some debug info for you asap. I'm bringing up another postgres server now for testing further.

[2017-10-06 14:53] carbonin commented on #232
Some more detail from my working setup:

[code]

[2017-10-06 14:54] tbielawa commented on #232
@carbonin thank you! That's exactly what I was going to followup and ask from you :grinning:

[2017-10-06 15:00] carbonin commented on #232
Feels like it might be the ClusterIP on the service.

If you don't have a cluster IP there the service wouldn't be routable, but the external IP would be ... just a guess

[2017-10-06 15:28] tbielawa commented on #232
I made a new project and created a postgresql pod from the included database templates

[code]

And the endpoints

[code]

Database is up and running now

[code]

From what I've gathered I must configure the template such that DATABASE_IP parameter has the postgresql service's ClusterIP, which in this case is `172.30.135.110`

I have constructed my ansible inventory as such:

[code]

And I install

[2017-10-06 17:51] tbielawa commented on #232
While speaking with @fbladilo we may have narrowed down the source of this failure. As I am running my PostgreSQL server in a pod in a different project on the same OCP cluster, it is possible that manageiq-0 could literally not reach the network that the postgres service was exposed on in the other project.

I attempted installing my cluster using `os_sdn_network_plugin_name='redhat/openshift-ovs

[2017-10-06 17:54] carbonin commented on #232
That assumption might be the issue. I set the DATABASE_IP to the *external* address of the server in my case, a VM.

I'm not sure what would change if you were trying to use a separate openshift project to host the PG server, but this is not the intended usecase for the external database template. The reason it exists is so that the customers who need high levels of database performance can run th

[2017-10-06 18:54] tbielawa commented on #232
* Set up postgresql on another vm (one of my masters, to be explicit)
* Enable firewall/iptables holes
* Create miq role with `createuser` command and ensure they can create databases
* Create database `miq`, make `miq` role the owner

ManageIQ connected just swell this time. It even began migrating the database. I was about to celebrate with some champaign until the db migration failed on me :-\

[2017-10-18 15:26] barnzdan opened #234 "httpd pod fails readiness probe"
[code]

[2017-10-18 15:39] carbonin commented on #234
Just at a first glance, we require Origin 1.5 or higher (ref: https://github.com/ManageIQ/manageiq-pods#prerequisites)

Not sure if that could be causing this. @fbladilo ?

[2017-10-19 13:35] fbladilo commented on #234
@barnzdan @carbonin We do require Origin 1.5 at minimum, since some objects referenced by template are only available in 1.5 (I.E StatefulSets).

[2017-10-19 14:34] barnzdan commented on #234
The problem with the httpd probe not working was resolved by doing the following:

1. Remove the httpd pod docker images from all cluster nodes
2. yum update oci-systemd-hook (on all nodes)

Would still need to upgrade the cluster to 1.5 in order to use StatefulSets.

[2017-10-19 14:34] #234 closed

[2017-10-20 18:30] carbonin commented on #232
Can we close this as the issue ended up being a combination of environment issues (using a database within a separate project and also using the wrong PG version)?

[2017-10-25 14:59] joelddiaz opened #237 "setting MIQ admin password during installation / template processing"
Currently when using the OpenShift templates to install MIQ, there is no way to set the MIQ admin password. The MIQ pod comes up with a publicly accessible OpenShift route with the default creds.

Need a way to set the admin MIQ password before the pod is publicly accessible.

Opened a similar issue out on openshift/openshift-ansible#5849 and it was recommended I open this issue here.

[2017-10-25 18:53] fbladilo commented on #215
@ilackarms Are we good to close this one? It was addressed via httpd container image changes.

[2017-11-01 13:54] ilackarms commented on #215
@fbladilo yep! closing

[2017-11-01 13:54] #215 closed

[2017-11-16 09:28] moolitayer commented on #237
@gtanzillo this seems like a major flaw? I'm thinking the solution should be limited to production env?

@joelddiaz What's the usual approach for something like this? Generating a random pass and storing it in a file an admin can access? providing an optional password during installation (`oc new-app --template=manageiq -p PASSWORD=<password>`)?

@miq-bot assign @gtanzillo

[2017-11-16 17:24] bazulay opened #247 "Need to be able to configure to bypass the posgres version validity check"
related to: https://github.com/ManageIQ/manageiq/issues/16486

Need a way to  configure out the postgres version check using the template.

@gtanzillo  I think additional issue is required to expose it in the ansible installer.

[2017-11-16 17:40] bazulay commented on #247
@miq-bot assign carbonin

[2017-11-16 18:57] carbonin commented on #247
Can you clarify this @bazulay? As I understand it, no changes will be required in this repo.

[2017-11-16 22:55] gtanzillo commented on #237
@fbladilo Can you take a  shot at addressing this issue. We were think ing that we could parameterize the admin password in the template.

[2017-11-17 14:34] joelddiaz commented on #237
@moolitayer i would prefer a system where i can pass the desired password and have it applied during installation

[2017-11-19 10:35] bazulay commented on #247
@carbonin  we have agreed (ManageIQ/manageiq#16486) to have a config parameter to configure out this validation (for postgres 9.5) on production deployment.
This issue is to expose this config  in the template so when deploying it on OCP one can in advanced disable this validation so the PODified appliance can be deployed using AWS Aurora (which provides postgres 9.6)

[2017-11-19 10:36] bazulay commented on #247
@gtanzillo this config probably need to be also exposed in the related ansible role

[2017-11-29 18:05] fbladilo commented on #237
@gtanzillo For sure, I can take it , will post something later today.

[2017-12-03 18:13] bazulay commented on #247
@carbonin  @gtanzillo  this is a major usability issue,
@fbladilo  I wonder whether there is a way to pass env variables not through the template parameters ?

[2017-12-04 14:42] carbonin commented on #247
That's kind of the point. We want unsupported configurations to be difficult to achieve.

There is, I mentioned the possibilities in my comment. If it were me, I would add the variable to the deployment config's [`env` list](https://github.com/ManageIQ/manageiq-pods/blob/15017389bc86a622538308298f7b20fbc5ca0eee/templates/miq-template-ext-db.yaml#L196) before deploying the app from the template.

[2017-12-04 14:43] carbonin commented on #247
I'll test this out today and close the issue when I can confirm it works.

[2017-12-05 19:42] carbonin commented on #247
Editing the deployment config to include the following will allow PG 9.6 to be used with the application.

[code]

Closing this.

[2017-12-05 19:42] #247 closed

[2017-12-07 14:43] carbonin commented on #237
Closing as https://github.com/ManageIQ/manageiq-pods/pull/250 is merged

[2017-12-07 14:43] #237 closed

[2017-12-12 14:03] carbonin commented on #132
We removed image streams from the templates. Are there any other issues moving the build would solve?

We are debating moving the builds to a separate system which the core team would operate so we can encode dependent container builds better. Does Centos CI offer something like that?

[2017-12-12 14:14] goern commented on #132
I dont know what you mean be the second section, but on CentOS CI you can create build pipelines structures as you want....

[2017-12-15 20:55] carbonin commented on #232
Closing this as the issues were environmental.

[2017-12-15 20:55] #232 closed

[2018-01-08 14:55] miq-bot opened #257 "manageIQ on openshift ApplianceConsole ERROR"
Persistent pod reset ApplianceConsole ERROR

I, [2017-09-28T00:26:48.384317 #196]  INFO -- : MIQ(ApplianceConsole::ExternalDatabaseConfiguration#create_region) : complete
I, [2017-09-28T00:34:58.972173 #197]  INFO -- : MIQ(ApplianceConsole::ExternalDatabaseConfiguration#create_region) : starting
E, [2017-09-28T00:35:08.563978 #197] ERROR -- : Encountered issue setting up Database using region 0: Y

[2018-03-26 13:48] #226 closed

[2018-04-02 12:50] carbonin commented on #227
Pretty sure this is resolved. Closing

[2018-04-02 12:50] #227 closed

[2018-05-04 19:47] izapolsk opened #285 "openshift jobs cannot be re-run"
Usually users schedule database backup. However, paragraph regarding database backup/restore doesn't mention that openshift jobs can be run only once and old job should be removed before next run.
So, I believe there should be apropriate note regarding openshift jobs.

[2018-05-04 19:58] carbonin commented on #285
Do you think a note is good enough or should be just move it from a `Job` to a `CronJob` so it will run as a schedule if that's the more common use case?

[2018-05-04 20:05] izapolsk commented on #285
From my point CronJob would be even better. Backups are usually scheduled and they  are rarely done in ad-hoc manner

[2018-05-04 20:06] izapolsk opened #286 "restore db job doesn't show which backup is used"

[2018-05-04 20:11] izapolsk opened #287 "it would be good to give an example how to restore db from some certain snapshot"
It is possible to create many db backups. Restore job contains BACKUP_VERSION key which contains latest by default. But it isn't clear what has to be put there. I suspect folder name.
So, it would be useful to give an example how to restore db from some certain snapshot

[2018-05-04 20:31] carbonin commented on #286
Is this just a request to print the file used to the logs?

The README mentions which file will be used and how to specify a particular file:

[2018-05-04 20:55] izapolsk commented on #286
yes, this request. it would be good to know what snapshot it is using to restore db.

[2018-05-04 21:17] carbonin commented on #81
I'm pretty sure this is just not going to happen. If someone wants to deploy without PVs for a ephemeral setup I would suggest just removing the claims from the template.

[2018-05-04 21:17] #81 closed

[2018-05-04 21:18] carbonin commented on #212
Adding `pinned` label. This is definitely a thing we still need to look at.

Although I think we have backup/restore worked out. Will change the original post to a checklist and check that off.

[2018-07-10 09:31] izapolsk opened #298 "Compute->Migration view is broken in pod appliance"
Description of problem:
When I try to open Compute->Migration view in just deployed pod appliance, I get
"undefined method `split' for nil:NilClass [migration/index]" error. Backtrace from logs is below.

Steps to Reproduce:
1. deploy pod appliance
2. open Compute->Migration view

Actual results:
broken view

Expected results:
correctly rendered view

Additional info:
[code]

[2018-07-10 13:32] carbonin commented on #298
@izapolsk Looks like this is a downstream image. Can you also reproduce this with the upstream images?

[2018-07-10 13:39] izapolsk commented on #298
@carbonin, I have been asked to raise this issue against upstream - https://bugzilla.redhat.com/show_bug.cgi?id=1597249

I didn't try upstream

[2018-07-11 19:02] carbonin commented on #298
I was not able to reproduce this with newly built image from the pods `hammer` branch.

Closing this.

[2018-07-11 19:02] #298 closed

[2018-08-09 08:44] alexey-ban opened #299 "Problem when change apache httpd Service Name - gaprindashvili"
Problem when change apache httpd Service Name - Service without pod and route for httpd does not work

In miq-template.yaml, strings 788 and 802
    selector:
      name: httpd

I think would be better
    selector:
      name: "${HTTPD_SERVICE_NAME}"

[2018-08-09 12:53] carbonin commented on #299
@alexey-ban actually I've debated removing the parameters for things like service names entirely.

What was your use case for changing the service name? Curious if I should just hardcode `httpd` or fix the places that don't currently use the parameter as a fix for this.

[2018-08-09 15:04] alexey-ban commented on #299
Hi @carbonin.

I change service name because I want create 2 region (master-slave) miq in 1 openshift project

[2018-11-13 14:35] 01100010011001010110010101110000 opened #312 "ManageIQ on k8s"
Would you guys be open to deploying this on k8s as well?

I took the external db template and deployed it on k8s (replacing `DeploymentConfig` with `Deployment` and `Route` with `Ingress`) and it worked essentially out of the box. I couldn't get systemd working in Apache so I altered that deployment to simply run apache in the foreground. This breaks SSSD auth, but I don't need that so I admittedl

[2019-11-12 12:41] BostjanBozic opened #346 "PostgreSQL pod fails to start"
Hello,

Version:
* openshift v3.11.0+bd0bee4-337

I am experiencing issue deploying ManageIQ (`ivanchuk` release) due to PostgreSQL issues (using PV to deploy PostgreSQL). When deployed, PostgreSQL pod fails with following:
[code]

Same issue occurs if using `hammer` release. What I saw is that if you change using PostgreSQL tag from `latest` to `9.5` (only on `hammer` release, as `ivanchuk` requi

[2019-11-12 13:37] carbonin commented on #346
You can remove `pglogical` from the `shared_preload_libraries` list in the postgresql config map [here](https://github.com/ManageIQ/manageiq-pods/blob/ivanchuk/templates/miq-template.yaml#L91). That should solve the issue. And since we moved to PG 10 for the ivanchuk release, could you open a patch to the `ivanchuk` branch for this change as well?

[2019-11-12 13:40] carbonin commented on #192
Closing this as we're continuing with the existing architecture for the appliance model rather than installing openshift everywhere.

[2019-11-12 13:40] #192 closed

[2019-11-12 13:42] carbonin commented on #299
So we went the direction of hard-coding the service name. If you want to deploy multiple instances of the application it will have to be in different namespaces.

[2019-11-12 13:42] #299 closed

[2019-11-12 13:45] carbonin commented on #132
We're going to build and push images nightly using [the new build script](https://github.com/ManageIQ/manageiq-pods/blob/4c7acbbeb288caaf97ff4738675517b9beb766f1/bin/build) on the same machine that builds the appliance images.

[2019-11-12 13:45] #132 closed

[2019-11-12 13:46] carbonin commented on #211
I don't think this applies to the new architecture. Closing.

[2019-11-12 13:46] #211 closed

[2019-11-12 13:50] carbonin commented on #193
I haven't seen this in quite a while ... as I recall it was only happening in smaller environments (minishift).

I'm going to close it for now. If it happens again I would re-open it against the PG image and see if there's something we can do there.

[2019-11-12 13:50] #193 closed

[2019-11-12 14:00] BostjanBozic commented on #346
Cheers for reply!

It seems that whole line `shared_preload_libraries = 'pglogical,repmgr'` needs to be deleted - no idea if this has any additional implications, but for now this seems to do the trick.

I actually never opened any PR or patch before. I presume you simply mean a PR toward `ivanchuk` branch?

[2019-11-12 14:11] carbonin commented on #346
Yup, that would do it.

[2019-11-12 14:17] BostjanBozic commented on #346
Ok, will do it. Thank you again for help.

[2019-11-12 14:17] #346 closed

[2019-11-13 21:33] #312 closed

[2019-11-13 21:33] #92 closed

[2019-12-04 19:09] carbonin opened #351 "Make it more obvious that kubernetes is supported in the README"
Move the Kubernetes steps up to the top and trim down the other information about OpenShift.

Make the two guides peers rather than OpenShift first then Kubernetes as a note.

[2019-12-04 21:41] Fryguy opened #352 "[Podification] Container-based workers"

[2019-12-04 21:43] Fryguy commented on #352
Completed in 4111e5a

[2019-12-04 21:43] #352 closed

[2019-12-04 21:44] Fryguy opened #353 "[Podification] Make it work with Zones"
Requires reworking of the podified orchestrator

[2019-12-05 17:17] Fryguy opened #355 "[Podification] Create Operator for Lifecycle Management"
The expectation here is for a single operator that will pretty much handle what the deploy script does today.

I would expect the following parameters to continue to be configurable from the CR with the current default values to still be the defaults if not provided in the CR:
[code]

The operator should handle deploying, upgrading, and removing installations of manageiq by deploying the base depe

[2019-12-17 20:08] carbonin commented on #353
https://github.com/ManageIQ/manageiq/pull/19648 further decouples the server from workers by reducing our use of Drb and simplifies the server.

[2019-12-17 20:30] carbonin commented on #353
The problem here is that, currently, the pods architecture uses only a single server and the "orchestrator" is just the server process (worker manager) for that single server. This is a problem because if we want multiple zones (and specific roles within those zones) we need multiple servers to put in zones.

We don't have a way to create a new "server" in pods so the plan here is to create a stub

[2020-01-07 18:47] Fryguy opened #358 "Allow use of private GitHub/GitLab"
- need to parameterize the images builds to change
  - https://github.com -> $GITHUB_HOST
  - manageiq- prefix -> $REPO_PREFIX
  - ability to fetch a token from host.docker.internal or something
    - $FETCH_TOKEN would drive whether or not to fetch the token, and the token would be stored in a different ENV var

[2020-01-07 18:48] Fryguy commented on #358
FYI @carbonin

[2020-01-07 19:19] Fryguy opened #359 "MIQ_ORG, SUI_ORG, APPLIANCE_ORG should default to MIQ_ORG"
It's unlikely that all 3 won't be the same, so perhaps it's better to set, for example, `SUI_ORG=${SUI_ORG:-$MIQ_ORG}`

[2020-01-07 19:22] carbonin commented on #359
I was thinking of the developer use case here. Where you want to build with your fork of MIQ, but don't want to keep your fork of the others up to date.

[2020-01-07 21:05] Fryguy opened #360 "Allow for productization of image builds"
This is possibly done by insert the following lines in the manageiq-base Dockerfile after curling the 3 repos...maybe 😝

[code]

[2020-01-07 21:05] Fryguy commented on #359
Oh, we should definitely still allow overriding individual ones, but IMO they should default to MIQ_ORG instead of deafaulting to "ManageIQ"

[2020-01-07 21:12] carbonin commented on #359
I think the problem then is that if you want to override one you need to override all of them. So if I want to build the images for the miq code in my fork I have to do `MIQ_ORG=carbonin SUI_ORG=ManageIQ APPLIANCE_ORG=ManageIQ` where previously I just had to specify MIQ_ORG.

Or am I misunderstanding the request?

[2020-01-08 14:26] Fryguy commented on #359
No, that's fair... I didn't see that option.  I guess your version is a bigger use case (developer changing a fork), so I'll close this one.

[2020-01-08 14:26] #359 closed

[2020-01-08 19:46] carbonin opened #361 "httpd-init doesn't deploy on openshift when using cri-o runtime"
Currently it seems CRI-O and the oci-systemd-hooks used for the httpd pod don't seem to play nicely together, but we should be able to run on openshift systems using cri-o.

Some more details are in https://bugzilla.redhat.com/show_bug.cgi?id=1652457

-------------------------------------------------------------

Summary:
The oci-systemd-hooks were removed from OpenShift in https://github.com/open

[2020-01-08 20:27] carbonin commented on #361
This seems to be a privileges issue. Things work when we deploy httpd using the privileged scc.

Will have to do some more digging to figure out what the difference is and what the "correct" way to accomplish what we're trying to do would be.

I also found https://bugzilla.redhat.com/show_bug.cgi?id=1777838#c11 which mentions oci-systemd-hooks possibly being deprecated.

[2020-01-15 17:07] Fryguy commented on #360
Part of productization also includes changing the product name.  However, product name is coupled to the name of the objects being deployed [1], which causes issues, since the template and the generated names don't match.  We should avoid coupling those 2 things, by introducing an ENV var, such as PRODUCT_PREFIX, which would be used as the prefix instead hardcoding [2] or relying on the product na

[2020-01-17 20:49] carbonin commented on #358
Closed via #362

[2020-01-17 20:49] #358 closed

[2020-02-05 22:05] #353 closed

[2020-02-06 22:01] carbonin commented on #361
@Fryguy

[2020-02-07 23:14] carbonin commented on #361
I hope https://github.com/ManageIQ/container-httpd/pull/44 may help resolve this, but I don't have the environment tp test it.

@bennett-white @sethpeterson would you guys be able to help out as you were able to reproduce this issue in your environment. Specifically I think this should now work with the any-uid scc rather than privileged.

[2020-02-25 19:53] carbonin commented on #361
Built out a [repo](https://github.com/carbonin/crio-systemd-test) to help test this in isolation. In addition to standalone deployments and buildconfigs it has a Dockerfile which builds a very simple httpd container on top of ubi-init to use as a baseline.

I've also been using [Code Ready Containers](https://github.com/code-ready/crc) to test this locally on openshift 4.

So far neither container

[2020-02-25 21:03] carbonin commented on #361
Following the steps in https://github.com/carbonin/crio-systemd-test/blob/master/README.md using crc version `1.5.0+e1c8fb8` which includes openshift `4.2.14` I was able to get both containers up and running with the anyuid scc.

This is using cri-o version `cri-o://1.14.11-4.dev.rhaos4.2.git179ea6b.el8`. Going to re-test with the newer crc release to be sure it doesn't work there.

[2020-02-25 21:28] carbonin commented on #361
Confirmed the failure in the following environment:
[code]

Going to write up an openshift bug

[2020-02-25 22:05] carbonin commented on #361
Opened https://bugzilla.redhat.com/show_bug.cgi?id=1807245 against crc as that's where I reproduced the issue. Assuming it will get moved to some other component.

[2020-02-26 19:11] carbonin opened #371 "Base containers on ubi8"

[2020-02-27 04:17] ChainZeeLi commented on #355
I'm working on implementing the operator in Golang, but realized the overwhelming amount of cr instances needing to be translated from yaml into golang objects. I choose Golang because of programmability and ease for future maintainance. Would you pick golang or ansible?

[2020-02-27 14:34] carbonin commented on #355
@Fryguy We mentioned this briefly, but I feel like golang is probably better for the type of conditional logic we may need during an upgrade. Unfortunately we don't have a whole lot of golang expertise to do the review. @Fryguy what do you think?

[2020-02-27 15:30] Fryguy commented on #355
I am good with any language really...either Go or Ansible would work for me.

[2020-02-27 15:30] Fryguy commented on #355
I am good with any language really...either Go or Ansible would work for me.

[2020-02-27 22:06] chessbyte commented on #97
Seems like all the code got in, but never validated.  Closing this stale issue and will accept incoming bugs when someone finds issues.

[2020-02-27 22:06] #97 closed

[2020-03-01 00:30] uselessidbr opened #373 "Cant see “configure” option on Openshift origin when selecting items"
I just installed manageiq on openshift origin but whenever i select an item (lets say a Container provider) it doesnt have a “configure” toolbar/button that lets me, for example, delete the provider.

Theres no toolbar at the UI at all!

What did i miss?

[2020-03-01 06:29] uselessidbr commented on #373
Its related to the browser. As i had only one browser installed (edge) which has this behaviour i then downloaded a portable version of firefox which presented the toolbar correctly.

[2020-03-01 16:48] uselessidbr opened #374 "Openscap scanner not working"
While scanning container Images openscap doesnt show any results neither a report. Im not sure which pod is in charge of run the scanner but it seems that something is missing here.

Any thoughts?

Thanks!

[2020-03-02 14:34] carbonin commented on #373
Glad to see you resolved the issue

[2020-03-02 14:34] #373 closed

[2020-03-02 15:13] carbonin commented on #371
Fixed in https://github.com/ManageIQ/manageiq-pods/pull/372

[2020-03-02 15:13] #371 closed

[2020-03-02 20:29] ChainZeeLi commented on #355
i decided to go with golang after discussion with Fabien. How do you want to name the operator and cr? Considering the operator code may be leveraged for manageiq upstream, maybe it's for the best to get synced on some namings.

[2020-03-02 23:06] chessbyte commented on #374
@simon3z do we have any documentation on this?

[2020-03-03 14:16] carbonin commented on #355
So we just recently went through a bit of work to get the app name configurable in https://github.com/ManageIQ/manageiq-pods/pull/369.

If we can do something similar (or at least leave the option open) that would be best. Otherwise I think "manageiq" for the CR kind. Since we will only have one CRD can the operator also be "manageiq" or is there a different naming convention for the operator itse

[2020-03-03 16:00] ChainZeeLi commented on #355
CRD and new k8s apis get created before the operator so the name has to be predetermined. For the operator itself, you can use any name but typically with suffix  "-opeartor"

[2020-03-03 16:01] ChainZeeLi commented on #355
CRD and new k8s apis get created before the operator so the name has to be predetermined. For the operator itself, you can use any name but typically with suffix "-opeartor"

[2020-03-03 17:37] fdupont-redhat commented on #355
Shouldn't the operator live in it own repo?

[2020-03-03 20:18] carbonin commented on #355
These could still be templated though, right? The actual CRD yaml could be in a template.

[2020-03-03 20:20] carbonin commented on #355
@fdupont-redhat I'm not sure. That's more of a question for @Fryguy.

We debated breaking out each of the images into a separate repo, but since they're so interdependent we figured it made sense for them all to live here.

For testing and such it might make sense for the actual operator code to live in it's own repo, but I figure the dockerfile could still live here. I'm up for suggestions on thi

[2020-03-04 16:33] ChainZeeLi commented on #355
Yes, the operator

If we use golang, there is no way to create resources using the templates. Ansible supports resource creation with yaml, but it's hard to implement complex logic with it.

[2020-03-04 17:00] carbonin commented on #355
Presumably golang can parse yaml.

I know it's not an ideal architecture, but I really don't think it's a good idea to have two parallel implementations of the deployment information.

[2020-03-04 18:47] ChainZeeLi commented on #355
I thought about building a template parser too. There is a library for parsing yaml, but still need to design a clean way to map the values to golang object fields.

[2020-03-04 19:56] carbonin commented on #355
@ChainZeeLi I think all of the openshift tooling is go. Maybe whatever is implementing the templating in `oc` or the openshift API is reusable?

[2020-03-05 17:17] miq-bot opened #379 "RPM package inconsistency between appliance and container images"
The packages listed below are in Kickstart files and included on appliances, but not in Dockerfile and not installed in container.

I'm not sure if some are excluded on purpose.. @bazulay @bdunne @Fryguy ?

createrepo
freeipmi
fuse-libs
ipmitool
cifs-utils
lshw
nmap-ncat
net-snmp
net-snmp-libs
net-snmp-utils
nfs-utils
OpenIPMI
openscap-scanner
openslp-devel
smems
cl-utils-build
telnet
c-ares
ipa-c

[2020-03-05 17:48] simaishi commented on #379
Updated list (excluded ones listed under kickstart "External Authentication" sections, packages needed for ruby-install, etc.):

epel-release

createrepo
freeipmi
fuse-libs
ipmitool

ansible
ansible-runner
cifs-utils
cockpit
lshw                             # From epel
net-snmp
net-snmp-libs
net-snmp-utils
network-scripts
nfs-utils
OpenIPMI
postfix                          # smtp server for sendin

[2020-03-05 19:28] carbonin commented on #379
Not sure what packages are coming from here so will leave it out for now

@bdunne mentioned we don't need this in https://github.com/ManageIQ/manageiq/issues/8561#issuecomment-543349823

Seems like we still need these based on @gmcculloug's comment https://github.com/ManageIQ/manageiq/issues/8561#issuecomment-543374443

Do we use FUSE for anything? @bdunne @jrafanie ?

Yup

Don't think we need thi

[2020-03-05 19:32] simaishi commented on #379
It comes from ManageIQ copr repo

Yes, for ansible modules, and yes we need to add those as well.

[2020-03-05 19:42] carbonin commented on #379
I don't think we're installing that now. Will have to add that as well.

Do you want to open a separate issue for that or should I try to handle that as a part of this one?

[2020-03-05 19:43] simaishi commented on #379
I'll open a separate issue, as this is a missing feature...

[2020-03-05 19:50] simaishi opened #381 "Add ansible/ansible-runner and python dependency modules"
Related PR: https://github.com/ManageIQ/manageiq-appliance-build/pull/341

ansible comes from: epel ~~https://mirrors.fedoraproject.org/mirrorlist?repo=playground-epel8&arch=x86_64~~

ansible-runner comes from: https://releases.ansible.com/ansible-runner/rpm/epel-8-x86_64/

[2020-03-05 19:52] ChainZeeLi commented on #355
Just realized that you can do yaml.unmarshall("*.yaml") to parse yaml files into golang structs. golang offers good support for this kind of parsing :) I can proceed with this method if you think it's clean enough.

[2020-03-05 20:02] carbonin commented on #355
I think I would prefer it as a first pass at least.

I would say we can move over to a more typical operator arch when we are sure we are okay with the operator as the main/only install method and the manageiq community/core team is comfortable maintaining it.

[2020-03-05 21:11] jrafanie commented on #379
It's been there since the beginning of time, in commit 1305a292b3e8dee83d507245b5b935e0034e3e5b in manageiq before open sourcing.   Searching my email, it looks like it was added for the vixdisklib library for vmware mount.  According to @agrare, it might still work if users install vixdisklib but the shared object for vmware mount might not work.    🤷‍♂

[2020-03-05 21:19] agrare commented on #379
Also we might use vmware-mount, FUSE, and/or mounting a file on a loopback device in the future to for the disk parsing parts of smartstate (ref https://github.com/ManageIQ/manageiq/issues/19901)

[2020-03-11 06:59] gyliu513 opened #383 "Any plan to create a manageIQ operator"
Does the manageIQ operator is in roadmap?

[2020-03-11 12:23] carbonin commented on #383
This is being tracked in https://github.com/ManageIQ/manageiq-pods/issues/355

[2020-03-11 12:23] #383 closed

[2020-03-12 22:10] #379 closed

[2020-03-12 22:10] #381 closed

[2020-03-16 15:16] carbonin commented on #360
@Fryguy So I can implement what you put in the first comment if we create a `https://github.com/ManageIQ/miq_productization` repo with a no-op `link` scrip for now (thinking `/bin/true`). Then anyone who wants can fork that repo and commit whatever they want.

[2020-03-18 01:54] Fryguy commented on #360
Oh, like, for example purposes?  Or you literally want to clone that repo?  I was thinking it would be ENV var driven, and in the abscense of the ENV var we wouldn't clone anything.

[2020-03-20 17:01] Fryguy commented on #355
@ChainZeeLi any updates?  I remember we saw the code last week and I think you were going to make a PR with it?

[2020-03-20 18:43] chessbyte commented on #360
@carbonin @Fryguy let's keep this discussion moving forward, as I would like this to make it into the early timeframe of the Jansa release (beta)

[2020-03-20 19:10] mali-chainzee commented on #355
Made some updates to the code earlier this week. Do you want me to make PR to this repo or should we use a seperate repo?

[2020-03-20 21:40] #360 closed

[2020-03-23 15:32] Fryguy commented on #355
This repo please.

[2020-03-23 16:37] mali-chainzee commented on #355
just made the PR. Fabien and I talked about using a cr to represent restore/backup operation. guess we can just make another controller for this?

[2020-03-23 16:37] Fryguy commented on #355
Let's do backup/restore as a separate PR entirely so as not to do too much at once

[2020-03-24 15:29] gyliu513 opened #391 "Discussion for using ibm-ci-bot to manage this repo"
Here is a chart for ibm prow https://github.com/gyliu513/roadmap/issues/9#issue-571136639

![image](https://user-images.githubusercontent.com/4461983/77444595-04b56c80-6e27-11ea-8551-b9a7e42f013f.png)

So with above model, we can enable multi-arch build for manageiq operator.

Some reference:
- ibm-ci-bot account https://github.com/ibm-ci-bot
- IBM Prow repo https://github.com/ibm/test-infra

FYI

[2020-03-26 13:51] carbonin commented on #374
@uselessidbr is this something that works for you on the VM appliance?

[2020-03-26 13:51] carbonin commented on #374
Wondering if this could be related to https://github.com/ManageIQ/manageiq/issues/19957

[2020-03-26 14:11] simon3z commented on #374
The pods scanning the image are `manageiq-img-scan-*`. See:

https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/master/app/models/manageiq/providers/kubernetes/container_manager/scanning/job.rb
https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/master/config/settings.yml

cc @chessbyte @oourfali

[2020-03-26 18:13] carbonin commented on #374
I was able to get this to work with the latest pods master. @uselessidbr can you share what you did or any specific errors you encountered?

The scan I ran didn't finish with a SCAP report (as there's no targets for UBI, I believe), but it did successfully list the packages in the image as can be seen in this screenshot:

![image](https://user-images.githubusercontent.com/12697904/77681561-e1480a0

[2020-03-26 18:15] carbonin commented on #374
The process seems to require a particular service account (`inspector-admin`) to exist in the `management-infra` namespace. I also believe the namespace used is configurable.

[2020-03-27 14:17] carbonin commented on #212
How do we want to proceed with this particular issue @Fryguy @chessbyte?

First I'd like to test out if these features even work *with* root and second how long do we really think we can go with requesting additional permissions in OpenShift? At some point, does it make sense to just try running without root in pods and see what bugs pop up?

[2020-03-27 14:20] carbonin commented on #212
And to that point, if we're continuing to support both appliance and pods long term we should probably work out a better way to deal with the arch differences than gating a bunch of calls with `unless MiqEnvironment::Command.is_podified?` in the source. Especially if we need to change the UI in response to where we're running.

[2020-03-27 17:59] carbonin commented on #361
[Commented](https://github.com/openshift/machine-config-operator/pull/1314#issuecomment-605166089) on the PR that seems to have caused the issue (at least the most recent version of it).

[2020-03-30 15:48] Fryguy commented on #355
Follow up items to complete:

- [ ] Build in the Dockerfile directly: https://github.com/ManageIQ/manageiq-pods/pull/389#discussion_r397314395
- [ ] Set up CI to at least verify build and gofmt: https://github.com/ManageIQ/manageiq-pods/pull/389#issuecomment-602876631
- [ ] Switch to go mod: https://github.com/ManageIQ/manageiq-pods/pull/389#issuecomment-603300089
- [ ] Perhaps update to latest bo

[2020-03-30 17:46] #286 closed

[2020-03-30 17:52] #285 closed

[2020-03-30 17:52] #287 closed

[2020-03-31 13:07] carbonin opened #403 "Build operator directly in the Dockerfile"
Originally raised in https://github.com/ManageIQ/manageiq-pods/pull/389#discussion_r397314395

------------------------------------------------------

I'm not sure this is really the way to go. We could integrate `operator-sdk build docker.io/manageiq/manageiq-operator:latest` into `bin/build`

[2020-03-31 13:09] carbonin opened #404 "Add build to CI"
Right now we build the images daily and push them. I assume this is supposed to mean adding the operator build to that process as well? Or did you mean to do something else for build entirely @Fryguy

[2020-03-31 13:09] carbonin opened #405 "Update to latest operator-sdk"
https://github.com/ManageIQ/manageiq-pods/pull/389#issuecomment-603447748

[2020-03-31 13:10] carbonin opened #406 "Determine if "kind" can be "ManageIQ" as opposed to "Manageiq""
https://github.com/ManageIQ/manageiq-pods/pull/389#discussion_r397324661

[2020-03-31 13:10] carbonin opened #407 "Change the boilerplate roles to something more restrictive"
https://github.com/ManageIQ/manageiq-pods/pull/389#discussion_r397319716

[2020-03-31 13:11] carbonin opened #408 "Fully spelled out keys"
https://github.com/ManageIQ/manageiq-pods/pull/389#discussion_r397322227

[2020-03-31 13:11] carbonin opened #409 "Make TLS cert and key configurable during CR deployment"
https://github.com/ManageIQ/manageiq-pods/pull/389#discussion_r397344335

[2020-03-31 13:12] carbonin opened #410 "Can we productize the CR kind name?"

[2020-03-31 13:14] carbonin commented on #355
Closing this as I opened individual issues for the remaining TODO items.

[2020-03-31 13:18] carbonin opened #411 "Add kafka deployment to operator"

[2020-03-31 14:00] Fryguy commented on #404
I meant add build step to ci to ensure that it compiles properly.

I think separately we need an issue for nightly (or more frequently) builds that push to docker hub/quay

[2020-03-31 17:18] carbonin commented on #407
Going to take this on as a part of getting the on-cluster operator to work. Currently the roles are too restrictive for what what we need to do for roles and rolebindings for the orchestrator.

[2020-03-31 20:37] #407 closed

[2020-03-31 22:59] #404 closed

[2020-04-01 15:51] Fryguy opened #415 "Publish operator to operatorhub.io"
Depends on the completion of #355

https://github.com/operator-framework/community-operators

[How to contribute an Operator to operatorhub.io](https://operatorhub.io/contribute#:~:text=To%20publish%20your%20Operator%2C%20it,detail%20page%20on%20OperatorHub.io.)

Note:

[2020-04-01 16:53] mali-chainzee commented on #403
btw, where do you plan to release the operator at the end? because if we release via registry.redhat.io, all the deps for build will eventually have to be committed to dist-git repo.

[2020-04-01 17:17] Fryguy commented on #403
Ultimately I'd expect the operator on operatorhub.io (#415)

[2020-04-01 20:15] carbonin opened #417 "ManageiqStatus struct is not updated and is used incorrectly"
This struct is intended to report on the current status of the resource instance. Currently it seems to be used as a status cache.

As a fix for this I think we need to do two things.
1. Remove the (currently malfunctioning) behavior which gates object creation on the status struct fields. To be clear, if this was working as intended I think it would break the reconciler.
2. Determine what we want

[2020-04-01 20:25] #408 closed

[2020-04-02 19:37] carbonin commented on #361
PR has been opened on cri-o to address the issue https://github.com/cri-o/cri-o/pull/3506

[2020-04-03 15:59] carbonin commented on #411
This is making me think more about how we handle secrets in the operator. Right now we're asking the user to put their passwords in the CR in plaintext with no option to generate one for them.

I've seen some examples of operators that ask for the names of secrets that would have to be managed separately. Does that make more sense? What do you think @Fryguy ?

We could also have some in-between op

[2020-04-03 16:02] carbonin commented on #411
@gyliu513 Maybe you can offer some ideas with respect to best practices for this sort of thing?

[2020-04-03 16:06] Fryguy commented on #411
I agree, I don't like secrets plaintext in a CR...that just feels wrong.  I would rather that referred to an actual secret.  I've seen vault extensions to kubernetes where you ask kubernetes for a secret and it, in turn, talks to a vault, so that would automatically open up vault support for this stuff.

[2020-04-03 18:04] carbonin opened #423 "External auth configuration for operator"
How should we incorporate the auth config map generation into the operator?

I was thinking we could make a pre-deploy job to run the existing generator pod then create the config maps from that pod's output.

We would need to add the inputs for the generator to the CR in some way.

[2020-04-05 13:45] gyliu513 commented on #411
@carbonin @Fryguy +1 for this as well.

According to Kubernetes official doc: https://kubernetes.io/docs/concepts/configuration/secret/

Kubernetes Secrets let you store and manage sensitive information, such as passwords, OAuth tokens, and ssh keys. Storing confidential information in a Secret is safer and more flexible than putting it verbatim in a Pod definition or in a container image.

Secret

[2020-04-07 12:50] sethpeterson commented on #410
Leaving the relevant operator sdk command here:
[code]

[2020-04-07 12:59] carbonin commented on #410
@sethpeterson I don't see those options in `operator-sdk` v0.9.0. Do you know if they were added in a specific version?

[2020-04-07 13:26] sethpeterson commented on #410
@carbonin This is operator-sdk 0.15.1
[code]

I haven't found where it was added but I see reference to changes to the api-version flag in the 0.8.0 release notes

[2020-04-07 13:36] carbonin commented on #410
Right, that's `operator-sdk new` ... That's what we would run if we were building an entirely new operator application. Your comment made it seem like we could pass a new kind to `operator-sdk build` or some other command.

Also, for what it's worth, I have serious doubts that dropping the existing code here into a scaffold built with a much newer sdk version will work correctly (if that was what

[2020-04-07 13:58] sethpeterson commented on #410
From what I have seen, you are correct that changing operator-sdk version will matter a lot here.  Is the plan to stick with 0.8.0?

[2020-04-07 14:05] carbonin commented on #410
Right now we're using `0.9.0`. I would like to upgrade, but I'm still trying to figure out what the priority of that is. We're tracking the upgrade in https://github.com/ManageIQ/manageiq-pods/issues/405

[2020-04-07 20:23] carbonin opened #427 "httpd config maps are not created correctly"
When running the operator from the command line (haven't tested running from inside the cluster yet), the httpd config maps are empty. This prevents the httpd pod from routing requests correctly.

![image](https://user-images.githubusercontent.com/12697904/78714838-7f33c100-78ea-11ea-97ca-4a5e629175dd.png)

Specifically this is currently the landing page:

![image](https://user-images.githubuserco

[2020-04-07 20:25] carbonin opened #428 "Removing a manageiq CR leaves the worker containers"
Removing the application using the operator deletes all the resources it created, but doesn't let the orchestrator come down cleanly.

This leaves all the worker deployment that the orchestrator created running.

It's possible that I "broke" this with https://github.com/ManageIQ/manageiq-pods/pull/420/commits/94a49f97255debf6b8c0107b6f7a464e3886298c, but we really should be letting the orchestrato

[2020-04-07 20:51] #411 closed

[2020-04-08 17:54] mali-chainzee commented on #428
There was function to clean up the worker pods with label selector in my first PR, it seems to have been removed in one of the later commits

[2020-04-08 18:05] mali-chainzee commented on #427
This is because the paths of the config files have been changed, likely because I forgot to switch folder name "resource" to "helpers" in the code. fixing it with another commit now

[2020-04-08 18:37] carbonin commented on #428
Yup I referenced that in the issue description, but I think it was the wrong approach as I would prefer the orchestrator be able to take down the deployments cleanly rather than the operator removing resources that it doesn't manage.

[2020-04-08 18:50] mali-chainzee commented on #428
Worker pods will be removed cleanly if you set the orchestrator deployments as the owner of the worker pods when creating them with k8s api.

[2020-04-08 19:00] carbonin commented on #428
There's application logic that is built into taking the pods down that I want to preserve. I'd rather not just let kubernetes handle it.

[2020-04-08 20:44] carbonin commented on #428
Maybe we could have both. In this case I guess we're removing everything anyway so there's no reason to let everything come down cleanly. We could still keep the logic that lets the orchestrator remove the worker deployments when it is scaled down...

[2020-04-09 14:27] mali-chainzee opened #430 "Orchestrator fails when configuring postgresql"
Orchestrator pod is crash looping. Its log shows `Deployment status is new_replica
New replica is not supported, exiting..` before shutting down. Is this because of any update on postgresql image? Just want to see if there's anything I need to fix on the operator side.

[2020-04-09 14:38] carbonin commented on #430
I've seen this, but not consistently. To figure out what happened we would need the logs from the first orchestrator pod.

The new_replica state exists when the orchestrator is deployed into an environment where the database schema has already been created but it detects that the server row with the matching guid does not exist.

Not really sure how this could happen unless the GUID was regenerate

[2020-04-09 15:36] carbonin commented on #405
@gyliu513 is taking this on in #432

[2020-04-09 15:58] #409 closed

[2020-04-09 16:48] mali-chainzee commented on #430
I tried deploying with shell script and the same thing happened. I guess something is wrong within the orchestrator.

[2020-04-09 17:44] carbonin commented on #430
What platform are you deploying on? I've only seen this problem once in the last ~20 deploys I've done on OCP 3.11. I just deployed using the operator on master and had no problem.
[code]

[2020-04-09 17:50] mali-chainzee commented on #430
Interesting, I deployed on OCP 4.1 with crc. It happens everytime

[2020-04-09 17:59] carbonin commented on #430
Maybe it's a resource issue and the pod is getting re-deployed after starting initialization?

[2020-04-09 18:01] carbonin commented on #430
For dev I used to remove all the resource requests and limits so that I could at least deploy on a platform like minishift for minikube. We should probably make those values optional in the CR and only add them into the deployments if the user gave us values. That would make the CRs smaller for devs and might prevent issues like this.

[2020-04-09 19:05] carbonin commented on #427
Fixed by https://github.com/ManageIQ/manageiq-pods/pull/437

[2020-04-09 19:07] #427 closed

[2020-04-09 20:15] carbonin opened #438 "Update existing objects in the reconcile loop"
Currently the only operation our reconcile method carries out is to create an object if it doesn't already exist. With https://github.com/ManageIQ/manageiq-pods/pull/429 we ensure that all the different types of objects that we require are present we don't verify (or fix) their contents.

This can manifest in many different ways, but some examples would be:
  - If a user updates the memory or cpu

[2020-04-09 20:15] carbonin commented on #438
I believe @mali-chainzee is going to be working on this.

[2020-04-10 15:38] gyliu513 commented on #406
@carbonin @Fryguy I did some test, yes, we can use `ManageIQ`, and I think this `kind` name is better.

[code]

[2020-04-10 15:44] gyliu513 commented on #415
@Fryguy do we need to make the operator pass RH certify? After a operator was certified by RH, it will be published at quay.io, some details at https://redhat-connect.gitbook.io/partner-guide-for-red-hat-openshift-and-container/certify-your-operator/creating-an-operator-project

[2020-04-13 00:51] gyliu513 commented on #410
It seems we need to re-generate the code if want to change the kind based on comments here https://github.com/operator-framework/operator-sdk/issues/2819#issuecomment-612639233

[2020-04-13 13:11] carbonin commented on #406
@gyliu513 is this addressed in https://github.com/ManageIQ/manageiq-pods/pull/432 ?

[2020-04-13 14:34] gyliu513 commented on #406
@carbonin  No, #442 was still using Manageiq now, perhaps I can create another PR for this after #432 got merged?

[2020-04-14 14:39] carbonin commented on #410
Okay, so it looks like the answer here is just "no". It will require a code change. Closing this one.

[2020-04-14 14:39] #410 closed

[2020-04-14 14:46] carbonin commented on #430
@mali-chainzee are you still seeing this issue? I haven't seen it again.

[2020-04-14 14:50] #374 closed

[2020-04-14 16:59] mali-chainzee commented on #430
Yes. My local branch is up-to-date, but it still fails on ocp4.
[code]

[2020-04-14 16:59] mali-chainzee commented on #430
Here is the log from orchestrator
[code]

[2020-04-14 20:39] carbonin commented on #430
This works for me with the following crc version and config:
[code]

I suspect that there is some resource issue or other misconfiguration on your machine.

[2020-04-14 21:20] carbonin opened #442 "Service account to scc mapping missing from operator"
@miq-bot add_label bug

**What steps did you take and what happened:**
Deployed a manageiq installation to a new project using the operator.
The orchestrator and httpd pods failed with permission errors.

**What did you expect to happen:**
Everything should deploy cleanly.

**Anything else you would like to add:**
The problem here is that the steps to assign the anyuid scc to the service accounts

[2020-04-15 13:37] #405 closed

[2020-04-15 13:46] carbonin opened #443 "Make more CR parameters optional"
**Describe the solution you'd like**
More of the parameters should not have to be provided by the user. I would like things like images and tags to have reasonable defaults. Additionally we can make it easier for developers to deploy in environments with limited resources by only using resource checks if they were provided by the user.

The last bit for this issue would be to deal with the encrypt

[2020-04-15 13:47] carbonin commented on #443
Originally raised as https://github.com/ManageIQ/manageiq-pods/pull/432/files#r408232313

[2020-04-15 13:52] #428 closed

[2020-04-15 13:56] Fryguy commented on #415
I think initially we should do only what is necessary to get it into operatorhub.io, but ultimately, yes, we should get it certified by RH.

[2020-04-15 14:21] #406 closed

[2020-04-15 16:00] carbonin opened #448 "Verify generated files as a part of CI tests"
We should run `operator-sdk generate csv --csv-version 0.0.1 --update-crds` and `operator-sdk generate k8s` as a part of CI tests and ensure nothing changes.

This will prevent us from merging source that should have changed the CRD or only changing one CRD when both should have changed.

[2020-04-16 14:05] #443 closed

[2020-04-16 14:25] carbonin opened #452 "Document and validate secret format"
When a user wants to provide their own secrets, they need to know the format of the secret as they only specify the secret name in the CR. This applies to the tls, postgres, and kafka secrets.

I'm not sure where we should do this (README, CRD, elsewhere?), but we already have [secret templates](https://github.com/ManageIQ/manageiq-pods/blob/ca7f33f82d77de006cd0bf6a02e660d1915da82c/templates/app/p

[2020-04-16 14:31] carbonin opened #453 "Postgres and httpd config maps empty when deploying the operator as a container"
**What steps did you take and what happened:**

After deploying the operator as a container and creating a ManageIQ CR all the deployments are created correctly but the httpd and postgres config maps are empty.

**What did you expect to happen:**

I expected them to be filled in correctly.

**Anything else you would like to add:**

This is essentially the same issue as https://github.com/ManageIQ/

[2020-04-17 14:04] #453 closed

[2020-04-20 12:52] gyliu513 opened #457 "Document how to access UI if ManageIQ installed by operator"
@miq-bot add_label bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I set up ManageIQ operator via README, and got all pods, service, ingress running as follows:

[code]
[code]
[code]

Due to I do not have a loadbalancer in my cluster, so I was just changing the service `httpd` to use `NodePort` as follows:

[code]

And then access the serv

[2020-04-20 13:07] carbonin commented on #457
@gyliu513 what do you see when you try to access the application? Is there an error page you can share?

[2020-04-20 13:13] gyliu513 commented on #457
Here you go

![image](https://user-images.githubusercontent.com/4461983/79755440-b45cfc00-834b-11ea-9836-1d23a717e558.png)

[2020-04-20 13:13] gyliu513 commented on #457
My ingress detail:

[code]

[2020-04-20 13:45] carbonin commented on #442
The commands we're missing are:
[code]

[2020-04-20 14:29] carbonin commented on #457
The issue here was that the httpd pod was running in cri-o but was not privileged.

Additionally the readiness check seems to be missing. I'll open a PR to add that back in and call this fixed.

[2020-04-20 18:46] #457 closed

[2020-04-20 18:51] carbonin commented on #361
So the "fix" for this was released in openshift 4.3.13, but really we'll still need to set the `container_manage_cgroup` on nodes to make this work correctly.

I raised this concern in https://bugzilla.redhat.com/show_bug.cgi?id=1821511#c10, but haven't gotten a response in the last week.

[2020-04-21 08:55] seth-priya opened #460 "Build failures on ppc64le"
@miq-bot add_label bug

**What steps did you take and what happened:**
Building the docker images using ./bin/build -d images -r manageiq

Build failed at different points with the following errors
1] No match for argument: wmi
Error: Unable to find a match: wmi
The command '/bin/sh -c dnf -y --disableplugin=subscription-manager install http://mirror.centos.org/centos/8/BaseOS/${ARCH}/os/Packages/

[2020-04-21 09:03] seth-priya commented on #460
On 2] the issue seems to be with the unf_ext gem and this seems to "workaround" the issue
diff --git a/images/manageiq-base/Dockerfile b/images/manageiq-base/Dockerfile
index 757706f..3f21b18 100644
--- a/images/manageiq-base/Dockerfile
+++ b/images/manageiq-base/Dockerfile
-    if [ ${ARCH} = "ppc64le" ] ; then gem install sassc  -- --disable-march-tune-native ; fi && \
+    if [ ${ARCH} = "ppc64

[2020-04-21 09:10] seth-priya commented on #460
I was able to build all the images after working around these three issues (disabled wmi install for 1])

[2020-04-21 09:41] Siddhesh-Ghadi commented on #460
The **unf_ext** gem installation issue is also seen while building **manageiq** on power with same failure. The reason for this is the default behavior of **char type** on power which is **unsigned** and leads to the failure of conversion of negative integer to char.
*Unf_ext issues related to this*

https://github.com/knu/ruby-unf_ext/issues/26

Added a bundler configuration in [tools/ci/setup_ru

[2020-04-21 16:10] carbonin commented on #442
So for this I think I'm going to just stop running as root for the app pods and configure an alternative httpd pod that doesn't implement the auth and so doesn't require privileged.

[2020-04-21 17:17] simaishi commented on #460
Copr is going through infrastructure migration and ppc64le chroot was deactivated. Because of that, I will not be able to build any ppc64le rpms right now. I will take a look when ppc64le environment is back in Copr. As per copr outage announcement, it might not come back until June.

[2020-04-21 18:08] carbonin commented on #442
So for this I think I'm going to just stop running as root for the app pods and configure an alternative httpd pod that doesn't implement the auth and so doesn't require privileged.

[2020-04-22 01:14] gyliu513 opened #461 "Use klog for ManageIQ operator"
@miq-bot add_label bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

The current log in the operator is not easy to read:

[code]

How about migrate to klog?

Comments? @carbonin @Fryguy @chessbyte

[2020-04-22 02:36] gyliu513 commented on #361
@carbonin how to handle the case if customer using OCP below 4.3.13?

[2020-04-22 12:03] gyliu513 commented on #442
After adding liveness probe, the httpd pod keeps crashing.

[code]

[2020-04-22 13:36] carbonin commented on #461
What would the klog output look like?

[2020-04-22 13:56] carbonin commented on #361
Well like I said before, this works fine in 3.11, but I'm not sure about 4.1 and 4.2

[2020-04-22 13:57] carbonin commented on #361
According to https://access.redhat.com/support/policy/updates/openshift both 4.1 and 4.2 are in "Maintenance Support" so I don't think we should expect this to come back as it's not a "Urgent and Selected High Priority Bug Fix"

[2020-04-22 13:58] carbonin commented on #442
@gyliu513 yeah, that's what I would expect as a result of https://github.com/ManageIQ/manageiq-pods/issues/361

[2020-04-22 14:27] gyliu513 opened #462 "It takes long time for orchestrator to start additional workers"
@miq-bot add_label bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In my cluster, it takes almost 10 mins for orchestrator to start additional workers, I think the time is a bit long.

[code]

**What did you expect to happen:**

As a first step, we can document this to tell the customer it may take some time and they need to wait till the

[2020-04-22 14:32] gyliu513 commented on #461
Format as follows:

[code]

[2020-04-22 14:46] carbonin commented on #461
We're shooting for JSON format so that we were compatible with centralized logging solutions.
With JSON each of the log fields will be automatically parsed into elasticsearch and searchable.

Unless we don't expect users to be using centralized logging I would rather stick with JSON.

[2020-04-22 15:12] gyliu513 commented on #461
@carbonin I can see most kubernetes projects are using klog, even with klog, I think we can still parse the log and push to elasticsearch?

[2020-04-22 15:14] gyliu513 commented on #361
The manageIQ operator does not work and I cannot access the UI in this case, curious why this is not a High Priority Bug :-)

[2020-04-22 15:33] carbonin commented on #361
As much as I would like them to be, the needs of ManageIQ are not at the top of the priority list for the OpenShift team.

[2020-04-22 15:38] carbonin commented on #461
I don't want to be responsible for pushing to elasticsearch, that's exactly the point of centralized logging. The systems that I've used in the past automatically scrape any logs sent to stdout of any container and index them into elastic and make them available in kibana with no work on the part of the application developer aside from printing logs as JSON.

You could make the argument that it's

[2020-04-22 16:00] Fryguy commented on #461
I agree with @carbonin 's assessment.  Unless there is some of of built-in tooling where all klog format logs are handled automatically by kubernetes without the user doing anything, then I think we would lose the structured output provided by JSON, which in turn is much easier to consume in log aggregators.

Separately, would it be weird if the operator log is in one format and the rest of the ap

[2020-04-22 16:01] Fryguy commented on #461
Forgot to add, but aren't we using the default logging provided by the operator-sdk?  I assumed that if the operator-sdk picked JSON it was for a reason, like automatic post-processing.

[2020-04-22 16:18] Fryguy commented on #351
I think we should also drop the minishift wording and change to code ready containers.

[2020-04-22 16:26] Fryguy commented on #462
I could see adding some lines to https://www.manageiq.org/docs/get-started/kubernetes to describe that it may take some time before the UI is up and running on first launch and why (because it's creating/seeding the database, etc).

We had a landing page a LONG time ago, but when we switch to the UI being worker based it's not possible now unless we rearchitect it a bit.  Basically, the orchestrat

[2020-04-22 20:54] bennett-white opened #464 "Image tag not propagating to worker pods"
@miq-bot add_label bug

Installed using deploy script in jansa branch

**What did you expect to happen:**
Expected worker pods to have the same image tag as orchestrator pod (latest-jansa) in this example.

**Environment:**

- Minikube/KIND/OCP version: OCP 4.2
- Kubernetes version: (use `kubectl version`): 1.14

[2020-04-23 15:22] carbonin commented on #464
Will be fixed by https://github.com/ManageIQ/manageiq-pods/pull/465 and https://github.com/ManageIQ/manageiq/pull/20094

[2020-04-23 19:34] carbonin opened #467 "Decrease privileges for httpd pod"
The httpd pod should only require minimal privileges when using database-only auth or OIDC.
We can write logic in the operator to deploy a smaller and simpler image which doesn't require elevated privileges when either internal or OIDC auth is requested.

The specific tasks associated with this effort would be:
- [x] Separate out the httpd images based on required permissions
  - Includes building

[2020-04-23 20:03] carbonin commented on #467
Additionally this kind of logic won't really be available for the template deploy so once this is completed I think it would make sense to move to the operator as the only way to deploy the app.

cc @sethrpeterson

[2020-04-24 10:46] seth-priya commented on #460
@simaishi thank you for your response! Could you please help me understand what is wmi used for in this context- the build proceeds without it, but I believe it may be needed at run time? what would be the impact here? also maybe we can consider building it from source in the dockerfile as a short term alternative? which repo would this be, is it https://github.com/tjguk/wmi ? I can give it a try

[2020-04-24 12:51] simaishi commented on #460
@seth-priya It is for run time, for Windows VMs, but I'm not sure exactly what you can't do without it... hopefully @carbonin can answer that question.

The source RPM can be found in Copr: https://copr-be.cloud.fedoraproject.org/results/manageiq/ManageIQ-Master/epel-8-x86_64/01173723-wmi/wmi-1.3.14-2.el8.src.rpm, so that can probably be used if you're going to try building the RPM.

[2020-04-24 12:56] simaishi commented on #460
In regards to issue 3 about 'python', in the last few days I ran multiple builds on x86_64, I saw that error once.  All other times, the builds have been successful.  I'm not sure if you see that error every time or not. But either way, we should investigate this before adding python2 package.

Hoping @himdel can help out...

[2020-04-24 12:59] seth-priya commented on #460
@simaishi thanks for the pointers - the python error is consistent for me, I will look at building wmi from source

[2020-04-24 13:00] carbonin commented on #460
Regarding `wmi`: [this](https://github.com/ManageIQ/manageiq/blob/468521a8d3b892678f106e1d5e5ee1cdbade4490/app/models/vm.rb#L88) is the only reference I could find which looks like it's querying for the running processes on a windows VM.

[2020-04-24 13:10] himdel commented on #460
According to https://github.com/nodejs/node-gyp/issues/1687#issuecomment-541471076,
as of node-gyp 5.0.5+ and 6.0.0+, python3 is supported.

Which means any npm packages which need to build node binary bindings must depend on those versions to work, and anything depending on older node-gyp will fail without python being python 2.

(Not yet sure about the specific packages and versions we're using.

[2020-04-24 13:12] seth-priya commented on #460
so @carbonin does it make sense to completely skip the wmi installation for ppc64le? thoughts?

[2020-04-24 13:15] carbonin commented on #460
I think it still needs to be there as it's in the Gemfile. I'd be surprised if the app started up if it wasn't installed.

[2020-04-24 13:54] simaishi commented on #460
wmi is a RPM, so I'd think it's fine to skip it?  It was never included in pods until @carbonin added it a few months ago.

[2020-04-24 14:02] carbonin commented on #460
Ah, right. I was thinking a gem. As long as the build finishes then yeah, we can skip for now.

[2020-04-24 14:08] seth-priya commented on #460
yes, the build does finish fine without wmi …

[2020-04-24 14:18] carbonin commented on #460
So yeah, we're exposing ourselves to a bug where we won't be able to list processes on windows machines, but if that's blocking the ppc64le build then it feels like an acceptable risk.

[2020-04-24 15:01] simaishi commented on #460
@himdel looked into changing version constraint on ui-classic to avoid node python issue. But we're out of luck until a new version of node-sass with python 3 support gets released.

It seems it works for me, because there is prebuilt binary for x86_64 and it tries to use it first. The one time I saw the error, it must have failed downloading it and tried to compile.

So, for now, the only option

[2020-04-25 13:00] Fryguy commented on #430
@carbonin I'm going to reopen this as I think it's an actual issue, because of multiple reports. At a minimum we should document it, if it's actually a resource issue.  Even so I think it falls into that same line of code that we were looking at for db import, so maybe there's a code / race issue there.

[2020-04-27 12:41] Fryguy commented on #464
Fixed in #465

[2020-04-27 12:41] #464 closed

[2020-04-27 16:29] seth-priya commented on #460
thanks for confirming - I will work on implementing and validating the changes and get back.

[2020-04-28 13:11] gyliu513 commented on #461
Seems operator-sdk has some plan to enable klog as default https://github.com/operator-framework/operator-sdk/issues/2887

[2020-04-28 13:27] carbonin commented on #403
I think this is probably not a great idea. I think we can continue to use `operator-sdk build` for this.

[2020-04-28 13:27] #403 closed

[2020-04-28 13:27] #355 closed

[2020-04-28 13:38] carbonin commented on #467
Fixing this issue also makes https://github.com/ManageIQ/manageiq-pods/issues/361 a lower priority for us.

After this fix, we will be able to use database auth or oidc without any elevated privileges. Only the other auth types will require anyuid/privileged depending on the status of #361

[2020-04-28 18:38] Fryguy commented on #461
They are not switching to klog, but have provided code examples to enable using klog.

[2020-04-28 20:42] carbonin commented on #442
https://github.com/ManageIQ/manageiq-pods/pull/471 will make the httpd step optional if you're using internal or oidc auth. Otherwise I think I would rather keep the command in the docs than add the permissions to the operator to add the sa to the scc in the few cases where we need to.

[2020-04-29 14:11] carbonin opened #472 "Orchestrator image pull secret missing from operator"
**Describe the solution you'd like**
Add an optional image pull secret to the operator to be used for pulling the orchestrator image and provided to the orchestrator to add to the worker deployments.

**Anything else you would like to add:**
Template implementation references:

https://github.com/ManageIQ/manageiq-pods/blob/7787a6a08dab63b06f8b7f20e80362bdba946e41/templates/app/orchestrator.yaml#L

[2020-04-29 14:12] Fryguy commented on #472
Does this also need to propagate like the tag name?

[2020-04-29 14:13] gyliu513 opened #473 "Add imagePullSecret to operator"
@miq-bot add_label enhancement

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We need to add the field of `imagePullSecret` to each images for the manageIQ operator to make sure it can still pull images even if the registry is not public.

FYI @Fryguy @carbonin

**Anything else you would like to add:**
[Miscellaneous information that will assis

[2020-04-29 14:13] carbonin commented on #472
It already does.https://github.com/ManageIQ/manageiq/blob/eca97f587617c57b9043da6d0a0c1791fa22cce8/lib/container_orchestrator/object_definition.rb#L18

[2020-04-29 14:15] carbonin commented on #473
Duplicate of https://github.com/ManageIQ/manageiq-pods/issues/472

[2020-04-29 14:15] #473 closed

[2020-04-29 19:14] carbonin commented on #442
As of now the application should be able to run without messing with sccs before hand. I'm going to close this as I don't ever intend to request the necessary permissions to assign service accounts to sccs from the operator.

[2020-04-29 19:14] #442 closed

[2020-04-30 03:17] gyliu513 opened #475 "httpd liveness probe failed due to no pidof"
@miq-bot add_label bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]

FYI @Fryguy @carbonin @chessbyte

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- ManageIQ version:
- Minikube/KIND/OCP version:
- Kubernetes version:

[2020-04-30 03:22] gyliu513 commented on #475
/label operator

[2020-04-30 11:52] Fryguy commented on #475
@gyliu513 The command to get a label is:

@miq-bot add-label operator

[2020-04-30 12:52] #460 closed

[2020-04-30 14:47] gyliu513 opened #477 "Upgrade operator-sdk to 0.17.0"
@miq-bot add_label enhancement
@miq-bot add_label operator

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

[operator-sdk 0.17.0](https://github.com/operator-framework/operator-sdk/releases/tag/v0.17.0) has some feature enhancement for `bundle create` which can help to facilitate the manifest management.

FYI @carbonin @Fryguy @chessbyte

**Anyth

[2020-04-30 19:52] #475 closed

[2020-05-01 21:11] #467 closed

[2020-05-02 05:07] gyliu513 opened #480 "ps command was lost in httpd container"
@miq-bot add_label bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

I recalled I can use `ps` to check the process in httpd container.

FYI @carbonin @Fryguy @chessbyte

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

-

[2020-05-04 13:09] carbonin opened #481 "Publish operator image"
We should publish a nightly operator image to docker hub alonside the other images.

[2020-05-04 13:11] Fryguy commented on #481
Needs to go to `docker.io/manageiq/manageiq-operator`

[2020-05-04 15:56] carbonin commented on #480
@miq-bot move_issue manageiq/container-httpd

[2020-05-04 15:57] #480 closed

[2020-05-04 15:57] carbonin commented on #461
I think we'll stick with the sdk default. Closing this.

[2020-05-04 15:57] #461 closed

[2020-05-04 15:59] carbonin commented on #423
I think as of https://github.com/ManageIQ/manageiq-pods/pull/479 this is really focused on getting all the other auth methods working.

I think they will all use the httpd-init image except maybe SAML. @abellotti I think you mentioned something about that.

[2020-05-04 16:01] carbonin commented on #212
Checked off external auth here as we have the split httpd images to handle the cases where auth doesn't require sssd/dbus to operate. I don't think we'll ever get those to run without root.

[2020-05-04 17:16] abellotti commented on #423
Correct, both SAML and OIDC should be able to run with the non-privileged httpd container. The operator for SAML would have to do a bit more work than just passing parameters, i.e. creating the service provider metadata in /etc/httpd/saml2/ (running mellon_create_mestadata.sh) and allowing importing the identity provider metadata there in one shot. Admins would need access to the sp-metadata.xml f

[2020-05-04 17:37] #481 closed

[2020-05-05 20:22] #472 closed

[2020-05-06 13:57] gyliu513 opened #487 "orchestrator pod keeps crashing"
@miq-bot add_label bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I found that when re-install the manageiq operator, the orchestrator pod keeps crashing.

[code]

Bumping the `orchestratorInitialDelay: "2400"` fixed this issue.

FYI @carbonin

[2020-05-06 14:00] carbonin commented on #487
Duplicate of https://github.com/ManageIQ/manageiq-pods/issues/430

[2020-05-06 14:00] #487 closed

[2020-05-06 14:04] gyliu513 opened #488 "Enable customer can set storageclass in CR"
@miq-bot add_label bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

If I do not have a default storageclass, then some pods like kafka, postgres etc will keeps pending due to pvc cannot be created.

[code]

**What did you expect to happen:**

it is better to introduce some new fields for those pvcs so that customer can set storageclass manu

[2020-05-06 14:52] Fryguy commented on #462
I wonder if this is related to https://github.com/ManageIQ/manageiq-schema/issues/470

[2020-05-06 15:20] jrafanie commented on #462
Are we able to get into the workers afterwards and check the migrations?
In the linked issue if you `grep Migrating log/production.log` from the vmdb directory, I saw a large gap between each migration, in my case, at least 10 seconds between each, even for tiny migrations that did very little.

[2020-05-06 15:26] carbonin opened #489 "Backup and Restore in the Operator"
We should implement application backup and restore as a part of the operator.
I'm not sure of the best-practices around this kind of thing, but I was thinking a separate controller (with separate CRDs) that would watch for ManageIQBackup/ManageIQRestore objects.
Those would represent either a schedule to backup which we would turn into a CronJob object or a one-off request to restore from a partic

[2020-05-06 15:28] Fryguy commented on #489
I believe this is what the current backup from the appliance console does, so it would be really cool if we could enable backup via appliance console, then restore via this new controller

[2020-05-06 15:31] carbonin commented on #489
Yeah, that's what I was thinking.

[2020-05-06 19:31] carbonin opened #490 "Define memory and CPU requests/limits for the operator"
We should define these in the operator deployment, but I'm not sure of good values.

[2020-05-12 18:07] thadjennings opened #494 "vmware-infra-metrics-collector stuck in CrashLoopBackOff"
@miq-bot add_label bug

**What steps did you take and what happened:**
Podified CloudForms installed (latest as of May 7th). Configured VMware Compute Infrastructure Provider, but after 18 hours, nothing is being discovered.
As shown below, vmware-infra-metrics-collector is stuck in CrashLoopBackOff
[code]

Log is attached here -->
[1-vmware-infra-metrics-collector-7bc6c8676d-zxbg5.log](https://gi

[2020-05-12 18:16] chessbyte commented on #494
@agrare can you take a look at this issue?

[2020-05-12 18:20] carbonin commented on #494
Thought this was fixed in https://github.com/ManageIQ/manageiq-providers-vmware/pull/572

I would ensure that you're using the most up to date images.

[2020-05-12 18:24] agrare commented on #494
Yeah I think the worker image is out of date, here is the error:
[code]

Line 3 is the require: https://github.com/ManageIQ/manageiq-providers-vmware/blob/master/app/models/manageiq/providers/vmware/infra_manager/metrics_collector_worker/runner.rb#L3

[2020-05-12 21:24] chessbyte commented on #494
@thadjennings Closing issue.  Please re-open if you are still having issues with a newer podified build.

[2020-05-12 21:24] #494 closed

[2020-05-13 03:12] gyliu513 opened #497 "Support Region Customization"
@miq-bot add_label bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

From https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/pkg/helpers/miq-components/orchestrator.go#L67 , we can see the region is hard code to 0, we should enable end user can specify via CR.

FYI @carbonin

**What did you expect to happen:**

**Anythin

[2020-05-13 07:06] gyliu513 opened #499 "Do not expose password in CR"
@miq-bot add_label bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We are now putting password in CR as https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/deploy/crds/manageiq.org_v1alpha1_manageiq_cr.yaml#L6 , this is not safe and it is better also use a secret as well.

FYI @carbonin @Fryguy @chessbyte

[2020-05-13 13:17] #497 closed

[2020-05-13 15:49] carbonin commented on #499
This request would mean that a user will always need to pre-create a secret with a specific format and provide that secret name to us in the CR. Is that the user experience we want?

Is there some other solution that involves not using a default password as well as not providing the password in the CR?

[2020-05-13 16:05] carbonin commented on #499
Specifically a yaml like this would be the minimum needed to deploy manageiq after this fix:

[code]

Should we make the CR example files this list as they won't work without defining the secret?

[2020-05-13 18:03] carbonin commented on #499
This whole idea of having the password handling in the operator is a bit odd as it is.

The problem is that even if a user provides a password through whatever process we end up deciding on it could still be changed from within the application. The operator isn't going to enforce the admin password constantly like it would with the objects deployed into the namespace.

Another solution to this wou

[2020-05-13 20:11] #499 closed

[2020-05-13 21:03] thadjennings commented on #494
Problem does not occur with the latest build.

[2020-05-13 21:35] Fryguy opened #501 "enableApplicationLocalLogin should prevent admin user via API"
When enableApplicationLocalLogin is set to false, the expectation is that regular db users (including admin) cannot log into the application via UI or API.  At present, in appliances, this only applies to the UI, since it drives showing the user/pass textboxes.

Since the operator is responsible for the OIDC configuration, I think it should remove these 2 lines [[1]] [[2]], when enableApplicationL

[2020-05-13 21:36] Fryguy commented on #501
cc @abellotti We can deal with inconsistencies with respect to appliances in a follow up.  IMO, I think we should do it the same way in appliances, but we can discuss.

[2020-05-14 12:06] huang-cn opened #502 "missing middleware tables causing replication configure to fail"
@miq-bot add_label bug

**What steps did you take and what happened:**
Installed latest (May.14) podified cloudforms, doing multi-region config, using podified as global region.
goto:  Settings -> Replication -> Add Subscription
got `Failed to save subscription` message,
`ERROR: relation "public.middleware_datasources" does not exist`

checked the postgres database in podified env,  the `public.mi

[2020-05-14 12:34] gyliu513 commented on #502
/cc @Fryguy @chessbyte @carbonin

[2020-05-14 12:49] carbonin commented on #361
Looks like this will actually be fixed by https://github.com/cri-o/cri-o/pull/3754 which it seems will be released in crio-1.18.

According to https://bugzilla.redhat.com/show_bug.cgi?id=1807245#c14 it sounds like this will be available in OpenShift 4.5 and 4.4, not sure about earlier versions.

[2020-05-14 12:55] carbonin commented on #502
These tables were removed in https://github.com/ManageIQ/manageiq-schema/pull/157 so they should not exist.

Does the table exist in the region you're trying to subscribe to? Both the remote and global region have to be the same version of ManageIQ for replication to work correctly.

Also this doesn't seem like a pods-specific issue so I'm moving this to the main repo.

@miq-bot move_issue managei

[2020-05-14 12:56] #502 closed

[2020-05-14 15:09] miq-bot opened #503 "How to use with manageiq-pods Ivanchuk release?"
Rework done to run as unprivileged user is much appreciated.

Sample templates for manageiq-pods in Ivanchuk release refer to docker.io/manageiq/httpd:latest and httpd pod fails to start (in openshift).

Is it possible to provide compatibility with Ivanchuk release or get guidance on how to make it work?

Many thanks in advance for your help!

---

*This issue was moved to this repository from htt

[2020-05-14 17:53] carbonin commented on #503
Referenced this in https://github.com/ManageIQ/manageiq-pods/pull/478#issuecomment-628631015

The issue here is that when we renamed the images, we didn't think to deal with the previously released templates. As a workaround @carsten-a1 you can either try to apply https://github.com/ManageIQ/manageiq-pods/pull/478 to your templates or change the httpd image name to httpd-init. Either should allow

[2020-05-15 13:03] #490 closed

[2020-05-15 15:07] thadjennings commented on #494
Problem has reappeared in the latest build.
[code]

[2020-05-15 15:11] agrare commented on #494
@thadjennings That sounds like a build issue?  If somehow it is deploying an old version of the code.

[2020-05-15 15:12] carbonin commented on #494
@thadjennings you're running the wrong images.

Both master and jansa branches don't reference that constant on line 3 so it's effectively impossible to get the error you're posting with the latest code base in either of those releases.

[2020-05-15 16:24] #501 closed

[2020-05-15 20:32] carbonin opened #507 "Users need to be able to provide trusted CA certs for the OIDC server"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
After configuring the app to authenticate using OIDC running an api query with the JWT token fails.

**What did you expect to happen:**
I expected the call to succeed.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
The failure happens be

[2020-05-15 20:57] carbonin opened #508 "Create an initial group when using external auth"
If a user configures OIDC, and also disables local login they won't be able to access the application unless they happen to have one of our pre-seeded groups configured in their auth server.

It would probably be better if we let the user provide us with an initial group name that we create at first boot. The user can then initially log in as a user in that group to configure the rest of the app.

[2020-05-18 13:29] gyliu513 commented on #488
@Fryguy @carbonin seems the `VolumeSource` in Kubernetes does not support `StorageClass` based on API here https://github.com/kubernetes/api/blob/master/core/v1/types.go#L51-L159 , any comments for this?

[2020-05-18 13:40] carbonin commented on #488
I don't understand why this would matter. The storage class is a property of the PVC. In this case we would set the storage class on the claim as described in https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1. I'm not sure how a different `VolumeSource` comes into the discussion.

[2020-05-18 13:44] gyliu513 commented on #488
@carbonin if you check https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/pkg/helpers/miq-components/kafka.go#L219-L226 , you will see we are using `volumes` in a `pod` spec, and we cannot set `storageclass` in a `volume` spec.

[2020-05-18 13:50] carbonin commented on #488
Right, the storage class is not a property of the volume source it's a property of the PVC object. So we would set the class here https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/pkg/helpers/miq-components/kafka.go#L51-L60

[2020-05-18 13:53] gyliu513 commented on #488
Ah, I see, thanks @carbonin , can you help assign this to me and I will create a PR soon

[2020-05-18 14:03] carbonin commented on #508
@Fryguy do you think this should go in the CR directly or should we spec out some kind of application config that we can read in a separate tool?

I'm thinking if this gets any more complicated we might want a tool in the core repo to be able to read a yaml file or something and do all the configuration tasks we need it to. That way we will be able to cover it with better tests too.

[2020-05-18 14:05] carbonin commented on #508
We could wrap the [auth config](https://github.com/ManageIQ/manageiq-pods/blob/3e0699ed3f4d530504f235c2593286fa2bacdb11/images/manageiq-orchestrator/container-assets/entrypoint#L19-L44) and maybe even the initial region creation and such into the same tool.

[2020-05-18 15:56] #488 closed

[2020-05-18 18:31] carbonin opened #512 "Fetch the OIDC introspection endpoint on deploy"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Implement https://github.com/ManageIQ/manageiq-appliance_console/pull/121 in the operator.

[2020-05-18 18:50] carbonin commented on #507
The other option to to tell mod-auth-oidc to accept an insecure connection to the oidc server.

This would be done by setting the following parameters in the httpd config.
[code]

I'm not sure what logic we want for this, but I think we have three options:

1. Always require an OIDC user pass the certs secret.
2. Set these to `Off` if everything other than the cert secret is passed (either and ent

[2020-05-18 18:52] Fryguy commented on #507
I like option 2, which I read as, if a cert secret is passed we honor it otherwise we set OIDCSSLValidateServer and OIDCOAuthSSLValidateServer to Off.

[2020-05-18 19:43] jvlcek commented on #507
Agreed. If the cert is passed do not include OIDCSSLValidateServer and OIDCOAuthSSLValidateServer

If the cert is not found then set these:

[code]

[2020-05-18 21:56] Fryguy commented on #508
Honestly, I thought this was a lot of what appliance_console_cli already does.  Not the group thing, specifically, but if you are configuring the app for appliances, we're going to want that same "first group" option as well, and appliance_console_cli is where that's ultimately going to end up.

[2020-05-18 22:01] #507 closed

[2020-05-19 09:19] carsten-a1 commented on #503
templates/app/httpd.yaml from #478 doesn't work for me since it targets services and ports that do not exist in Ivanchuk-4. I tried to adopt but didn't figure it out yet and I assume others may have same issue.

From application.conf:
RewriteRule ^/ http://ui:3000%{REQUEST_URI} [P,QSA,L]
ProxyPassReverse / http://ui:3000/
ProxyPass /api http://web-service:3000/api
ProxyPassReverse /api http://web-

[2020-05-19 13:04] carbonin commented on #503
https://github.com/ManageIQ/manageiq-pods/pull/510 should fix your issues.

[2020-05-19 13:17] carbonin commented on #508
I think the problem is that the vast majority of what the appliance console cli does is write out httpd conf. The part we need so far is pretty small and it also seems odd to call out to the `appliance_console_cli` which then shells out to a rake task to configure settings. I guess I always considered the appliance console to be appliance-specific. Because 95% of it doesn't apply to containers it

[2020-05-19 14:00] chessbyte commented on #508
So, it sounds like we should extract code from `appliance_console_cli` into a shared place that both the operator and the `appliance_console_cli` can use.

[2020-05-19 14:36] carbonin commented on #503
@carsten-a1 #510 was merged, can you re-test and close this if things are working for you now?

[2020-05-19 15:25] carbonin commented on #508
@jvlcek would it be better to check the box to fetch the groups from the external system rather than creating a single group? That didn't work for us when we tested this out. What was the problem there?

[2020-05-19 15:40] jvlcek commented on #508
With OIDC the check box to fetch the groups from the external system should not be there. I just confirmed that in upstream it is not.

With other forms of external auth we use SSSD, which enables us to use dbus-send under the covers to query the Identity Provider for group membership. With OIDC/OAuth2 we don't use SSSD. So there is no easy way to query the IdP for a users group membership.

[2020-05-19 16:00] carbonin commented on #508
What does that mean? We were testing with Jansa, should we backport some change that removes it for OIDC?

[2020-05-19 16:20] abellotti commented on #508
the "Get User Groups from External Authentication" should be there for all external auth, SSSD,SAML,OIDC.  What it essentially says is that with the groups we're getting for the external user, to go ahead and authorize him as such, i.e. define the user group membership in the user object.   As @jvlcek mentioned, we can fetch the group membership of a user via DBUS, i.e. when creating groups, there

[2020-05-19 16:25] abellotti commented on #508
Which brings me to the next question :)

Do we want them to only create the one (I presume super admin) or allow them to create multiple ?  With creating just the one, they can already use the API to create all the other ones if they want, but this will be one less step.

[2020-05-19 16:42] abellotti commented on #508
For the groups, we just need the "description" and the "miq_user_role",  not sure how the latter will be specified here, but in the api, we allow role to be specified by name in addition to id or href.

[code]

For the operator, might be more elegant to have the group description and role_name pairs.

[2020-05-19 17:49] carbonin commented on #508
I wanted to limit the complexity of what we're doing at deploy time because the operator never actually posts to the manageiq API. It is just a passthrough to some post-install step in the orchestrator entrypoint. This first pass would be similar to [how we configure the auth settings](https://github.com/ManageIQ/manageiq-pods/blob/f3372608b6654fcd2c699a7c7cf5174245f2fa94/images/manageiq-orchestra

[2020-05-19 17:49] jvlcek commented on #508
Because  there are multiple similar things I will try to help clarify by distinguishing them.

1 - On the Configuration > Settings, Authentication page there is a checkbox labeled:
   `Get User Groups From External Authentication`

If this box is checked, when a user attempts to log in for the first time, if the groups returned by the Identity Provider match any already in the VMDB DB, the user re

[2020-05-19 17:52] jvlcek commented on #508
I agree and once we have one user that can be Authenticated we can easily create more groups using the API.

[2020-05-19 18:31] uselessidbr commented on #374
Sorry @carbonin didn't have the time to test it. I will try with the latest version and let you know. Thanks for your help!

[2020-05-19 18:33] uselessidbr commented on #374
Basically it is the issue i get. It doesn't output any report. Does creating the SA solve this issue?

[2020-05-19 18:55] carbonin commented on #374
No I think that's a SCAP configuration issue. The report it generates is based on the operating system (or in this case container image) so if there is no configuration available for the system you're scanning then you won't get a SCAP report back.

My point here is that scanning is working, but just the SCAP piece might have a problem for particular container images.

I would say this is only an

[2020-05-19 19:01] carsten-a1 commented on #503
Confirmed #510 works.

Also got #478 working with Ivanchuk-4 with only few changes. Actually the route/ingress was messed up. Happy to share my template if of any use.

Many thanks for your help and effort!

[2020-05-19 19:02] carbonin commented on #503
Great! I'll close this then.

[2020-05-19 19:02] #503 closed

[2020-05-19 19:04] agrare commented on #374
According to https://access.redhat.com/documentation/en-us/reference_architectures/2018/html/managing_large-scale_openshift_installations_with_cloudforms_4.6/smartstate_analysis#identifying_smartstate_analysis_problems (sorry couldn't find upstream docs for openshift ssa)

[2020-05-19 19:05] agrare commented on #374
So, doesn't sound like an issue unless you're using RHEL based images

[2020-05-19 19:31] uselessidbr commented on #374
So i presume it won't generate a report for containers using centos/fedora images. Is that it?

[2020-05-19 19:33] uselessidbr commented on #374
Looking at the doc it seems to work only with RHEL images. That's a shame :(

[2020-05-27 15:00] carbonin opened #516 "Requests to `/api` are handled by the UI service"
Requests to the route with `/api` are handled by the UI worker rather than the web service worker.
For example:
`curl -k https://admin:smartvm@manageiq-httpd.10.8.96.54.xip.io/api/users` leads to the following logs in the UI pod:

[code]

- ManageIQ version: master
- Minikube/KIND/OCP/CRC version: 3.11
- Kubernetes version: (use `kubectl version`):
[code]
- OS (e.g. from `/etc/os-release`): Fedora

[2020-05-27 20:42] carbonin opened #517 "Push notifications don't work"
In the ops UI push notifications don't work and I'm seeing an error in the browser console related to websockets (I assume that's related).

![image](https://user-images.githubusercontent.com/12697904/83069803-7fbe1d80-a038-11ea-84fc-c838f1f4b2db.png)

[2020-05-27 20:49] carbonin opened #518 "Set pull policy to "Always" if the orchestrator tag contains "latest""
When someone uses a released "latest" tag like "jansa-latest" the semantics for image pull policy differ. Kubernetes will automatically fetch a new image when you use the `latest` tag, but for any other value it assumes the tag will always reference the same image, so an additional pull would be unnecessary.

We can get around this by setting the container's image pull policy to "Always" when usin

[2020-05-28 17:21] carbonin commented on #518
@bennett-white is taking this on

[2020-05-28 20:12] #518 closed

[2020-05-29 17:19] simaishi opened #521 "Allow customized rpm name to be used"
Currently, rpm names are hardcoded to use `manageiq` prefix. Need to allow customization.

@miq-bot add-label enhancement

[2020-05-29 17:29] simaishi opened #522 "Allow yum repo for manageiq RPMs to be customized"
@miq-bot add-label enhancement

[2020-05-29 20:46] #521 closed

[2020-06-01 07:48] gyliu513 opened #526 "Offline install for manageIQ"
In an offline OCP cluster, I can get all images from public and push into my local registry, but here the question for `orchestrator`, as it need to start up and create many worker pods, so how and where to push those worker image to enable the `orchestrator` can get those images from local registry? I did not found a configuration for this.

FYI @carbonin @Fryguy @chessbyte

- ManageIQ version:
-

[2020-06-01 12:06] carbonin commented on #526
The orchestrator uses the image namespace provided in [orchestratorImageNamespace](https://github.com/ManageIQ/manageiq-pods/blob/5185f6b5f2d068f66b51d7d9c8a69afcfa79c78a/manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml#L166-L169) for the worker images.

This is [passed as an env var](https://github.com/ManageIQ/manageiq-pods/blob/5185f6b5f2d068f66b51d7d9c8a69afcfa79c78a/manageiq-oper

[2020-06-01 12:06] #526 closed

[2020-06-01 12:17] #508 closed

[2020-06-01 20:16] carbonin commented on #361
The bug was finally verified, so I'm going to close this here as we're very much less reliant on running the httpd-init image and we can revisit this with a new issue if someone hits this again on a newer version of OpenShift. (I think >= 4.5 will have the fix).

[2020-06-01 20:16] #361 closed

[2020-06-01 21:01] carbonin commented on #417
Just had some thoughts about what we should report on here. It really needs to be something that the operator knows about first hand (so not from within the application api).

Some ideas could be internal vs external database/kafka and auth type which are both determined based on information given to the operator.

[2020-06-01 21:05] carbonin commented on #489
Based on the [etcd operator](https://github.com/operator-framework/community-operators/blob/master/community-operators/etcd/0.9.2/etcdoperator.v0.9.2.clusterserviceversion.yaml#L79-L111) it looks like the way to go for this would be to represent a single backup request in as a CR then report on the status of that backup in the CR status field.

Then everything needed to complete the backup should

[2020-06-01 21:08] carbonin commented on #489
Also of note: when looking at the etcd operator it also looks like they [deploy multiple containers in the operator pod](https://github.com/operator-framework/community-operators/blob/master/community-operators/etcd/0.9.4/etcdoperator.v0.9.4.clusterserviceversion.yaml#L210-L223) to handle different functions like backup and restore. I'm not sure what the utility of that is vs separate controllers

[2020-06-02 08:31] gyliu513 opened #527 "offline install failed"
Due to zookeeper and kafaka is using online docker image, and this will cause offline install failed.

- https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/pkg/helpers/miq-components/kafka.go#L155
- https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/pkg/helpers/miq-components/kafka.go#L252

FYI @carbonin @Fryguy

[2020-06-02 12:08] Fryguy commented on #527
I'm not sure I understand.  You can override the Kafka deployment with your own deployment by giving it the location of the running Kafka.  In that case it shouldn't even try to pull the images

[2020-06-02 12:22] carbonin commented on #527
.... I'm not sure we got to this. I think it will still try to deploy the kafka and zookeeper pods.

[2020-06-02 12:22] carbonin commented on #527
Same with PG IIRC.

[2020-06-02 13:41] gyliu513 commented on #527
@Fryguy @carbonin I think we cannot depend on external Kafka and Zookeeper, one proposal is also setting those images in the CR so that the end user can also customize the location of those images.

[2020-06-02 13:44] carbonin commented on #527
:+1: That would be consistent with the other images as well so we can do that as a fix for this issue.

I'll probably open another issue to handle not deploying the database/kafka when a user provides a secret for either of those services.

[2020-06-02 13:52] gyliu513 commented on #527
Great, thanks @carbonin

[2020-06-02 15:14] #516 closed

[2020-06-02 18:33] carbonin opened #529 "Don't deploy the database/kafka if the user provides the corresponding secret"
We shouldn't deploy our own database or kafka instance if the user has directed us to use an external one. At a minimum we should only deploy if we're creating the secret, but it might be good to go as far as reading the hostname from the secret to ensure that they're not just providing a user or password or something like that.

[ ] For PostgreSQL/Kafka - https://github.com/ManageIQ/manageiq-pods

[2020-06-03 11:48] #527 closed

[2020-06-03 18:12] carbonin opened #531 "The cockpit redirects and role don't work"
When the "Cockpit" role is enabled, the orchestrator starts a worker on the local pod.
I guess the expected behavior would be to create a separate service worker that would handle the redirecting to the VM cockpit UI, but I don't know enough about how the worker works to say for sure.

1. Enable the "Cockpit" role.
2. Add a provider which manages a VM which is running cockpit.
3. Attempt to access

[2020-06-04 10:33] gyliu513 opened #533 "bou.ke/monkey is not allowed to use"
Please refer to LICENSE of https://github.com/bouk/monkey/ , now all of the code generated by operator-sdk will include `bou.ke/monkey` in `go.sum`, I think we need to fix this.

There is a fix for other repos https://github.com/operator-framework/operator-registry/pull/191

FYI @Fryguy @carbonin @chessbyte

- ManageIQ version:
- Minikube/KIND/OCP/CRC version:
- Kubernetes version: (use `kubectl v

[2020-06-04 11:00] #533 closed

[2020-06-04 18:28] carbonin commented on #517
So first pass on this is that the service name changed from `websocket` to `remote-console` so [this config](https://github.com/ManageIQ/manageiq-pods/blob/3284ac0e16237009ef389b5261f7b309e3f53809/manageiq-operator/pkg/helpers/miq-components/httpd_conf.go#L37-L38) is clearly never going to work.

In master we have this in the httpd logs:
[code]

Which checks out with the services not matching.

[2020-06-04 18:44] carbonin commented on #517
In an effort to make changes similar to https://github.com/ManageIQ/manageiq-appliance/pull/219 I made the following change:

[code]

This resulted in 404 rather than 502, which I guess is an improvement?
Here's the console screenshot:
![image](https://user-images.githubusercontent.com/12697904/83798190-e31c0100-a671-11ea-9964-9f7c676c59c1.png)

And here's the logs from the UI worker:
[code]

[2020-06-04 18:52] carbonin commented on #517
At this point I'm a bit out of my depth. I'm not sure what websockets need to "upgrade" correctly.

@jrafanie @skateman can either of you lend a hand here?

[2020-06-04 20:00] carbonin commented on #517
Also added this to the UI worker's httpd config, still the same result:
[code]

[2020-06-04 20:50] carbonin opened #536 "Remote consoles don't work"
Full disclosure, I haven't tried them, but nothing in our httpd config is routing to the remote console worker so I'm just going to assume they don't work for that reason at a minimum.

We probably need similar config to what is present for notifications as these are also driven by websockets I believe.

[2020-06-05 07:29] skateman commented on #517
The `remote-console` service is not related to the notifications, it runs and should run as a separate worker. The notifications are part of the rails server, so the two things aren't really related to each other.

Is there a way I can play around with this easily?

[2020-06-05 09:13] skateman commented on #517
I tried to deploy this on my computer, but the scheduler can't even get to starting the DB :(

[2020-06-05 13:01] carbonin commented on #517
Yeah, don't worry about it I think I have it fixed in #535.

#536 might be more difficult though, not sure if it will need more than just adding some redirect/proxy in the httpd conf.

[2020-06-05 13:37] carbonin opened #538 "Document how to rebuild images with non-redistributable VMware libs"
We should write some documentation about how a user could rebuild the images to include vmware vddk libs for smartstate and webmks for remote console access.

Right now both of those features are broken (as we can't include the required libs) and the standard solution (install them to the appliance) doesn't apply to pods as those changes would be lost on the first re-deploy.

[2020-06-05 16:05] #517 closed

[2020-06-08 12:13] evertmulder commented on #430
Is there a way to overcome this issue? The first deployment was failing due some resource issues, but this is resolved now. How get the orchestrator in a healthy again? Looking in the database the miq_server table has no entries...

[2020-06-08 13:00] carbonin commented on #430
@evertmulder You'll have to clear out the database so it's probably best to just clear everything out at re-deploy.

[2020-06-08 13:36] evertmulder commented on #430
For now in a dev/poc this is fine, but what in the case of a database restore then the GUID of the deployment should match the MiqServer GUID?

[2020-06-08 13:57] carbonin commented on #430
Yes, for a restore scenario you should keep track of the guid and all the secrets created by the deploy process. https://github.com/ManageIQ/manageiq-pods#backup-api-objects-at-the-project-level talks about how to get them out of the cluster. You can also provide the guid, app secret name, and database info at deploy time to create a reproducable environment.

[2020-06-08 14:33] evertmulder commented on #430
Ah thanks for the clarification!

[2020-06-08 19:16] #536 closed

[2020-06-09 15:02] carbonin opened #541 "Should we remove kafka and zookeeper from Jansa?"
Kafka and zookeeper add a significant overhead to the deployed application. Not only do they both require a PV, but they are also resource hungry (an idle Kafka uses 500Mi of memory) and the dependencies that we are least familiar with maintaining.

Additionally, I believe they are only used for writing events currently (correct me if I'm wrong @agrare @Fryguy). If no other part of the application

[2020-06-09 15:17] carbonin commented on #438
@mali-chainzee I'm going to start on some of these changes in parallel. Just a heads up.

[2020-06-09 18:09] agrare commented on #541
:+1: until we start depending on kafka it is perfectly fine being an "add-on" not a requirement

[2020-06-09 19:03] chessbyte commented on #541
@carbonin Can they be optionally installed?  Then, once the providers code starts leveraging Kafka, we can review our options around install MUST have Kafka configured - whether ours or external.

[2020-06-17 19:43] carbonin opened #550 "Deployment selector is immutable from the operator"
If a user manages to change the deployment selector and the pod template labels for the memcached deployment the operator loops trying to reconcile with the following error:

`"msg":"Reconciler error","controller":"manageiq-controller","request":"manageiq/miq","error":"Deployment.apps \"memcached\" is invalid: spec.selector: Invalid value: v1.LabelSelector{MatchLabels:map[string]string{\"app\":\"m

[2020-06-17 20:49] carbonin commented on #477
From a compatibility standpoint I just saw this in the [openshift docs](https://docs.openshift.com/container-platform/4.4/operators/operator_sdk/osdk-scorecard.html)

I'm not sure what it means to be ahead of the version that the latest openshift version supports.
Hopefully we wouldn't run into more issues like https://github.com/ManageIQ/manageiq-pods/issues/550 which was caused by an api differe

[2020-06-17 21:20] Fryguy opened #551 "Image parameters for the images deployed by the operator should be consistent"
While not a bug, per se, the inconsistency is a little strange.  Sometimes you specify the namespace separate, sometimes it's together, and sometimes it has docker.io as the default whereas other times it doesn't.  Not sure what the _right_ consistency would look like whether a single string we parse, or every possible piece as a separate value.

- [httpd](https://github.com/ManageIQ/manageiq-pods

[2020-06-18 18:37] carbonin opened #554 "Postgres PVC, config map, and service persist after CR deletion"
When the manageiq CR is deleted some of the postgres-related resources remain. I expect them to be deleted as they previously were.

1. Deploy the CR
2. Remove the CR
3. `oc get pvc`
4. Observe the postgres pvc is still present

This was caused by https://github.com/ManageIQ/manageiq-pods/pull/547 which didn't use `controllerutil.SetControllerReference` in the service, pvc, and config map mutate f

[2020-06-18 20:47] #550 closed

[2020-06-19 14:00] carbonin opened #556 "Support OIDC for SUI"
Do https://github.com/ManageIQ/manageiq-appliance/pull/287 for the pods deployment

[2020-06-19 16:11] carbonin opened #557 "Allow the user to specify image tags/digests for the worker images"
Right now we can configure the image for all the "operands" with parameters to the CR, but the workers deployed by the orchestrator are always bound to the orchestrator's tag.

This is a problem if the orchestrator is tagged differently or pulled using a sha so we should allow users to specify image strings for the `manageiq-base-worker`, `manageiq-webserver-worker` and `manageiq-ui-worker` images

[2020-06-19 18:06] #554 closed

[2020-06-23 15:30] #557 closed

[2020-06-24 09:54] gyliu513 commented on #477
We can check with OCP to get more comment later, this is low priority :)

[2020-06-24 19:37] #452 closed

[2020-06-29 17:09] carbonin commented on #556
@abellotti this is resolved in https://github.com/ManageIQ/manageiq-pods/pull/559, right?

[2020-06-29 17:40] abellotti commented on #556
yes sir.

[2020-06-29 17:46] carbonin commented on #556
Closed via https://github.com/ManageIQ/manageiq-pods/pull/559

[2020-06-29 17:46] #556 closed

[2020-06-29 19:31] Fryguy commented on #391
Unless ibm prow is hosted publicly, I think we won't do this.  We can revisit in the future perhaps running a MIQ specific prow.

[2020-06-29 19:31] #391 closed

[2020-06-30 13:12] jvlcek opened #564 "Add support foro OIDC Resource Owner password grants"
Add support for Resource Owner password grants to mod-auth-oidc configuration. This will add support for basic (username:password) authentication. Not needed today but nice to have.

[2020-06-30 13:13] jvlcek commented on #564
@miq-bot add_label enhancement

[2020-06-30 14:05] abellotti commented on #564
Thanks @jvlcek for writing this up, yea, for this to work in pods too, what was being done in the API will need to be implemented on the Apache side, maybe as a proxy service.

[2020-06-30 15:27] carbonin opened #565 "Handle upgrades"
We should have a plan for handling minor and major upgrades.

For a minor upgrade, this should mean just changing the image tag in the CR for the orchestrator and workers to the new released version.
  - This will require https://github.com/ManageIQ/manageiq-pods/issues/438 being solved for the orchestrator

For a major upgrade the amount of work will depend on if we have to update the operator. I

[2020-07-02 20:29] carbonin opened #573 "Constant updates to the orchestrator prevent the app from deploying"
When the operator is running it constantly updates the orchestrator deployment causing it to redeploy every second or so.
This prevents the app from ever starting up.

I can see near-constant logging from the operator indicating updates to the orchestrator deployment:
[code]

Deploy the app with the operator

[2020-07-02 20:39] carbonin opened #574 "Don't log a reconcile if the object was not changed."
Right now about half of the lines we're logging are saying that some resource or other hasn't changed.

Let's not log that.

Example:
(Trimmed some of the log elements so it was easier to see the important bits)

{"msg":"Deployment has been reconciled","component":"memcached","result":"created"}
{"msg":"Service has been reconciled","component":"memcached","result":"created"}
{"msg":"Service Accoun

[2020-07-02 20:40] carbonin commented on #574
This would make it much easier to notice issues like https://github.com/ManageIQ/manageiq-pods/issues/573

[2020-07-06 07:04] gabrielqi opened #576 "orchestrator failed with "New replica is not supported, exiting..""
I am trying to deploy it on OCP4.3 and the orchestrator is not starting,

NAME                           READY     STATUS             RESTARTS   AGE
httpd-575b54f66b-ncrbf         1/1       Running            0          83m
kafka-5b57f47bf6-vr6st         1/1       Running            1          83m
memcached-65c956867-zttcd      1/1       Running            0          83m
orchestrator-fb675b57b-v9t

[2020-07-07 13:50] carbonin commented on #576
Closing as a duplicate of https://github.com/ManageIQ/manageiq-pods/issues/430

What this usually means is that the env is a bit slower than we expect. You should be able to re-deploy with a larger value for the [initial delay](https://github.com/ManageIQ/manageiq-pods/blob/2b8519e5ec7e5ebe0bebc628bb2b8e2cf82eb761/parameters#L67)

[2020-07-07 13:50] #576 closed

[2020-07-07 14:04] #573 closed

[2020-07-08 14:38] carbonin commented on #438
All of the components are completed, so I'm closing this.

[2020-07-08 15:24] #574 closed

[2020-07-13 13:32] abellotti commented on #512
Jansa specific PR: https://github.com/ManageIQ/manageiq-pods/pull/582

[2020-07-14 13:05] #512 closed

[2020-07-15 04:59] gyliu513 opened #583 "No HA support for some components in ManageIQ"
Currently, I can see the ManageIQ operator is hardcoding some of the deployment replicas as 1, like httpd, memcached etc, the problem is that this will not able to enable the HA deployment for ManageIQ.

Can we enable the customer set the replica number or just add a new field in CR like `enableHA` etc, and let customer to define if they want to use HA or not?

FYI @carbonin @Fryguy @chessbyte

-

[2020-07-15 14:09] carbonin commented on #583
I think we should be able to safely scale httpd, that just needs to be tested. Maybe we just remove the replica bit from reconcile to let the user set their own value (or maybe we just ensure it's >= 1).

I'm not sure about memcached. We store the user session in there so if it's getting load balanced it's possible the user will have to log in every time we hit a new memcached replica.

The orches

[2020-07-15 14:13] carbonin commented on #583
First question is, do you consider "supports multiple replicas" HA? Or are we talking about full multi-cluster active-active or active-passive with data replication type HA?

[2020-07-15 14:53] gyliu513 commented on #583
Thanks @carbonin for the detailed explanation here, really very helpful!!

Here is just single cluster model with supports multiple replicas HA.

[2020-07-15 15:25] carbonin opened #584 "Remove the templates"
At this point I think the operator is more fully featured than the templates so it's probably time to stop trying to maintain both installation methods.

I think the only thing we would want to keep around would be the templates for the backup and restore jobs. Restore might need a bit of documentation and possibly an operator enhancement. Right now we assume the orchestrator is down when doing a

[2020-07-15 15:38] carbonin commented on #583
Okay, so the goal here is to have very little interruption (less than the time to reschedule a pod) for something like a node failure.

Generally this would mean every service supporting multiple replicas, but in a case like a database with persistent storage multiple replicas are not going to be the solution.

This is probably a good enough description to go on for now. I'll add a checklist to th

[2020-07-17 15:35] booboothefool opened #586 "Stuck at login screen"
I used this guide https://www.manageiq.org/docs/get-started/kubernetes.html to install ManageIQ on my cloud OpenShift Container Platform 4.3.

It seems to have installed successfully:
[code]

However when I use the httpd service and go to the login screen and enter admin:smartvm, it seems to just spin and get stuck at the login. But the credentials are valid.

The logs seem fine:
[code]

Any advic

[2020-07-17 15:48] carbonin commented on #586
By this you mean you're using the ingress, right? Not the service directly?

[2020-07-17 15:54] booboothefool commented on #586
I don't seem to have an Ingress resource.
[code]

So I mean I try to port-forward like so:
[code]
But none of those get me past the login screen.

I have also tried creating an OpenShift route but same effect.

[2020-07-17 16:07] carbonin commented on #586
Right, so typically we have an ingress that handles httpd termination. I think the UI will treat your session differently if you're not using https so that might be what you're hitting.

Were there any errors when you ran the deploy script? An ingress should have been created. ref: https://github.com/ManageIQ/manageiq-pods/blob/master/templates/app/httpd.yaml#L147-L165

Also can you check if the `

[2020-07-17 16:39] booboothefool commented on #586
Oh, so that's it!

There were no errors when I ran the deploy script. But I left the APPLICATION_DOMAIN blank, so that might've been the issue.

[code]

But thanks to your tip, I was able to get past the login screen by:
1. Create new OpenShift route
2. Set Edge, Redirection
3. From tls-secret, set Certificate: tls.crt, Private Key: tls.key, CA Certificate: leave blank

Thank you!

[2020-07-17 16:39] #586 closed

[2020-07-17 19:19] booboothefool opened #587 "How do I actually run a scan?"
I was able to add my provider:

![image](https://user-images.githubusercontent.com/13257645/87822707-f230ca00-c83f-11ea-9b92-662c935c3bfc.png)

Although not sure what to put here:
![image](https://user-images.githubusercontent.com/13257645/87822738-0248a980-c840-11ea-9b7e-54ce1fb55f52.png)

I added OpenSCAP policy profile:
![image](https://user-images.githubusercontent.com/13257645/87822798-17bdd3

[2020-07-17 19:35] carbonin commented on #587
Maybe https://github.com/ManageIQ/manageiq-pods/issues/374 will help.

Your issue sounds similar.

[2020-07-17 23:25] booboothefool commented on #587
Hmm well I don't seem to have the `inspector-admin` ServiceAccount. If this is required, what does `inspector-admin` look like? I also had to create `management-admin` using this guide here https://access.redhat.com/documentation/en-us/red_hat_cloudforms/4.0/html/managing_providers/containers_providers (it did not come with my cluster).

I don't see these `image-inspector` pods that are mentioned.

[2020-07-20 13:38] carbonin commented on #587
I think some of this might have shipped with openshift out of the box in previous versions (when cloudforms was also included). It's possible that some of the assumptions made by this feature are no longer true.

#374 specifically called out the missing config for the base images used in that target cluster. I don't think there were scap targets for ubi.

If the feature itself is broken (i.e. it w

[2020-07-20 19:23] booboothefool commented on #587
I watched this video https://www.youtube.com/watch?v=o7D91G_SCVI and noticed a few things:

Oh so tasks are just at /miq_task. Indeed, there are no image scan tasks.

In the video he goes to Configuration > Perform SmartState Analysis. For me, that Configuration > dropdown is grayed out and disabled.

As soon as he does that, image inspector pods start appear in management-infra namespace and begi

[2020-07-23 13:57] carbonin opened #590 "Use NetworkPolicy to restrict traffic between pods"
Create [NetworkPolicy](https://docs.openshift.com/container-platform/4.5/networking/network_policy/creating-network-policy.html) objects in our namespace to define the expected channels of communication between pods so traffic cannot come from an unexpected location.

This generally improves security.

[2020-07-23 20:24] carbonin opened #591 "Do we want to publish an operator index image?"
This will allow us to add ManageIQ to the operator catalog on an openshift cluster.
ref: https://docs.openshift.com/container-platform/4.5/operators/olm-packaging-format.html#olm-opm_olm-packaging-format

@miq-bot add-label enhancement

[2020-07-27 14:44] gtanzillo commented on #417
/cc @bdunne

[2020-07-27 15:11] ahrechushkin opened #592 "manageiq-decorators aren't included"
[code]
I tried to collect cb report

- ManageIQ version Jansa
- OpenShift version

@miq-bot add-label bug

[2020-07-27 15:12] skateman commented on #592
I guess the problem is that the decorators are being used in the affected pod, but not loaded.

[2020-07-27 20:42] bdunne commented on #212
Switching to RPMs pulls in nfs-utils which should be enough to check off PXE provisioning.

[2020-07-28 13:07] bdunne commented on #592
@ahrechushkin Which pod did this log come from?

[2020-07-28 13:14] Fryguy commented on #592
@ahrechushkin Which ManageIQ version specifically?  I ask because we had started an rc build which had build issues.

[2020-07-28 13:27] ahrechushkin commented on #592
@bdunne generic-worker pod
@Fryguy jansa

[2020-07-28 13:32] Fryguy commented on #592
Ok that's strange, then... Will take a look.

cc @simaishi

[2020-07-28 14:26] simaishi commented on #592
@ahrechushkin were the images pulled from ManageIQ docker hub registry?

[2020-07-28 14:33] ahrechushkin commented on #592
@simaishi no, image builds with manageiq-pods

[2020-07-28 14:45] Fryguy opened #595 "Things that do not work in pods"
This is a checklist of the things we know do not work in podified, but do work in appliances.  If you know of more features, please comment here.

- [ ] Embedded Ansible - currently synchronous and thus tied to a 10 minute timeout. See https://github.com/ManageIQ/manageiq/issues/19957

[2020-07-28 14:58] bdunne opened #596 "Redesign fleecing of RHV/oVirt for podified environment"
When fleecing iSCSI and FC datastores on RHV/oVirt we leverage a hook to allow the appliances to connect and read the LUNs directly.  In a podified environment we don't have access to those LUNs from within the pod.  We need to redesign fleecing for these datastore types.  NFS datastores may work, but need to be tested.

[2020-07-28 14:59] bdunne commented on #212
Fleecing RHEV/oVirt has issues requiring redesign that would not be solved just by having root user privileges, opened https://github.com/ManageIQ/manageiq-pods/issues/596 instead.

[2020-07-28 14:59] #212 closed

[2020-07-28 17:03] agrare commented on #595
I believe we had issues with VM remote consoles as well right @skateman ?

[2020-07-28 17:45] skateman commented on #595
I don't know, Nick might have sorted them out.

[2020-07-28 19:56] Fryguy commented on #595
remote console support was added in https://github.com/ManageIQ/manageiq-pods/pull/540, but Nick said he didn't see it working end to end since RHV consoles were different and he didn't have the VMware libs.  There's https://github.com/ManageIQ/manageiq-pods/issues/538 to document how to install the right libraries.

[2020-07-28 21:41] gtanzillo opened #598 "ManageIQ Operator P1 Issues for Kasparov"
The following issues are designated as priority 1 for the Kasparov release

- [x] [Backup and Restore in the Operator](https://github.com/ManageIQ/manageiq-pods/issues/489) (Brandon)
- [x] [Don't deploy the database/kafka if the user provides the corresponding secret](https://github.com/ManageIQ/manageiq-pods/issues/529) (Alberto)

[2020-07-28 21:57] gtanzillo opened #599 "Operator P2 Issues"
The following issues are designated as priority 2 for the Kasparov release
- [x] [Document how to rebuild images with non-redistributable VMware libs](https://github.com/ManageIQ/manageiq-pods/issues/538)
- [ ] [Things that do not work in pods](https://github.com/ManageIQ/manageiq-pods/issues/595)
- [ ] [Support aggregated logging](https://github.com/ManageIQ/manageiq/issues/19582)
- [ ] [Generate

[2020-07-29 13:08] skateman commented on #595
Not sure if we can support html5 consoles in RHV any longer, the provider has this option disabled :confused:

[2020-07-29 16:16] Fryguy commented on #529
@gtanzillo This needs to be P1

[2020-08-03 21:33] abellotti opened #601 "databaseSecret not propagated to the workers"
When specifying a custom databaseSecret other than postgresql-secrets, the new name is not
propagated to the workers causing them to fail starting as follows:

[code]

with oc get pods showing the following

[code]

[2020-08-04 19:48] simaishi opened #602 "Add a release task to update image tags for tagged (=release) build"
As discussed in https://github.com/ManageIQ/manageiq-pods/pull/600

@miq-bot add-label enhancement

[2020-08-04 22:59] abellotti commented on #529
[ ] For PostgreSQL - https://github.com/ManageIQ/manageiq-pods/pull/604

[2020-08-05 13:56] jvlcek opened #605 "Non-standard token introspection endpoint being used."
**The Issue Description**

The code currently uses the Non-standard token introspection endpoint, token_introspection_endpoint.
The standard on is: introspection_endpoint

The [RFC 8414 - OAuth 2.0 Authorization Server Metadata](https://tools.ietf.org/html/rfc8414) defines **_introspection_endpoint_**. It does not mention **_token_introspection_endpoint_**

**How to reproduce:**

Starting with Key

[2020-08-05 13:56] jvlcek commented on #605
@miq-bot assign jvlcek

[2020-08-05 13:57] jvlcek commented on #605
@miq-bot assign @jvlcek

[2020-08-05 14:15] #605 closed

[2020-08-06 16:38] abellotti opened #607 "Error occurring in the event catcher pod when messaging is enabled"
Errors occurring in the 1-vmware-infra-event-catcher-* pod when messaging is enabled for the pods.

Steps to reproduce:

1. Deploy a ManageIQ project with the Messaging service (kafka/zookeeper) enabled:

[code]

2. In ManageIQ create a VmWare provider
3. Select the newly created provider, then run Configuration->Refresh Relationships and Power States
4. Browse over the newly detected Virtual Mach

[2020-08-06 17:40] agrare commented on #607
It appears that you have kafka env vars set up so that the event catcher will publish events to the `manageiq.ems-events` topic but something about that kafka broker is not set up properly.

[2020-08-06 17:40] chessbyte commented on #602
@Fryguy please opine on the best approach

[2020-08-06 20:37] Fryguy commented on #602
We could do a rake task like in other repos, but we're trying to avoid ruby code here eventually... Maybe a Makefile?  I'm not sure.

[2020-08-11 17:47] jvlcek opened #610 "Incorrect permissions on files in APP_ROOT"
Issue Description:

Some pods crash on deployment

[code]

The logs in the failing pods all indicate a permissions error.

e.g.:

[code]

The pods that **are not** crashing have file mode 775 on APP_ROOT

[code]

The pods that **are** crashing have file mode 755 on APP_ROOT

[code]

It appears that the dnf install command in images/manageiq-webserver-worker/Dockerfile could be augmented to set the

[2020-08-11 18:27] chessbyte commented on #610
cc @simaishi

[2020-08-11 18:30] simaishi commented on #610
@jvlcek Do you have an example of working and non-working build?  I can take a look at the images and build logs to see if there is anything that's different, if you know exactly which image works and not.

[2020-08-11 20:16] jvlcek commented on #610
@simaishi I was just launching from latest. @bdunne, @abellotti and I all encountered this issue with the latest images. @bdunne Posted a PR with the fix.

[2020-08-11 20:27] simaishi commented on #610
Yes, I know there is a PR, but I'm just trying to understand why the behavior is inconsistent. Do you know which image worked?

[2020-08-11 20:42] jvlcek commented on #610
When I tried to launch yesterday I hit this issue. Last week I did not. I've used the default latest images both times.

[2020-08-12 11:32] chessbyte commented on #610
Fixed via https://github.com/ManageIQ/manageiq-rpm_build/pull/82

[2020-08-12 11:32] #610 closed

[2020-08-12 21:23] abellotti commented on #607
Thanks @agrare for the pointers to running the manageiq-messaging client on the pod, that allowed me to debug further.

As I've been trying to test https://github.com/ManageIQ/manageiq-pods/pull/604 on the kafka side, I was seeing the same errors mentioned here when deploying our own Kafka as part of the project.

With configuring an external kafka server, I was able to publish messages to it from

[2020-08-13 07:27] srajmane opened #612 "Steps for Kubernetes deployment"
How to deploy ManagIQ in Kubernetes on Intel Ubuntu 18.04?  Please provide steps.

Thanks in advance.
@miq-bot add-label question
@miq-bot add-label help wanted

[2020-08-13 11:28] chessbyte commented on #612
@carbonin I thought you wrote documentation for this but cannot find it.  cc @Fryguy @gtanzillo @bdunne @abellotti @jvlcek

[2020-08-13 12:50] carbonin commented on #612
https://www.manageiq.org/docs/get-started/kubernetes and also https://github.com/ManageIQ/manageiq-pods#kubernetes-support

[2020-08-13 12:50] carbonin commented on #612
Also https://github.com/ManageIQ/manageiq-pods/issues/351 is still open to make it more clear in the README

[2020-08-13 14:49] chessbyte commented on #612
@srajmane Please read the documents linked [above](https://github.com/ManageIQ/manageiq-pods/issues/612#issuecomment-673458605).  If you find anything that does not work or where the instructions are wrong, please let us know by opening an issue.

[2020-08-13 14:49] #612 closed

[2020-08-13 17:16] srajmane commented on #612
@chessbyte and @carbonin I didn't install oc, is it possible to deploy ManageIQ in Kubernetes without openshift?

[2020-08-13 17:28] chessbyte commented on #612
can `kubectl` be used instead of `oc`?

[2020-08-13 17:40] carbonin commented on #612
Not with the templates. I would suggest using the operator in that case.

[2020-08-13 17:51] chessbyte commented on #612
@carbonin at this point, is there any reason to NOT use the ManageIQ operator for podified deployments?

[2020-08-13 17:57] carbonin commented on #612
Nope, that's why I opened https://github.com/ManageIQ/manageiq-pods/issues/584 :wink:

[2020-08-13 17:58] carbonin commented on #612
And by extension https://github.com/ManageIQ/manageiq.org/issues/867

[2020-08-13 18:01] srajmane commented on #612
@carbonin Any documentation to deploy ManageIQ with operator?

[2020-08-13 18:14] bdunne commented on #612
@srajmane Here is the documentation for the operator: https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/README.md

[2020-08-18 20:55] #529 closed

[2020-09-01 13:48] simaishi commented on #592
@ahrechushkin is this still an issue? If it is, please share the details of your build. Based on the error message where it shows the path to the ui-classic repo is `/opt/manageiq/manageiq-ui-classic`, you're doing something different in your build and the files are not in the normal location.

[2020-09-03 12:02] ahrechushkin commented on #592
Hello! @simaishi
Actually i fixed this problem
idn how it work in your builds, cause we aren't use miq rpms

[2020-09-03 12:02] #592 closed

[2020-09-07 17:33] dpkulkarni opened #622 "Support zLinux (s390x) platform - Unable to build docker images with local RPMs"
I am trying to build ManageIQ on zLinux(s390x) architecture.

I have added the missing repos/packages and able to build the rpms for ManageIQ.:
[code]

Motivation:
Red Hat Enterprise Linux 8 is already supporting s390x (IBM Z ). We want to port ManageIQ on zLinux architecture

Issue:
I am trying to build docker images using the generated rpms for s390x arch following the documentation (https://git

[2020-09-08 12:11] dpkulkarni commented on #622
Further debugging -
I tried to executing the `create_local_yum_repo.sh` manual and found that  Error: No matching repo to modify: manageiq-11-kasparov*.
[code]
Any pointers for me to move ahead?

[2020-09-08 12:24] simaishi commented on #622
@dpkulkarni The error message says it can't find `ansible`. Can you make sure epel repo is added? You'll need to add all repos and configure others as listed in Dockerfile:

[code]

[2020-09-08 15:30] dpkulkarni commented on #622
@simaishi

`http://mirror.centos.org/centos/8.2.2004/BaseOS/${ARCH}/os/Packages/centos-repos-8.2-2.2004.0.1.el8.${ARCH}.rpm \
      http://mirror.centos.org/centos/8.2.2004/BaseOS/${ARCH}/os/Packages/centos-gpg-keys-8.2-2.2004.0.1.el8.noarch.rpm \`
Centos repos are not available for s390x so I have installed the the below repo for s390x and `ansible` is installed.

[code]
With this I am getting th

[2020-09-08 15:56] simaishi commented on #622
The build should be using ruby 2.6 only (`dnf -y --disableplugin=subscription-manager module enable ruby:2.6 `), so I'm not sure where 2.5 is coming in your build...

Can you check your rpm_build machine and see if that's using ruby 2.5?

[2020-09-08 16:06] simaishi commented on #622
But.. either way, it should be finding the same ruby version between rpm_build and manageiq-base. So the same set of repos and repo configurations should be used in both.

[2020-09-10 15:46] jrafanie opened #624 "operator-sdk 1.0.0 support"
I'm not sure if we're working towards 1.0.0 support but I ran into an issue while building the operator yesterday and had to revert to 0.19.3 to get the operator built.  I'm opening this issue so we can track if there's other things that need to be done for 1.0.0 support.

- [ ] `operator-sdk build` build, used [here](https://github.com/ManageIQ/manageiq-pods/blob/8775c5d39c32869fc8a514e2bb023e83c

[2020-09-10 15:46] jrafanie commented on #624
cc @simaishi

[2020-09-10 15:57] jrafanie commented on #551
Along these lines, I had to push images and try to deploy them using my CR and it was trial and error to get it working and making these consistent would make this a lot easier.

Additionally, extracting the default values out of the go code and into a template CR file that you can make a copy and edit would make the process of customizing the images you want to deploy much easier.

Here's the CR

[2020-09-10 16:03] jrafanie commented on #624
Note, it looks like build machines use 0.15.x from: https://github.com/ManageIQ/manageiq-pods/pull/432 and 0.17.0 support isn't done either: https://github.com/ManageIQ/manageiq-pods/issues/477 ,  so it's likely 0.19.x has other problems I didn't encounter or notice.

[2020-09-10 18:38] bhadrim opened #625 "Upgrade Postgresql for security fixes and need instructions for customers on how to upgrade their current installation."
The Postgresql minor release that gets into the system is based on the build time. The version that is built may have security issues that gets fixed in newer minor release. This enhancement request is to address

1. We need to deliver instructions for customers on how to upgrade their current installation to fix the security issues. (this is applicable to both pod and appliance)

2. We need to re

[2020-09-10 18:39] Fryguy commented on #625
cc @simaishi .  We probably should be building out container-postgresql a bit more frequently.

[2020-09-10 19:12] simaishi commented on #625
manageiq/postgresql image gets auto-rebuilt when a new centos postgresql image (centos/postgresql-10-centos7) gets released. It was last rebuilt 15 days ago and contains 10.12

I don't see CVE-2020-14349 being fixed in Software Collections yet. When centos releases a new image with the fix, our postgresql image will pick that up as well.

Please note, we're using manageiq/postgresql:10 (not 'lates

[2020-09-10 19:15] simaishi commented on #625
We should probably delete 'latest'?

[2020-09-10 19:23] simaishi commented on #625
As for updating images for pods, the process should be same as updating any other pods images. I don't know how pods update work or if existing instruction covers it.  cc @bdunne

The appliance update will be same as any other rpm update (=yum update).

[2020-09-11 15:24] simaishi commented on #522
We do support taking RPMs from local machine, and I'm not sure if there is a need for this feature, so closing.

[2020-09-11 15:24] #522 closed

[2020-09-14 11:35] dpkulkarni commented on #622
@simaishi

Command: RPM_BUILD_IMAGE=localhost/manageiq/rpm_build bin/build -d images -r manageiq -l
 Further in trying to build the docker images:

1.  The image building failed for not getting `ovirt-ansible-roles` for s390x platform. I tried to find the `noarch` version from https://resources.ovirt.org/pub/ and added the below mentioned rpms:
ovirt-release43.rpm
ovirt-ansible-roles-1.2.3-1.el8.n

[2020-09-14 12:33] simaishi commented on #622
@dpkulkarni I think you're running into all those package issues because there is no s390x for CentOS 8 and many packages come from CentOS repos. In that case, you really have to look for each of those missing packages in other repos or you have to build your own. It will be easy if it's just a few, but l suspect there will be a lot more. I'm honestly not sure what the expectation should be here a

[2020-09-14 17:22] bhadrim commented on #625
@simaishi Would customer need to start/stop anything before yum/rpm update of postgres or just an yum/rpm update is good enough? Thank you.

[2020-09-15 08:27] dpkulkarni commented on #622
Thank you  @simaishi I am able to build images after commenting out `ovirt-ansible-roles` & `v2v-conversion-host-ansible`.
[code]
I will try to build the `python3-ovirt-engine-sdk4` for zLinux to get the proper images. Any pointers would help